<div class="recent-orders bg-white" style="border-radius: 15px;">
  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #7B4C50; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <ng-container
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('4') || roleId.includes('5')">
            <li class="nav-item mr-2"><a class="nav-link"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
                style="padding: 10px; color: #000; cursor: pointer;">Khám và
                điều
                trị</a></li>
            <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/mauvat/')">Mẫu vật</a>
            </li>
            <li class="nav-item mr-2"><a class="nav-link active" style="padding: 10px; color: #000; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
            </li>
          </ng-container>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="LHtab">
      <div class="row" style="padding-top: 10px; padding-right: 80px;">
        <div class="col-12">
          <button class="btn button-timekeeping float-end" (click)="setPatient()" data-bs-toggle="modal"
            data-bs-target="#myModal">
            <i class="bi bi-plus-circle-fill"></i>
            Đặt lịch tái khám</button>
        </div>
      </div>
      <div class="table-container" style="margin-top: 10px;">
        <table>
          <thead class="sticky-thead">
            <tr>
              <th>Thời gian</th>
              <th>Bác sĩ</th>
              <th>Lý do</th>
              <th>Phân loại điều trị</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="patientAppointments.length > 0; else noAppoitment">
              <ng-container *ngFor="let gf of patientAppointments">
                <ng-container *ngFor="let ap of gf.appointments">
                  <tr *ngFor="let detail of ap.details">
                    <ng-container *ngIf="detail.migrated == 'false'">
                      <td>{{timestampToTime(detail.time)}} - {{timestampToDate(gf.date) | date: 'dd-MM-yyyy'}}</td>
                      <td>{{detail.doctor}}</td>
                      <td>{{detail.reason}}</td>
                      <td>{{detail.procedure_name}}</td>
                      <td>
                        <button class="btn btn-primary p-1 m-r-3" style="padding: 2px 3px; margin-right: 3px"
                          data-bs-toggle="modal" data-bs-target="#editAppointmentModal"
                          (click)="editAppointment(detail, gf.date)">
                          <i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger p-1" style="padding: 2px 5px"
                          (click)="deleteAppointment(detail, gf.date)"> <i class="bi bi-trash"></i></button>
                      </td>
                    </ng-container>
                  </tr>

                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
        <ng-template #noAppoitment>
          <p class="no-appointment-message text-center">Không có "Lịch hẹn" nào được tìm thấy</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-popup-datlichtaikham [datesDisabled]="datesDisabled" [Patient]="Patient"></app-popup-datlichtaikham>
<app-popup-sualichtaikham [datesDisabled]="datesDisabled" [selectedAppointment]="selectedAppointment"
  [dateString]="dateString" [timeString]="timeString"></app-popup-sualichtaikham>