@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}


a {
  color: var(--custom-color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.recent-orders {
  margin-top: 1.3rem;
}

.recent-orders h2 {
  margin-bottom: 0.8rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.content-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}

.table-container {
  overflow-x: auto; /* Cho phép cuộn ngang nếu bảng rộng hơn container */
  overflow-y: auto; /* Cho phép cuộn dọc nếu bảng cao hơn container */
  max-height: 500px; /* Hoặc bất kỳ giá trị nào phù hợp với design của bạn */
}

table {
  width: 100%; /* Bảng sẽ chiếm đủ chiều rộng của container */
  border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
  background-color: #fff; /* Màu nền cho bảng, nếu cần */
}

thead {
  background-color: #f2f2f2; /* Màu nền cho header của bảng */
}

th, td {
  padding: 8px; /* Thêm padding cho các ô */
  text-align: left; /* Căn chỉnh văn bản bên trái */
  border-bottom: 1px solid #ddd; /* Đường kẻ ngăn cách các hàng */
}

tr:hover {background-color: #f5f5f5;} /* Màu nền khi hover vào hàng */

th {
  height: 50px; /* Cố định chiều cao cho header */
  text-align: center; /* Căn giữa nội dung trong header */
}

.sticky-thead th {
  position: sticky; /* Tiêu đề bảng cố định khi cuộn */
  top: 0; /* Đặt tiêu đề bảng ở đầu trang */
  background-color: #f8f9fa; /* Màu nền cho tiêu đề */
  border-top: 1px solid #dee2e6; /* Đường viền trên cho tiêu đề */
  z-index: 2; /* Đảm bảo tiêu đề ở trên các hàng khác khi cuộn */
}

.btn {
  background-color: #007bff; /* Màu nền cho nút */
  color: white; /* Màu chữ cho nút */
  border: none; /* Không viền cho nút */
  padding: 0.375rem 0.75rem; /* Khoảng cách xung quanh nội dung nút */
  border-radius: 0.25rem; /* Bo tròn góc nút */
  cursor: pointer; /* Con trỏ chuột thay đổi khi di chuyển lên nút */
}

.btn:hover {
  background-color: #0056b3; /* Màu nền cho nút khi hover */
}

.bi-pencil-square {
  font-size: 1rem; /* Kích thước biểu tượng chỉnh sửa */
}


@media screen and (max-width: 1200px) {

 .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

}

@media screen and (max-width: 768px) {

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

 .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  table {
    width: 100%;
    margin: 0;
  }

}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #FEDDCC;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: #000;
  border-radius: 55px;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #FEDDCC;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: #000;
  border-radius: 55px;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}
