<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thêm lịch hẹn</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 mt-3">
              <div class="form-add">
                <div class="form-group mt-2 input-patient">
                  <label for="patientName">Tên bệnh nhân <span class="required">*</span></label>
                  <ng-select [items]="patientList" bindLabel="patientInfor" [(ngModel)]="patientInfor"
                    bindValue="patientInfor" (keyup)="onsearch($event)" [notFoundText]="notFoundMessage">
                  </ng-select>
                  <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.patientName}}</p>
                </div>
              </div>
            </div>
            <div class="form-group mt-2">

              <label for="treatment">Lý do khám <span class="required">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="reason">

            </div>
            <div class="form-group mt-2">
              <label for="treatment">Loại điều trị <span class="required">*</span></label>
              <select class="form-control" id="treatment" [(ngModel)]="procedure">
                <option selected value="1">Phân loại điều trị</option>
                <option *ngFor="let a of listGroupService" value={{a.medical_procedure_group_id}}>{{a.name}}</option>
              </select>
              <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.procedure}}</p>
            </div>
            <div class="col mt-2">
              <label for="treatment">Chọn ngày khám <span class="required">*</span></label>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                      [placement]="'right'" placeholder="Chọn ngày hẹn" [minDate]="currentDate" [maxDate]="maxDate">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" style="height: 48px;" (click)="d.toggle()"
                        type="button">
                        <i class="bi bi-calendar3"></i>
                      </button>
                    </div>
                  </div>
                  <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.appointmentDate}}</p>
                </div>
              </form>
            </div>
            <div class="form-group mt-2">
              <label for="appointmentTime" name="userCredential">Giờ hẹn khám <span class="required">*</span></label>
              <input type="time" class="form-control date-input-custom" id="appointmentTime" name="time"
                [(ngModel)]="appointmentTime">
              <!-- <ngb-timepicker [(ngModel)]="time" [meridian]="false" class="form-control date-input-custom"></ngb-timepicker> -->
              <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.appointmentTime}}</p>
            </div>
            <div class="doctors-list mt-2">
              <label for="appointmentTime" name="userCredential">Chọn Bác Sĩ</label>
              <!--                <ul class="list-group" *ngIf="totalDoctorFilter != 0">-->
              <!--                  <li class="list-group-item" *ngFor="let doctor of listDoctorFilter"-->
              <!--                    [ngClass]="{'selected': doctor.doctorName === selectedDoctor}" (click)="selectDoctor(doctor)">-->
              <!--                    &lt;!&ndash; <img [src]="doctor.image" style="width: 100px; height: 100px; object-fit: cover;"-->
              <!--                         class="doctor-image" [alt]="doctor.name"> &ndash;&gt;-->
              <!--                    <div class="doctor-info">-->
              <!--                      <span class="card-title">{{ doctor.doctorName}}</span>-->
              <!--                    </div>-->
              <!--                  </li>-->
              <!--                </ul>-->
              <!--                <ul class="list-group" *ngIf="totalDoctorFilter == 0">-->
              <!--                  <li class="list-group-item" *ngFor="let doctor of listDoctorDisplay"-->
              <!--                    [ngClass]="{'selected': doctor.doctorName === selectedDoctor}" (click)="selectDoctor(doctor)">-->
              <!--                    &lt;!&ndash; <img [src]="doctor.image" style="width: 100px; height: 100px; object-fit: cover;"-->
              <!--                         class="doctor-image" [alt]="doctor.name"> &ndash;&gt;-->
              <!--                    <div class="doctor-info">-->
              <!--                      <span class="card-title">{{ doctor.doctorName }}</span>-->
              <!--                    </div>-->
              <!--                  </li>-->
              <!--                </ul>-->
              <input type="text" class="form-control" [(ngModel)]="AppointmentBody.appointment.doctor">
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button type="button" id="cancel-appointment" class="btn btn-cancel me-2" data-bs-dismiss="modal">Quay
              lại</button>
            <button type="button" class="btn button-timekeeping" (click)="onPostAppointment()"><i class="bi bi-floppy2"></i> Lưu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-confirm-service></app-popup-confirm-service>
