<!-- popup-edit-staff.component.html -->
<div class="modal" id="editAppointmentModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title text-center w-100">Chỉnh sửa nhân viên</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="image-container" style="border: 3px dotted #ccc;" (click)="fileInput.click()">
                <img [src]="imageURL" alt="ẢNH" class="text-center">
                <input type="file" disabled (change)="onFileSelected($event)" accept="image/*" #fileInput style="display: none;">
              </div>
              <i class="text-center" style="font-size: 12px;">Bấm vào ô vuông vào để thêm ảnh</i>
            </div>

            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-3">Họ và tên <span class="required">*</span></label>
                <div class="col-9">
                  <input type="text" disabled class="form-control" [(ngModel)]="staff.name">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.name}}
                    </p>
                  </div>
                </div>

              </div>
              <div class="form-group row mt-3">
                <label for="dob" class="col-3">Ngày sinh <span class="required">*</span></label>
                <div class="col-9">
                  <input type="date" disabled [(ngModel)]="staff.DOB" class="form-control date-input-custom" id="dob" name="dob">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.dob}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label class="col-3">Địa chỉ <span class="required">*</span></label>
                <div class="col-9">
                  <input type="text" disabled [(ngModel)]="staff.address" class="form-control" >
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.address}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="note" class="col-3">Ghi chú:</label>
                <div class="col-9">
                  <textarea type="text" disabled [(ngModel)]="staff.description" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label>Email <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <input type="email" disabled [(ngModel)]="staff.email" class="form-control">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.email}}
                    </p>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label>Số điện thoại <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">(+84)</span>
                    </div>
                    <input type="text" disabled class="form-control" [(ngModel)]="staff.phone" aria-label="phoneNumber" aria-describedby="basic-addon1">
                  </div>
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.phone}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label for="role">Vai trò <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <select id="role" [(ngModel)]="staff.role" (change)="onChangeRole(role)" class="form-select" aria-label="Default select example">
                    <option value="0">Chức vụ</option>
                    <option value="2">Bác sĩ</option>
                    <option value="3">Lễ tân</option>
                    <option value="4">Điều dưỡng</option>
                    <option value="5">Điều dưỡng trưởng</option>
                  </select>
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.role}}
                    </p>
                  </div>


                </div>
              </div>
              <div class="row">
                <div *ngIf="serviceGroups.length > 0" class="checkbox-group col-md-12 row">
                  <label class="chuyen-nganh">Chuyên ngành</label>
                  <div class="checkbox-row col-md-4" *ngFor="let s of serviceGroups">
                    <div *ngIf="listDisplaySpe.includes(s.medical_procedure_group_id)">
                      <input type="checkbox" [value]="s.medical_procedure_group_id" (change)="onCheckboxChange(s)" [(ngModel)]="s.checked">
                      <span class="checkbox-label">{{ s.name }}</span>
                    </div>
                    <div *ngIf="!listDisplaySpe.includes(s.medical_procedure_group_id)">
                      <input type="checkbox" [value]="s.medical_procedure_group_id" (change)="onCheckboxChange(s)" [(ngModel)]="s.checked">
                      <span class="checkbox-label">{{ s.name }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label for="phone">Giới tính <span class="required">*</span></label>
                </div>
                <div class="form-group col-md-9">
                  <ng-container *ngIf="staff.gender == 'Nam'">
                    <input type="radio" disabled class="radio m-2" id="male" name="gender" checked>Nam
                    <input type="radio" disabled class="radio m-2" id="female" name="gender"> Nữ
                  </ng-container>
                  <ng-container *ngIf="staff.gender == 'Nữ'">
                    <input type="radio" disabled class="radio m-2" id="male" name="gender">Nam
                    <input type="radio" disabled class="radio m-2" id="female" name="gender" checked> Nữ
                  </ng-container>
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.gender}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" [disabled]="disable" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
          <button type="button" [disabled]="disable" class="btn button-timekeeping" data-bs-dismiss="modal"
            (click)="saveEditedStaff(staff.username, staff.role)"><i class="bi bi-floppy2"></i> Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>
