<div class="page-wrapper bg-wrapper m-t-27">
  <div class="content">
    <div class="buy-form">
      <div class="row">
        <div class="col-sm-4 col-3">
          <h4 class="page-title">Chấm công</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-3">
          <a href="add-employee.html" class="btn btn-custom btn-rounded m-r-10"><i class="fas fa-plus"></i> Thêm bệnh
            nhân</a>
        </div>
        <div class="col-12 col-sm-6">
          <input type="text" class="form-control form-control-sm mx-auto text-center date-input-custom"
            placeholder="Tìm kiếm theo Mã số, Tên bệnh nhân">
        </div>
        <div class="col-12 col-sm-3">
          <div class="form-group bg-hover select-focus">
            <select class="form-control form-select form-control-sm mb-3 mx-auto text-center dropdown-custom">
              <option>Sắp xếp</option>
              <option>Cạo vôi răng</option>
            </select>
          </div>
        </div>
      </div>

      <div class="container mt-4">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        123456
                        <button type="button" class="btn-close float-end btn-danger" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <img src="https://vnn-imgs-a1.vgcloud.vn/icdn.dantri.com.vn/2021/05/26/ngo-ngang-voi-ve-dep-cua-hot-girl-anh-the-chua-tron-18-docx-1622043349706.jpeg" alt="Patient Image" class="img-fluid">
                        <h5 class="card-title">Nguyễn Thị Lan Hương</h5>
                        <p class="card-text">
                            <i class="bi bi-telephone-fill"></i> 123-456-7890
                        </p>
                        <p class="card-text">
                            <i class="bi bi-geo-fill"></i> Hà Nội, Việt Nam
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
              <div class="card">
                  <div class="card-header">
                      123456
                      <button type="button" class="btn-close float-end btn-danger" aria-label="Close"></button>
                  </div>
                  <div class="card-body">
                      <img src="https://vnn-imgs-a1.vgcloud.vn/icdn.dantri.com.vn/2021/05/26/ngo-ngang-voi-ve-dep-cua-hot-girl-anh-the-chua-tron-18-docx-1622043349706.jpeg" alt="Patient Image" class="img-fluid">
                      <h5 class="card-title">Nguyễn Thị Lan Hương</h5>
                      <p class="card-text">
                          <i class="bi bi-telephone-fill"></i> 123-456-7890
                      </p>
                      <p class="card-text">
                          <i class="bi bi-geo-fill"></i> Hà Nội, Việt Nam
                      </p>
                  </div>
              </div>
          </div>
      </div>
    </div>

    </div>
  </div>
</div>
