<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="sep-recent-orders">
  <section class="row table__header">
    <div class="col-2">
      <div class="form-group form-group-filter">
        <button href="#" class="btn button-add btn-add-group-service float-right" data-bs-toggle="modal"
          data-bs-target="#addGroupModal"><i class="bi bi-plus-circle"></i> Thêm mới
        </button>
      </div>
    </div>

    <div class="col-8">
      <div class="input-group">
        <input type="search search-custom" placeholder="Tìm kiếm" [(ngModel)]="searchTerm"
          (input)="getMedicalProcedureChildren(null)">
      </div>
    </div>
    <div class="col-2">
      <button href="#" class="btn button-add btn-add-service float-end" data-bs-toggle="modal"
        data-bs-target="#addServiceModal" style="margin-right: 1rem"><i class="bi bi-plus-circle"></i> Thêm mới
      </button>
    </div>
  </section>
  <div class="row">
    <div class="col-4 table-container">
      <table *ngIf="medicalProcedureGroups.length > 0;else noDataMessage">
        <thead class="sticky-thead">
          <tr>
            <th>Mã nhóm</th>
            <th>Tên nhóm thủ thuật</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody class="groupservice-body">
          <tr *ngFor="let t of filteredMgData" title="Xem thông tin thủ thuật của nhóm {{t.mg_name}}" [ngClass]="{'active': t.mg_id === activeGroupId}"
            (click)="getMedicalProcedureChildren(t.mg_id);">
            <td>{{t.mg_id}}</td>
            <td><a class="title-group-service">{{t.mg_name}}</a></td>
            <td class="text-center">
              <button href="#" class="btn btn-primary float-right btn-rounded" title="Sửa nhóm thủ thuật" data-bs-toggle="modal"
                data-bs-target="#editGroupModal" style="padding: 2px 5px; margin-right: 3px"><i
                  class="bi bi-pencil-square"
                  (click)="openEditGroupService(t.mg_id,t.mg_name,t.description)"></i>
              </button>
              <button href="#" class="btn btn-danger float-right btn-rounded" title="Xoá nhóm thủ thuật" style="padding: 2px 5px;"
                (click)="deleteMedicalProcedureGroup(t.mg_id,t.mg_name)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noDataMessage>
        <div class="row sticky-thead-no-data">
          <div class="col-md-3">Mã nhóm</div>
          <div class="col-md-7">Tên nhóm thủ thuật</div>
          <div class="col-md-2">Thao tác</div>
        </div>
        <div class="text-center row no-data">
        <span>
        Không có dữ liệu
        </span>
        </div>
      </ng-template>
    </div>
    <div class="col-1"></div>
    <div class="col-7 table-container">
      <table *ngIf="medicalProcedureList.length > 0; else noDataMessage1">
        <thead class="sticky-thead">
          <tr>
            <th>Mã TT</th>
            <th>Tên thủ thuật</th>
            <th>Nhóm thủ thuật</th>
            <th>Đơn giá</th>
            <th>Mô tả</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of medicalProcedureList">
            <td>{{s.mp_id}}</td>
            <td class="truncate" title="{{s.mp_name}}">{{s.mp_name}}</td>
            <td>{{s.mg_name}}</td>
            <td>{{s.mp_price}}</td>
            <td>{{s.mp_description}}</td>
            <td class="text-center">
              <button href="#" class="btn btn-primary float-right btn-rounded" title="Sửa thủ thuật" (click)="openEditService(s.mp_id,s)"
                style="padding: 2px 5px; margin-right: 3px" data-bs-toggle="modal" data-bs-target="#editServiceModal"><i
                  class="bi bi-pencil-square"></i></button>
              <button href="#" style="padding: 2px 5px" class="btn btn-danger float-right btn-rounded" title="Xoá thủ thuật"
                (click)="deleteMedicalProcedure(s.mp_id,s.mp_name)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noDataMessage1>
        <div class="row sticky-thead-no-data">
          <div class="col-md-1">Mã TT</div>
          <div class="col-md-3">Tên thủ thuật</div>
          <div class="col-md-3">Nhóm thủ thuật</div>
          <div class="col-md-1">Đơn giá</div>
          <div class="col-md-3">Mô tả</div>
          <div class="col-md-1">Thao tác</div>
        </div>
        <div class="text-center row no-data">
        <span>
        Không có dữ liệu
        </span>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<app-popup-add-group-service [medicalProcedureGroups]="medicalProcedureGroups"></app-popup-add-group-service>
<app-popup-delete-group-service></app-popup-delete-group-service>
<app-popup-delete-service></app-popup-delete-service>
<app-popup-add-service [filteredMgData]="filteredMgData"
  [medicalProcedureGroups]="medicalProcedureGroups"></app-popup-add-service>
<app-popup-edit-group-service [id]="id" [name]="name" [description]="description"
  [medicalProcedureGroups]="medicalProcedureGroups"></app-popup-edit-group-service>
<app-popup-edit-service [medicalProcedureGroups]="medicalProcedureGroups" [filteredMgData]="filteredMgData"
  [serviceObject]="service" [id]="idService"></app-popup-edit-service>
