* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.sep-recent-orders .row{
  /*margin-top: 1.5%;*/
}
.button-add{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  outline: 0px;
  padding: 10px 20px;
}
.groupservice-body a{
  text-align: center;
  color: black !important;
}
.groupservice-body :hover{
  background-color: #d9d9d9;
}
.table__header {
  width: 100%;
  /*height: 10%;*/
  background-color: #fff4;
  /*padding: .8rem 1rem;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: 10px;*/
}
.table__header .input-group {
  width: 60%;
  height: 4vh;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;
  border: 1px solid #7B4C50;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}
/*.table__header .input-group:hover {*/
/*  width: 90%;*/
/*  background-color: #fff8;*/
/*  box-shadow: 0 .1rem .4rem #0002;*/
/*}*/


.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-primary:hover{
  background-color: #1c42af;
}
.table__header{
  margin-top: 3%;
  margin-bottom: 3%;
}
.table__header .input-group{
  margin: auto;
}
