@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

.custom-dark-mode-variables {
  --custom-color-background: #181a1e;
  --custom-color-white: #202528;
  --custom-color-dark: #edeffd;
  --custom-color-dark-variant: #a3bdcc;
  --custom-color-light: rgba(0, 0, 0, 0.4);
  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.web-wrapper {
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--custom-color-dark);
}

.recent-orders {
  margin-top: 1.3rem;
}

.recent-orders h2 {
  margin-bottom: 0.8rem;
}

table {
  background-color: var(--custom-color-white);
  width: 100%;
  padding: var(--custom-card-padding);
  text-align: center;
  box-shadow: var(--custom-box-shadow);
  border-radius: var(--custom-card-border-radius);
  transition: all 0.3s ease;
}

table:hover {
  box-shadow: none;
}
table thead th {
  height: 2.8rem;
  border-bottom: 1px solid #7B4C50;
  color: var(--custom-color-dark-variant);
  border-right: 1px solid #7B4C50;
}

table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid #7B4C50;
  color: var(--custom-color-dark-variant);
  border-right: 1px solid #7B4C50;
}

table tbody tr:last-child td {
  border: none;
}

a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}


@media screen and (max-width: 1200px) {
  .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

  table {
    width: 83vw;
  }

  table thead tr th:last-child,
  table thead tr th:first-child {
    display: none;
  }

  table tbody tr td:last-child,
  table tbody tr td:first-child {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  .recent-orders table {
    width: 100%;
    margin: 0;
  }

}

.btn-add-custom {
  padding: 10px 20px;
  border-radius: 27px;
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  margin-right: 10px;
}

.input-custom {
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-redirect {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}


.custom-table thead tr {
  background-color: var(--custom-color-background);
  border-radius: 10px;
  border: 1px solid #7B4C50;
}

.custom-table thead tr th {
	color: #7B4C50;
	font-weight: 600
}

.custom-table tr {
	background-color: #7B4C50;
  border: 1px solid #7B4C50;
}

.custom-table tr td {
  border-bottom: 1px solid #7B4C50;
}

.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
	padding: 14px 8px;
	vertical-align: middle
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.time-clockin {
  color: #1B9C85;
}

.time-clockout {
  color: red;
}
