<div class="recent-orders">
  <div class="row mt-5">
    <div class="col-6">
    </div>


    <div class="col-6">
      <select class="form-select input-custom float-end" style="width: 12rem;" aria-label="Default select example">
        <option selected>Tất cả nhân viên</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px;">Chấm công</h2>
  <table class="table table-bordered custom-table">
    <thead>
      <tr class="text-center">
        <th>Tên nhân viên</th>
        <th colspan="2">Thứ 2</th>
        <th colspan="2">Thứ 3</th>
        <th colspan="2">Thứ 4</th>
        <th colspan="2">Thứ 5</th>
        <th colspan="2">Thứ 6</th>
        <th colspan="2">Thứ 7</th>
        <th colspan="2">Chủ nhật</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td></td>
        <td>Clockin</td>
        <td>Clockout</td>
        <td>Clockin</td>
        <td>Clockout</td>
        <td>Clockin</td>
        <td>Clockout</td>
        <td>Clockin</td>
        <td>Clockout</td>
        <td>Clockin</td>
        <td>Clockout</td>
        <td>Clockin</td>
        <td>Clockout</td>
        <td>Clockin</td>
        <td>Clockout</td>
      </tr>

      <tr>
        <td style="border-right: 1px solid #7B4C50;">
          <p style="color: brown;">Phạm Thanh Long</p>
        </td>
        <td style="border-right: 1px solid #7B4C50;"><button class="button-timekeeping">Đã đến</button>
          <p class="time-clockin">9:00 AM</p>
        </td>
        <td style="border-right: 1px solid #7B4C50;"><button class="button-timekeeping">Đã về</button>
          <p class="time-clockout">17:00 PM</p>
        </td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
        <td style="border-right: 1px solid #7B4C50;"></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End of Recent Orders -->
