<div class="sep-recent-orders">
  <div class="row" style="margin-left: 10px">
    <ng-container *ngIf="roleId.includes('1') || roleId.includes('3')">
      <div class="col-md-1">
        <a routerLink="/cham-cong" routerLinkActive="active-link" class="page-title active-link">Chấm công</a>
      </div>
    </ng-container>
    <div class="col-md-2">
      <a routerLink="/dang-ky-lich-lam-viec" routerLinkActive="active-link" class="page-title">Đăng kí lịch làm
        việc</a>
    </div>
    <div class="col-md-2">
      <a routerLink="/theo-doi-cham-cong" routerLinkActive="active-link" class="page-title">Theo dõi
        chấm công</a>
    </div>
  </div>

  <div class="timekeeping-container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
        <select class="form-select input-custom float-end" style="width: 12rem; margin-bottom: 10px;"
          aria-label="Default select example" [(ngModel)]="selectedFilter" (change)="filterStaff()">
          <option value="" selected>Tất cả nhân viên</option>
          <option value="1">Bác sĩ</option>
          <option value="2">Y tá</option>
          <option value="3">Y tá trưởng</option>
          <option value="4">Lễ tân</option>
        </select>
      </div>
    </div>
      <table>
        <thead>
          <tr>
            <th>Tên nhân viên</th>
            <th colspan="2">Thứ 2</th>
            <th colspan="2">Thứ 3</th>
            <th colspan="2">Thứ 4</th>
            <th colspan="2">Thứ 5</th>
            <th colspan="2">Thứ 6</th>
            <th colspan="2">Thứ 7</th>
            <th colspan="2">Chủ nhật</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Giờ đến</td>
            <td>Giờ về</td>
            <td>Giờ đến</td>
            <td>Giờ về</td>
            <td>Giờ đến</td>
            <td>Giờ về</td>
            <td>Giờ đến</td>
            <td>Giờ về</td>
            <td>Giờ đến</td>
            <td>Giờ về</td>
            <td>Giờ đến</td>
            <td>Giờ về</td>
            <td>Giờ đến</td>
            <td>Giờ về</td>
          </tr>
          <tr *ngFor="let staff of listStaffDisplay">
            <td>
              {{staff.staffName}}
            </td>
            <ng-container *ngFor="let timestamp of weekTimestamps; let dayIndex = index">
              <ng-container *ngIf="timestamp === currentDateTimeStamp">
                <td>
                  <button class="button-timekeeping" (click)="onClockin(staff)"
                          [disabled]="staff.isClockin">{{staff.clockInStatus}}</button> <br />
                  
                  <p *ngIf="!roleId.includes('1')">{{staff.timeClockin}}</p>
                  <input type="time" [(ngModel)]="staff.timeClockin" [class]="timeClockinColor"
                         (change)="onClockin(staff)" *ngIf="roleId.includes('1')">
                </td>
                <td>
                  <button class="button-timekeeping" (click)="onClockout(staff)"
                          [disabled]="staff.isClockout">{{staff.clockOutStatus}}</button> <br />
                  <p *ngIf="!roleId.includes('1')">{{staff.timeClockout}}</p>
                  <input type="time" [(ngModel)]="staff.timeClockout" [class]="timeClockoutColor"
                         (change)="onClockout(staff)" *ngIf="roleId.includes('1')">
                </td>
              </ng-container>
              <ng-container *ngIf="timestamp !== currentDateTimeStamp">
                <td>
                  {{ staff.weekTimekeeping[timestamp]?.clockIn || '' }}
                </td>
                <td>
                  {{ staff.weekTimekeeping[timestamp]?.clockOut || '' }}
                </td>
              </ng-container>
            </ng-container>
          </tr>

        </tbody>
      </table>
  </div>
  <!-- End of Recent Orders -->
