@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: #c0c0c0 #f0f0f0;
  border-radius: 10px;
  -ms-overflow-style: none;
}

.table-container::-webkit-scrollbar {
  width: 0;
  /* Ẩn thanh cuộn trên trình duyệt Webkit (Chrome, Safari, Opera) */
}

.sticky-thead {
  position: sticky;
  top: 0;
  /* Giữ phần thead ở vị trí trên cùng khi cuộn */
  background-color: white;
  border: 1px solid #664FC3;
  z-index: 1;
  /* Đảm bảo phần thead nằm trên cùng của bảng */
}

.table-container {
  position: relative;
}

a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}

/* General table styles */

.timekeeping-container {
  padding: 10px;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  background-color: white;
  border: 1px solid #664FC3;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #664FC3;
}

th {
  text-align: center;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.button-timekeeping {
  background-color: #D9E1EC;
  color: #664FC3;
  padding: 2px 6px;
  font-size: 0.8em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-timekeeping:hover {
  background-color: #AEBFCC;
}

input[type="time"] {
  padding: 2px;
  font-size: 0.8em;
  border: 1px solid #ced4da;
  border-radius: 4px;
  max-width: 100%;
  box-sizing: border-box;
}

/* Điều chỉnh chiều cao của các hàng trong bảng nếu cần */
td {
  height: auto;
  /* Cho phép chiều cao tự điều chỉnh */
  padding: 4px;
  /* Giữ padding nhỏ để tiết kiệm không gian */
  white-space: nowrap;
  /* Ngăn chặn xuống dòng */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Hiển thị dấu ba chấm nếu text quá dài */
}


td {
  padding: 4px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: auto;
}

/* Thêm vào CSS của bạn */
td:first-child {
  white-space: normal;
  /* Cho phép nội dung xuống dòng */
  word-wrap: break-word;
  /* Đảm bảo từ ngắt đúng cách nếu không vừa */
}


@media screen and (max-width: 1200px) {
  .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }
}

@media screen and (max-width: 768px) {

  .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  table {
    width: 100%;
    margin: 0;
  }

}

.page-title.active-link {
  cursor: pointer;
  color: blue;
  /* hoặc màu khác bạn muốn sử dụng cho đường dẫn được chọn */
}

.page-title:hover {
  color: blue;
  /* Màu khi di chuột vào liên kết không được chọn */
}

.page-title {
  cursor: pointer;

  color: black;
  /* Màu mặc định cho liên kết không được chọn */
  text-decoration: none;
  /* Loại bỏ gạch chân mặc định của liên kết */
  transition: color 0.3s;
  /* Hiệu ứng chuyển đổi màu sắc */
}

.onTime {
  color: #1B9C85;
}

.lateTime {
  color: #7B4C50;
}

.link-tab {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

.link-tab .dang-ki-lam-viec {
  margin-left: 1%;
}

.link-tab .theo-doi {
  margin-left: 1%;
}
