<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside>

      <div class="sidebar">
        <div class="toggle">
          <div class="logo">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
            <p><span class="danger">Nguyen Tran</span> Clinic</p>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">
              close
            </span>
          </div>
        </div>
        <a routerLink="/letan/lich-hen" class="active">
          <span class="material-icons-sharp">
            dashboard
          </span>
          <h3>Lịch hẹn</h3>
        </a>
        <a routerLink="/letan/phong-cho">
          <span class="material-icons-sharp">
            person_outline
          </span>
          <h3>Phòng chờ</h3>
        </a>
        <a routerLink="/benhnhan/danhsach">
          <span class="material-icons-sharp">
            receipt_long
          </span>
          <h3>Bệnh nhân</h3>
        </a>
        <a routerLink="/letan/cham-cong">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Chấm công</h3>
        </a>
        <a (click)="signOut()" style="cursor:pointer;">
          <span class="material-icons-sharp">
            logout
          </span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
      <!-- Analyses -->
      <div class="analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-calendar3"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-houses"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-person-standing"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="icon">

          </div>
          <div class="info">
            <p>Xin chào, <b>Linh</b></p>
            <small class="text-muted">Lễ tân</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png">
          </div>
        </div>
      </div>


      <div class="recent-orders">
        <div class="row mt-5">
          <div class="col-6">
            <!-- <form class="row row-cols-sm-auto">
              <div class="col-12">
                <div class="dp-hidden position-absolute">
                  <div class="input-group">
                    <input
                      name="datepicker"
                      class="form-control"
                      ngbDatepicker
                      #datepicker="ngbDatepicker"
                      [autoClose]="'outside'"
                      (dateSelect)="onDateSelection($event)"
                      [displayMonths]="2"
                      [dayTemplate]="t"
                      outsideDays="hidden"
                      [startDate]="fromDate!"
                      tabindex="-1"
                    />
                    <ng-template #t let-date let-focused="focused">
                      <span
                        class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                      >
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
                <div class="input-group">
                  <input
                    #dpFromDate
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dpFromDate"
                    [value]="formatter.format(fromDate)"
                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                    class="date-input-cus"
                  />
                  <button class="btn btn-outline-secondary bi bi-calendar3 btn-date-cus" (click)="datepicker.toggle()" type="button"></button>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group">
                  <input
                    #dpToDate
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dpToDate"
                    [value]="formatter.format(toDate)"
                    (input)="toDate = validateInput(toDate, dpToDate.value)"
                    class="date-input-cus"
                  />
                  <button class="btn btn-outline-secondary bi bi-calendar3 btn-date-cus"
                   (click)="datepicker.toggle()" type="button"></button>
                </div>
              </div>
            </form> -->
          </div>


          <div class="col-6">
            <select class="form-select input-custom float-end" style="width: 12rem;"
              aria-label="Default select example">
              <option selected>Tất cả nhân viên</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px;">Chấm công</h2>
        <table class="table table-bordered custom-table">
          <thead>
            <tr class="text-center">
              <th>Tên nhân viên</th>
              <th colspan="2">Thứ 2</th>
              <th colspan="2">Thứ 3</th>
              <th colspan="2">Thứ 4</th>
              <th colspan="2">Thứ 5</th>
              <th colspan="2">Thứ 6</th>
              <th colspan="2">Thứ 7</th>
              <th colspan="2">Chủ nhật</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td></td>
              <td>Clockin</td>
              <td>Clockout</td>
              <td>Clockin</td>
              <td>Clockout</td>
              <td>Clockin</td>
              <td>Clockout</td>
              <td>Clockin</td>
              <td>Clockout</td>
              <td>Clockin</td>
              <td>Clockout</td>
              <td>Clockin</td>
              <td>Clockout</td>
              <td>Clockin</td>
              <td>Clockout</td>
            </tr>

            <tr>
              <td style="border-right: 1px solid #7B4C50;">
                <p style="color: brown;">Phạm Thanh Long</p>
              </td>
              <td style="border-right: 1px solid #7B4C50;"><button class="button-timekeeping">Đã đến</button>
                <p class="time-clockin">9:00 AM</p>
              </td>
              <td style="border-right: 1px solid #7B4C50;"><button class="button-timekeeping">Đã về</button>
                <p class="time-clockout">17:00 PM</p>
              </td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
              <td style="border-right: 1px solid #7B4C50;"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End of Recent Orders -->

    </main>
    <!-- End of Main Content -->

  </div>
