.input-custom {
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  border: 1px solid #664FC3;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn-redirect {
  background: #664FC3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

.btn-redirect:hover {
  background: #5c48b2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-redirect:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.date-input-custom {
  border: 1px solid #664FC3;
  border-radius: 10px;
}
.button-add {
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  outline: 0px;
  padding: 10px 20px;
}


.equal-size-buttons {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.equal-size-buttons .button-wrapper {
  flex: 1; /* Mỗi wrapper chiếm không gian bằng nhau */
  margin-bottom: 10px; /* Tạo khoảng cách giữa các nút */
}

.equal-size-buttons .button-wrapper:last-child {
  margin-bottom: 0; /* Không có margin cho nút cuối cùng */
}

.equal-size-buttons .button-add {
  width: 100%; /* Đảm bảo rằng nút chiếm toàn bộ chiều rộng của wrapper */
  text-align: center;
  padding: 10px 20px; /* Thêm padding để nút rộng ra */
  white-space: normal; /* Đảm bảo nội dung không bị tràn ra ngoài */
}


.button-timekeeping {
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  outline: 0px;
  padding: 10px 20px;
}

.hover-patient:hover {
  background-color: #e1dfdf;
  cursor: pointer;
}

.btn-cus {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.btn-primary:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover {
  background-color: #c9302c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn i {
  line-height: 1;
  vertical-align: middle;
}

.btn i+span {
  margin-left: 5px;
}
.button-app{
  display: flex;
}

.fade-and-slide-out {
  animation: fadeAndSlideOut 0.5s ease forwards;
}

@keyframes fadeAndSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}


@media screen and (max-width: 1366px) {
  .button-add {
    font-size: 12px;
  }

  .btn-redirect {
    font-size: 10px;
  }
}
