
<div class="sep-recent-orders">
  <!-- <section class="table__header">
    <div class="export__file">
    </div>
  </section> -->

  <div class="row row-custom">
    <div class="col-6">
      <div class="button-app">
        <div style="margin-right: 1%;">
          <button class="btn button-add" data-bs-toggle="modal"
                  data-bs-target="#myModal" (click)="openAddAppointmentModal()"><i class="bi bi-plus-circle"></i>
            Thêm
            lịch hẹn bệnh nhân cũ</button>
        </div>
        <div>
          <button class="btn button-add" data-bs-toggle="modal"
                  data-bs-target="#myNewModal" (click)="openAddAppointmentModal()"><i class="bi bi-plus-circle"></i>
            Thêm
            lịch hẹn bệnh nhân mới</button>
        </div>
      </div>

    </div>
    <div class="col-6">
      <input type="date" class="date-input-custom" style="width: 50%" [(ngModel)]="startDate" (change)="getAppointmentList()">
      <select class="form-select input-custom float-end" aria-label="Default select example"
        [(ngModel)]="selectedProcedure" (change)="filterAppointments()" style="width: 25%;">
        <option selected value="">Loại điều trị</option>
        <option *ngFor="let a of listGroupService" value={{a.medical_procedure_group_id}}>{{a.name}}</option>
      </select>
    </div>
  </div>

  <div class="table-container">
    <table *ngIf="appointmentList.length > 0; else noDataMessage">
      <thead class="sticky-thead">
        <tr>
          <th>Mã bệnh nhân</th>
          <th>Tên bệnh nhân</th>
          <th>Khách hàng mới</th>
          <th>SĐT</th>
          <th>Loại điều trị</th>
          <th>Bác sĩ</th>
          <th>Thời gian hẹn khám</th>
          <th>Thao tác</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let a of filteredAppointments">
          <ng-container *ngFor="let ap of a.appointments">
            <tr class="hover-patient" title="Xem thông tin bệnh nhân {{detail.patient_name}}" *ngFor="let detail of ap.details" (click)="details(detail.patient_id)">
              <ng-container *ngIf="detail.migrated == 'false'">
                <td class="patient-id">
                  {{detail.patient_id}}
                </td>
                <td class="patient-name">
                  {{detail.patient_name}}
                </td>
                <td>{{detail.patient_created_date == 1 ? "Bệnh nhân đến lần đầu tiên" : detail.patient_created_date == 2 ? "Bệnh nhân tái khám" : "Dữ liệu trước"}}</td>
                <td class="patient-phone">
                  {{normalizePhoneNumber(detail.phone_number)}}
                </td>
                <td class="patient-pn">
                  {{detail.procedure_name}}
                </td>
                <td class="patient-doctorname">{{ detail.doctor }}</td>
                <td class="appointments-time">{{timestampToTime(detail.time)}} - {{timestampToDate(a.date) | date: 'dd-MM-yyyy'}}</td>
                <td class="table_button">
                  <button class="btn btn-primary p-1 m-r-3" style="padding: 2px 3px; margin-right: 3px" title="Sửa lịch hẹn"
                    data-bs-toggle="modal" data-bs-target="#editAppointmentModal"
                    (click)="openEditModal(detail, a.date, $event)">
                    <i class="bi bi-pencil-square"></i></button>
                  <button class="btn btn-danger p-1" style="padding: 2px 5px" title="Xoá lịch hẹn"
                    (click)="deleteAppointment(detail, a.date, $event)"> <i class="bi bi-trash"></i></button>
                </td>
                <td *ngIf="detail.status == 2 && checkDate(a.date)" class="direct-click">
                  <button class="btn btn-redirect" (click)="postExchangeAppointmentToWaitingRoom(a.date, detail ,$event)">
                    Đến phòng chờ
                  </button>
                </td>
                <td *ngIf="detail.status == 2 && !checkDate(a.date)" class="direct-click">
                  <button class="btn btn-redirect" style="width: 100px; color: red;">
                    <b>Trễ lịch hẹn</b>
                  </button>
                </td>
                <td *ngIf="detail.status == 1" class="direct-click">
                  <p style="color: green;"><b>Đã khám</b></p>
                </td>
                <td *ngIf="detail.status == 3" class="direct-click">
                  <p style="color: green;"><b>Đã đến</b></p>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>

      </tbody>
    </table>
    <ng-template #noDataMessage>
      <div class="row sticky-thead-no-data">
        <div class="col-md-1">Mã bệnh nhân</div>
        <div class="col-md-2">Tên bệnh nhân</div>
        <div class="col-md-2">Khách hàng mới</div>
        <div class="col-md-1">SĐT</div>
        <div class="col-md-1">Loại điều trị</div>
        <div class="col-md-1">Bác sĩ</div>
        <div class="col-md-2">Thời gian hẹn khám</div>
        <div class="col-md-1">Thao tác</div>
        <div class="col-md-1">Action</div>
      </div>
      <div class="text-center row no-data">
        <span>
        Không có dữ liệu
        </span>
      </div>
    </ng-template>
  </div>
</div>
<!-- End of Recent Orders -->

<!-- <app-popup-add-appointment (newItemEvent)="addItem($event)"></app-popup-add-appointment> -->
<app-popup-add-appointment [datesDisabled]="datesDisabled"
  (newAppointmentAdded)="onNewAppointmentAdded($event)"
  [filteredAppointments]="filteredAppointments"></app-popup-add-appointment>
<app-popup-edit-appointment [datesDisabled]="datesDisabled" [selectedAppointment]="selectedAppointment"
  [dateString]="dateString" [timeString]="timeString"
  [filteredAppointments]="filteredAppointments"></app-popup-edit-appointment>
<app-popup-add-appointment-new [datesDisabled]="datesDisabled"
                           [filteredAppointments]="filteredAppointments" (newAppointmentAdded)="onNewAppointmentAdded($event)"></app-popup-add-appointment-new>
