
<div class="recent-orders">
  <section class="table__header">
    <h1></h1>
    <div class="input-group">
      <input type="search" placeholder="Tìm kiếm theo tên" [(ngModel)]="searchText" (input)="searchAppointments()">
    </div>
    <div class="export__file">
    </div>
  </section>

  <div class="row mt-5 mb-5">
    <div class="col-6">
      <button class="btn button-timekeeping" style="margin-right: 30px;" data-bs-toggle="modal"
        data-bs-target="#myModal" (click)="openAddAppointmentModal()"><i class="bi bi-plus-circle"></i>
        Thêm
        lịch hẹn</button>
    </div>
    <div class="col-6">
      <input type="date" class="date-input-custom" [(ngModel)]="startDate" (change)="getAppointmentList()">

      <select class="form-select input-custom float-end" aria-label="Default select example"
        [(ngModel)]="selectedProcedure" (change)="filterAppointments()" style="width: 45%;">
        <option selected value="">Phân loại điều trị</option>
        <option *ngFor="let a of listGroupService" value={{a.medical_procedure_group_id}}>{{a.name}}</option>
      </select>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead class="sticky-thead">
        <tr>
          <th>Mã bệnh nhân</th>
          <th>Tên bệnh nhân</th>
          <th>SĐT</th>
          <th>Loại điều trị</th>
          <th>Bác sĩ</th>
          <th style="min-width: 110px;">Thời gian hẹn khám</th>
          <th>Thao tắc</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let a of filteredAppointments">
          <ng-container *ngFor="let ap of a.appointments">
            <tr *ngFor="let detail of ap.details">
              <ng-container *ngIf="detail.migrated == 'false'">
                <td>
                  {{detail.patient_id}}
                </td>
                <td>
                  {{detail.patient_name}}
                </td>
                <td>
                  {{detail.phone_number}}
                </td>
                <td>
                  {{detail.procedure_name}}
                </td>
                <td>{{ detail.doctor }}</td>
                <td>{{timestampToTime(detail.time)}} - {{timestampToDate(a.date)}}</td>
                <!-- <td>{{convertTimestampToVNDateString(a.date)}}</td> -->
                <td>
                  <!-- <button class="btn btn-edit-custom" data-bs-toggle="modal" data-bs-target="#editAppointmentModal"
                    (click)="openEditModal(detail, a.date)">
                    <i class="bi bi-pencil-square"></i>
                  </button> -->
                  <!-- <button (click)="deleteAppointment(detail, a.date)"> <i class="bi bi-trash"></i></button> -->
                  <button class="btn btn-primary p-1 m-r-3" style="padding: 2px 3px; margin-right: 3px"
                    data-bs-toggle="modal" data-bs-target="#editAppointmentModal"
                    (click)="openEditModal(detail, a.date)">
                    <i class="bi bi-pencil-square"></i></button>
                  <button class="btn btn-danger p-1" style="padding: 2px 5px"
                    (click)="deleteAppointment(detail, a.date)"> <i class="bi bi-trash"></i></button>
                </td>
                <td *ngIf="detail.status == 2 && checkDate(a.date)">
                  <button class="btn btn-redirect" (click)="postExchangeAppointmentToWaitingRoom(a.date, detail)"
                    style="width: 100px; color: black;">
                    Đến phòng chờ
                  </button>
                </td>
                <td *ngIf="detail.status == 2 && !checkDate(a.date)">
                  <button class="btn btn-redirect" style="width: 100px; color: red;">
                    <b>Trễ lịch hẹn</b>
                  </button>
                </td>
                <td *ngIf="detail.status == 1">
                  <p style="color: green;"><b>Đã khám</b></p>
                </td>
              </ng-container>
            </tr>
          </ng-container>

        </ng-container>

      </tbody>
    </table>

  </div>
</div>
<!-- End of Recent Orders -->

<!-- <app-popup-add-appointment (newItemEvent)="addItem($event)"></app-popup-add-appointment> -->
<app-popup-add-appointment [datesDisabled]="datesDisabled"
  [filteredAppointments]="filteredAppointments"></app-popup-add-appointment>
<app-popup-edit-appointment [datesDisabled]="datesDisabled" [selectedAppointment]="selectedAppointment"
  [dateString]="dateString" [timeString]="timeString"
  [filteredAppointments]="filteredAppointments"></app-popup-edit-appointment>