<div class="page-wrapper bg-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Hồ sơ bệnh nhân: Phạm Thanh Long</h4>
      </div>
    </div>
    <div class="row">
        <div class="card-box">


          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#TTCtab" data-bs-toggle="tab">Thông tin chung</a></li>
            <li class="nav-item"><a class="nav-link" href="#KvDTtab" data-bs-toggle="tab">Khám và điều trị</a></li>
            <li class="nav-item"><a class="nav-link" href="#LHtab" data-bs-toggle="tab">Lịch hẹn</a></li>
            <li class="nav-item"><a class="nav-link" href="#TTtab" data-bs-toggle="tab">Thanh toán</a></li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane show active" id="TTCtab">
              Tab content 1
            </div>
            <div class="tab-pane" id="KvDTtab">
              Tab content 2
            </div>
            <div class="tab-pane" id="LHtab">
              Tab content 3
            </div>
            <div class="tab-pane" id="TTtab">
              Tab content 3
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
