
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
<div class="recent-orders">
        <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px;">Thuốc</h2>
        <section class="table__header">
          <h1></h1>
          <div class="export__file">
          </div>
        </section>
        <div class="row filter-row m-t-30">
          <div class="col-sm-6 col-md-3">
            <div class="form-group form-group-filter">
              <button class="btn button-timekeeping float-right" data-bs-toggle="modal" data-bs-target="#addSpecimensModal"><i class="bi bi-plus-circle"></i> Thêm mới
              </button>
            </div>
          </div>
        </div>
        <!-- <h2>Mẫu vật</h2> -->
        <div style="overflow-y: auto; height: 300px;" style="margin-top: 30px;">
          <table>
            <thead>
            <tr>
              <th style="padding: 20px;">Tên thuốc</th> <!--1-->
              <th style="min-width: 80px">Mô tả</th> <!--2-->
              <th style="min-width: 82px">Cách sử dụng</th> <!--3-->
              <th style="min-width: 85px">Chống chỉ định</th> <!--4-->
              <th style="min-width: 101px">Thao tác</th> <!--14-->
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><h2>Thuốc A</h2></td>
              <td>thuốc tê</td>
              <td>abc</td>
              <td>abc</td>
              <td class="text-center">
                <button href="#" class="btn btn-primary float-right btn-rounded" style="padding: 2px 5px;margin-right: 3px;" data-bs-toggle="modal" data-bs-target="#editMedicineModal"><i class="bi bi-pencil-square"></i></button>
                <button href="#" class="btn btn-danger float-right btn-rounded" style="padding: 2px 5px" data-bs-toggle="modal" data-bs-target="#delete_medicine"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

<app-popup-add-medicine></app-popup-add-medicine>
<app-popup-delete-medicine></app-popup-delete-medicine>
<app-popup-edit-medicine></app-popup-edit-medicine>
