<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>

<div *ngIf="!loading" class="modal" id="editApproveSpecimensModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title title text-center w-100">Cập nhật mẫu đang chờ duyệt</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="name-specimens" class="col-3 name-title">Tên mẫu:</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="specimen.name" required #name="ngModel" class="form-control" id="name-specimens" name="specimensName">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="name.errors?.['required']">
                      Vui lòng nhập tên mẫu!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.name}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="material" class="col-3 name-title">Chất liệu:</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="specimen.type" required #type="ngModel" class="form-control" id="material" name="material">
                  <div *ngIf="type.invalid && (type.dirty || type.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="type.errors?.['required']">
                      Vui lòng nhập chất liệu!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.type}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="orderdate" class="col-3 name-title">Ngày đặt:</label>
                <div class="col-9 value-staff">
                  <input type="date" [(ngModel)]="specimen.orderDate" required #orderDate="ngModel" class="form-control date-input-custom" id="orderdate" name="orderdate">
                  <div *ngIf="orderDate.invalid && (orderDate.dirty || orderDate.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="orderDate.errors?.['required']">
                      Vui lòng nhập ngày đặt!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.orderDate}}
                    </p>
                  </div>
                </div>

              </div>
              <div class="form-group row mt-3">
                <label for="receiverdate" class="col-3 name-title">Ngày nhận:</label>
                <div class="col-9 value-staff">
                  <input type="date" [(ngModel)]="specimen.receiverDate" required #receiverDate="ngModel" class="form-control date-input-custom" id="receiverdate" name="receiverdate">
                  <div *ngIf="receiverDate.invalid && (receiverDate.dirty || receiverDate.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="receiverDate.errors?.['required']">
                      Vui lòng nhập ngày nhận!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.receiverDate}}
                    </p>
                  </div>
                </div>

              </div>
              <div class="form-group row mt-3">
                <label for="installationdate" class="col-3 name-title">Ngày lắp:</label>
                <div class="col-9 value-staff">
                  <input type="date" [(ngModel)]="specimen.usedDate" required #usedDate="ngModel" class="form-control date-input-custom" id="installationdate" name="installationdate">
                  <div *ngIf="usedDate.invalid && (usedDate.dirty || usedDate.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="usedDate.errors?.['required']">
                      Vui lòng nhập ngày lắp!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.usedDate}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="labo" class="col-3 name-title">Labo:</label>
                <select class="form-select p-2" style="margin-left: 10px; width: 71%; border: 1px solid #664FC3;
                        border-radius: 10px;" id="labo" aria-label="Default select example" [(ngModel)]="specimen.labo_id"
                >
                  <option *ngFor="let labo of labos" value="{{labo.labo_id}}">{{labo.name}}</option>

                </select>
                <div *ngIf="isSubmitted"  class="alert-danger-custom">
                  <p>
                    {{validateSpecimens.labo}}
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="quantity" class="col-3 name-title">Số lượng:</label>
                <div class="col-9 value-staff">
                  <input type="number" [(ngModel)]="specimen.quantity" required #quantity="ngModel" class="form-control date-input-custom" id="quantity" name="quantity">
                  <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="quantity.errors?.['required']">
                      Vui lòng nhập số lượng!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.quantity}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="unitprice" class="col-3 name-title">Đơn giá:</label>
                <div class="col-9 value-staff">
                  <input type="number" [(ngModel)]="specimen.price" required #price=ngModel (input)="calculateTotal()" class="form-control" id="unitprice" name="unitprice">
                  <div *ngIf="price.invalid && (price.dirty || price.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="price.errors?.['required']">
                      Vui lòng nhập đơn giá!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.price}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="intomoney" class="col-3 name-title">Thành tiền:</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="specimen.total" class="form-control" disabled id="intomoney" name="intomoney">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="orderby" class="col-3 name-title">Người đặt:</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="specimen.orderer" required #order="ngModel" class="form-control" id="orderby" name="orderby">
                  <div *ngIf="order.invalid && (order.dirty || order.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="order.errors?.['required']">
                      Vui lòng nhập người đặt!
                    </div>
                  </div>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.orderer}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="patient" class="col-3 name-title">Bệnh nhân:</label>
                <div class="col-9 value-staff">
                  <ng-select id="patient" [items]="patientList" bindLabel="patientInfor" (click)="clickPatient(patientInfor)" [(ngModel)]="specimen.patientId" bindValue="patientId" (keyup)="onsearch($event)"
                             [notFoundText]="'Không tìm thấy bệnh nhân'">

                  </ng-select>
                  <div *ngIf="isSubmitted"  class="alert-danger-custom">
                    <p>
                      {{validateSpecimens.receiver}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="patient" class="col-3 name-title">Liệu trình:</label>
                <select class="form-select p-2" id="patient" style="margin-left: 10px; width: 71%; border: 1px solid #664FC3;
                                       border-radius: 10px;" aria-label="Default select example" [(ngModel)]="specimen.treatment_course_id">
                  <option *ngFor="let tr of ChoosePatientBy" value="{{tr.treatment_course_id}}">{{tr.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" id="cancel-approve" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn button-timekeeping" (click)="updateApproveSpecimens()"><i class="bi bi-floppy2"></i> Lưu</button>
        </div>

      </div>
    </div>
  </div>
</div>



