<div class="sep-recent-orders">
  <div class="content-wrapper">
    <div class="examination-head">
      <div class="card-box">
        <ul class="nav nav-tabs">
          <li class="nav-item mr-2"><a class="nav-link" style="color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link active"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
              style="color: #664FC3; cursor: pointer;">Khám và
              điều
              trị</a></li>
          <li class="nav-item mr-2"><a class="nav-link" style="color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/mauvat/')">Mẫu vật</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="examination-body">

      <div class="row examination-body-header">
        <label>Chỉnh sửa phiếu khám </label>
      </div>

      <div class="examination-body-middle">
        <div class="row1">
          <div class="examination-body-middle-title">
            <label>Khám tổng quát </label>
          </div>
          <div class="row" style="margin-bottom: 1%; margin-top:1%">
            <div class="col-md-4 custom-input-container">
              <label for="doctorId">Bác sĩ điều trị:</label>
              <select class="form-select children-of-row1" id="doctorId" [(ngModel)]="staff_id">
                <option value="0">Open this select menu</option>
                <option *ngFor="let bs of listStaffDisplay" value="{{bs.staffId}}">{{bs.staffUserName}}</option>
              </select>
            </div>
            <div class="col-md-4 custom-input-container">
              <label for="examinationDate">Ngày khám:</label>
              <input type="date" id="examinationDate" class="form-input children-of-row1" [(ngModel)]="currentDate">
            </div>
            <div class="col-md-4 custom-input-container">
              <label for="treatmentId">Lịch trình điều trị:</label>
              <select class="form-select children-of-row1" aria-label="Default select example" id="treatmentId"
                [(ngModel)]="treatmentCourse_Id">
                <option value="0">Open this select menu</option>
                <option *ngFor="let tr of listTreatmentCourse" value="{{tr.treatment_course_id}}">{{tr.name}}</option>
              </select>
            </div>
          </div>

          <div class="row" style="margin-top: 1%; margin-bottom:3%">
            <div class="examination-body-middle-title mb-2">
              <label> X-Quang </label>
            </div>
            <div class="button-add-img">
              <div class="btn-add-procedure">
                <button class="btn button-add" (click)="toggleAddImage()" *ngIf="!isAddImage"><i
                    class="bi bi-plus-circle"></i>Chỉnh sửa</button>
              </div>
            </div>
            <ng-container *ngFor="let record of recordsImage; let i = index">
              <div class="col-md-3 custom-input-container">
                <div style="position: relative">
                  <label for="diagnosis">Hình ảnh:</label>
                  <img [src]="record.imageInsert" alt="Hình ảnh mặc định" style="height: 80%; border: 1px solid black">
                  <div class="delete-button-container" *ngIf="!isAddImage">
                    <button class="delete-button" (click)="deleteRecordImage(i)">
                      x
                    </button>
                  </div>
                </div>
                <div>
                  <button class="btn-image" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="onChangeIndex(i)">Chọn hình ảnh</button>
                </div>
              </div>
              <div class="col-md-9 custom-input-container-image">
                <label for="image">Chẩn đoán hình ảnh:</label>
                <textarea id="image" rows="3" [(ngModel)]="record.description"></textarea>
              </div>
              <div class="save-img" *ngIf="isAddImage">
                <div class="save">
                  <button class="btn button-add" *ngIf="isAddImage" (click)="toggleAddImage()" style="margin-right: 3px"><i class="bi bi-check-circle"
                  > Lưu ảnh</i></button>
                </div>
                <div class="cancel">
                  <button type="button"  class="btn btn-cancel" (click)="deleteRecordImage(i)" >Hủy</button>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="row" style="margin-bottom: 1%;">
            <div class="col-md-6 custom-input-container">
              <label for="diagnosis">Ghi chú chẩn đoán:</label>
              <textarea id="diagnosis" rows="3" [(ngModel)]="examination.diagnosis"></textarea>
            </div>
            <div class="col-md-6 custom-input-container">
              <label for="medicine">Đơn thuốc:</label>
              <textarea id="medicine" rows="3" [(ngModel)]="examination.medicine"></textarea>
            </div>
          </div>
        </div>
        <div class="row2">
          <div class="examination-body-middle-title mb-2">
            <label> Sử dụng dịch vụ </label>
          </div>
          <div class="btn-add-procedure">
            <button class="btn button-add" (click)="toggleAdd()" *ngIf="!isAdd"><i class="bi bi-plus-circle"></i>Chỉnh sửa</button>
          </div>
          <div style="margin-top: 2%; margin-bottom:2%">
            <table class="table-bordered">
              <thead class="header-title">
                <tr>
                  <th>STT</th>
                  <th>Nhóm thủ thuật</th>
                  <th>Tên thủ thuật</th>
                  <th>Đơn giá</th>
                  <th>Thành tiền</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let record of records; let i = index">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>
                      <ng-select *ngIf="isAdd && list" [items]="list" [(ngModel)]="procedureGroupName"
                        [searchable]="true" bindLabel="groupName" bindValue="groupId"
                        [notFoundText]="'Không tìm thấy nhóm thủ thuật'"
                        (ngModelChange)="updateTemporaryName(record, $event)">
                      </ng-select>
                      <p *ngIf="!isAdd">{{record.medical_group_procedure_id}}</p>
                    </td>
                    <td>
                      <ng-select *ngIf="isAdd && materialList" [items]="materialList"
                        [(ngModel)]="record.medical_procedure_id" [searchable]="true" bindLabel="tenVatLieu"
                        bindValue="id" [notFoundText]="'Không tìm thấy thủ thuật'"
                        (ngModelChange)="updateTemporaryServiceName(record, $event)">
                      </ng-select>
                      <p *ngIf="!isAdd">{{record.medical_procedure_name}}</p>
                    </td>
                    <td>
                      <input type="text" [(ngModel)]="record.price" *ngIf="isAdd" class="form-control value-staff">
                      <p *ngIf="!isAdd">{{record.price}}</p>
                    </td>
                    <td>
                      <input type="text" [(ngModel)]="record.total_paid" *ngIf="isAdd" class="form-control value-staff">
                      <p *ngIf="!isAdd">{{record.total_paid}}</p>
                    </td>
                    <td>
                      <div class="delete-cell">
                        <div>
                          <button class="save-button" *ngIf="isAdd" style="margin-right: 3px"><i
                            class="bi bi-check-circle"
                            (click)="toggleAdd()"></i></button>
                        </div>
                        <div>
                          <button class="delete-button" (click)="deleteRecord(i)">
                            x
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>

              </tbody>
            </table>
          </div>

          <!-- <div class="examination-body-middle-title">
            <label> Đặt mẫu </label>
          </div>
          <div class="btn-add-procedure">
            <button class="btn button-add" (click)="toggleAddSpecime()" *ngIf="!isAddSpeci"><i
                class="bi bi-plus-circle"></i>Thêm
              mới</button>
          </div> -->
          <!-- <div style="margin-top: 2%; margin-bottom:2%">
            <table class="table-bordered">
              <thead  class="header-title">
                <tr>
                  <th>STT</th>
                  <th style="min-width: 120px;">Tên mẫu</th>
                  <th>Chất liệu</th>
                  <th>Số lượng</th>
                  <th>Đơn giá</th>
                  <th style="min-width: 150px;">Labo</th>
                  <th>Ngày đặt</th>
                  <th>Ngày nhận</th>
                  <th>Ngày lắp</th>
                  <th style="min-width: 80px;">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let record of recordsSpecimen; let i = index">
                  <tr>
                    <td>{{i + 1}}</td>
                    <td style="min-width: 120px;">
                      <input type="text" [(ngModel)]="record.name" *ngIf="isAddSpeci" class="form-control value-staff">
                      <p *ngIf="!isAddSpeci">{{record.name}}</p>
                    </td>
                    <td><input type="text" min="0" [(ngModel)]="record.type" *ngIf="isAddSpeci"
                        class="form-control value-staff">
                      <p *ngIf="!isAddSpeci">{{record.type}}</p>
                    </td>
                    <td><input type="number" [(ngModel)]="record.quantity" *ngIf="isAddSpeci"
                        class="form-control value-staff">
                      <p *ngIf="!isAddSpeci">{{record.quantity}}</p>
                    </td>
                    <td><input type="number" min="0" [(ngModel)]="record.unit_price" *ngIf="isAddSpeci"
                        class="form-control value-staff">
                      <p *ngIf="!isAddSpeci">{{record.unit_price}}</p>
                    </td>
                    <td style="min-width: 150px;"><ng-select *ngIf="isAddSpeci && listDisplay" [items]="listDisplay" [(ngModel)]="record.labo_id"
                        [searchable]="true" bindLabel="name" bindValue="labo_id"
                        [notFoundText]="'Không tìm thấy vật liệu'"
                        (ngModelChange)="updateTemporaryNameMaterial(record, $event)">
                      </ng-select>
                      <p *ngIf="!isAddSpeci">{{materialName}}</p>
                    </td>
                    <td><input type="date" min="0" [(ngModel)]="record.order_date" *ngIf="isAddSpeci"
                        class="form-control value-staff">
                      <p *ngIf="!isAddSpeci">{{record.order_date}}</p>
                    </td>
                    <td><input type="date" min="0" [(ngModel)]="record.received_date" *ngIf="isAddSpeci"
                        class="form-control value-staff">
                      <p *ngIf="!isAddSpeci">{{record.quantity}}</p>
                    </td>

                    <td><input type="date" min="0" [(ngModel)]="record.used_date" *ngIf="isAddSpeci"
                        class="form-control value-staff">
                      <p *ngIf="!isAddSpeci">{{record.used_date}}</p>
                    </td>
                    <td style="min-width: 80px;">
                      <div class="delete-cell">
                        <div>
                          <button class="save-button" *ngIf="isAddSpeci" style="margin-right: 3px"><i
                            class="bi bi-check-circle" (click)="toggleAddSpecime()"></i></button>
                        </div>
                        <div>
                          <button class="delete-button" (click)="deleteRecord(i)">
                            x
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div> -->
          <div class="examination-body-middle-title">
            <label> Vật liệu </label>
          </div>
          <div class="btn-add-procedure">
            <button class="btn button-add" (click)="toggleAddMaterial()" *ngIf="!isAddMaterial"><i
                class="bi bi-plus-circle"></i>Chỉnh sửa</button>
          </div>
          <div style="margin-top: 2%; margin-bottom:2%">
            <table class="table-bordered">
              <thead class="header-title">
                <tr>
                  <th>STT</th>
                  <th>Tên vật liệu</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let record of recordsMaterial; let i = index">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>
                      <ng-select *ngIf="isAddMaterial && results" [items]="results"
                        [(ngModel)]="record.material_warehouse_id" [searchable]="true" bindLabel="materialName"
                        bindValue="material_warehouse_id" [notFoundText]="'Không tìm thấy vật liệu'"
                        (ngModelChange)="updateTemporaryNameMaterial(record, $event)">
                      </ng-select>
                      <p *ngIf="!isAddMaterial">{{record.material_name}}</p>
                    </td>
                    <td>
                      <input type="number" min="0" [(ngModel)]="record.price" *ngIf="isAddMaterial"
                        class="form-control value-staff">
                      <p *ngIf="!isAddMaterial">{{record.price}}</p>
                    </td>
                    <td>
                      <input type="number" [(ngModel)]="record.quantity" *ngIf="isAddMaterial"
                        class="form-control value-staff" >
                      <p *ngIf="!isAddMaterial">{{record.quantity}}</p>
                    </td>
                    <td>
                      <input type="number" [(ngModel)]="record.total_paid" *ngIf="isAddMaterial"
                        class="form-control value-staff">
                      <p *ngIf="!isAddMaterial">{{record.total_paid}}</p>
                    </td>
                    <td>
                      <div class="delete-cell">
                        <div>
                          <button class="save-button" *ngIf="isAddMaterial" style="margin-right: 3px"><i
                            class="bi bi-check-circle" (click)="toggleAddMaterial()"></i></button>
                        </div>
                        <div>
                          <button class="delete-button" (click)="deleteRecord(i)">
                            x
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="content-button" style="margin-top: 2%">
          <button class="btn btn-cancel" (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')">Hủy</button>

          <button class="btn button-add" (click)="putExamination()">Chỉnh sửa</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="submissionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submissionModalLabel">Chọn ảnh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="submission-files" class="form-label">Chọn file</label>
          <input class="form-control" type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput multiple
            id="submission-files">
        </div>
        <div class="mb-3">
          <label for="link-submission" class="form-label" [(ngModel)]="imageLink">Link</label>
          <input type="text" class="form-control" id="link-submission" (change)="inputImageUrlInsert($event)" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addImageUrl()">Hoàn
          thành</button>
      </div>
    </div>
  </div>
</div>
