@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  height: 100%;
  border-radius: 15px;
  background-color: white;
}

.examination-head {
  height: 6%;
  margin-top: 2%
}

.examination-body {
  min-height: 90%;
}

/*top*/
.examination-body-header {
  text-align: center;
  margin: auto;
  justify-content: center;
  font-style: italic;
  height: 6%;
  display: flex;
  align-items: center;
}

.examination-body-header label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  height: 100%;
  width: 100%;
  font-size: 23px;
}

/*middle*/
.examination-body-middle {
  height: 95%;
}

.row1 {
  padding-top: 1%;
  margin: auto;
  width: 85%;
}

.examination-body-middle-title {
  height: 5%;
  font-weight: 800;
  font-size: 18px;
  font-style: italic;
  color: rgb(248, 142, 142);
}

.form-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.children-of-row1 {
  width: 80%
}

.custom-input-container textarea {
  width: 100%;
  border-radius: 4px;
  resize: vertical;
  min-height: 100%;
}

.custom-input-container-image textarea {
  width: 100%;
  min-height: 90%;
}

.btn-image {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.row2 {
  padding-top: 2%;
  margin: auto;
  width: 85%;
}

.row3 {
  margin: auto;
  justify-content: space-around;
  padding-bottom: 2%;
}

.row3 button {
  width: 10%;
}

















































/* 
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.recent-orders {
  margin-top: 1.3rem;
  border-radius: 20px;
}

.recent-orders h2 {
  margin-bottom: 0.8rem;
}

label {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: left;
}

.action-column {
  width: 7%;
}

td input[type="text"],
td input[type="number"] {
  width: 95%;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 4px;
}

.equal-width-list {
  padding: 0;
  list-style-position: inside;
  text-align: justify;
}

.equal-width-list li {
  width: 100%;
  box-sizing: border-box;
}

a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}


@media screen and (max-width: 1200px) {

  .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

  table {
    width: 83vw;
  }

  table thead tr th:last-child,
  table thead tr th:first-child {
    display: none;
  }

  table tbody tr td:last-child,
  table tbody tr td:first-child {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  table {
    width: 100%;
    margin: 0;
  }

}

.custom-table thead tr {
  background-color: var(--custom-color-background);
  border-radius: 10px;
  border: 1px solid #7B4C50;
}

.custom-table thead tr th {
  font-weight: 600
}

.custom-table tr {
  background-color: #7B4C50;
  border: 1px solid #7B4C50;
}

.custom-table tr td {
  border-bottom: 1px solid #7B4C50;
}

.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
  padding: 14px 8px;
  vertical-align: middle
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
  color: #333;
}

.form-select,
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select:focus,
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

textarea.form-control {
  height: auto;
  min-height: 100px;
}
@media (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-4,
  .col-md-8,
  .col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.mr-2 {
  margin-right: 20px;
}

.ml-2 {
  margin-left: 17px;
  margin-bottom: 5px;
}

.content-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

.content-child {
  margin-left: 35px;
}

.input-cus {
  border-bottom: 1px solid #000;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.popup {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 999;
  width: auto;
}

.popup button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7d72e4;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #0056b3;
}

.popup input[type="file"] {
  display: none;
}

.fadeIn {
  animation: fadeInAnimation 0.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image-container {
   border: 3px dotted #ccc;
  position: relative;
  width: 100%;
  height: 250px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 250px;
  grid-gap: 5px;
  align-items: start;
  justify-content: start;
  background-image: url('https://bridlingtoncaravans.com/office/storage/no-image/no-image.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.bi-plus-circle {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.bi-plus-circle:hover {
  opacity: 1;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rowAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab-pane {
  background-color: #f8f9fa;
  padding: 40px;
  max-height: 74vh;
  overflow-y: auto;
}

.KvDTtab-container {
  margin-top: 20px;
}

.KvDTtab-container h2 {
  color: #7B4C50;
  margin-bottom: 15px;
}

.content-child {
  margin-bottom: 15px;
}

.form-group,
.form-control,
.form-select {
  width: 100%;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.image-container {
  border: 1px dashed #7B4C50;
  padding: 10px;
  text-align: center;
}

.image-wrapper {
  display: inline-block;
  margin: 5px;
}

.table-custom table {
  width: 100%;
  border-collapse: collapse;
}

.table-custom th,
.table-custom td {
  border: 1px solid #dee2e6;
  padding: 8px;
}

.bi-plus-circle,
.bi-trash {
  color: #7B4C50;
}

.button-timekeeping {
  background-color: #7B4C50;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.button-timekeeping:hover {
  background-color: darken(#7B4C50, 10%);
}

@media (max-width: 768px) {

  .col-md-4,
  .col-md-3,
  .col-md-1,
  .col-md-8,
  .col-md-12 {
    width: 100%;
    margin-bottom: 15px;
  }
}

.sublist {
  position: absolute;
  left: 100%;
  top: 0;
  list-style-type: none;
  background: white;
  border: 1px solid #ccc;
  padding: 0;
}

.sublist li {
  padding: 5px;
  cursor: pointer;
}

.sublist li:hover {
  background-color: #eee;
}

.datalist-b-container {
  position: absolute;
  display: none;
}

.datalist-b-container.show {
  display: block;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.popup-container.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: fit-content;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
}

.close-btn:hover {
  color: #777;
}

.button-container button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #6200EE;
  color: white;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #3700B3;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  width:25%;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #34f234;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
}
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn {
  margin-top:15px;
}
.popup .dismiss-btn .button-custom {
  padding:10px 20px;
  background:#664FC3;
  color:#f5f5f5;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn .button-custom:hover {
  color:#111;
  background:#f5f5f5;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
} */
.button-add {
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

.btn-add-procedure {
  float: right;
}

.header-title {
  background-color: #664FC3;
}

.button-add-img {
  float: right;
}