<div class="modal" id="wrNewModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header color-main">
        <h4 class="modal-title title text-center">Thêm bệnh nhân đợi</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body row">
          <div class="col-md-7 row mt-2">
            <div class="col-md-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row gx3 mb-3">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="hovaten">Họ và tên<span class="required">*</span></label>
                        <input class="form-control" [(ngModel)]="patient1.patientName" id="hovaten" type="text"
                               placeholder="Họ và tên">
                        <div *ngIf="isSubmitted" class="alert-danger-custom">
                          <p style="color:#FF0000FF;">
                            {{validatePatient.name}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="createdDate">Ngày sinh<span class="required">*</span></label>
                        <form class="row row-cols-sm-auto">
                          <div class="input-group">
                            <input class="form-control" placeholder="DD/MM/YYYY" name="dp" [(ngModel)]="dobNgb"
                              ngbDatepicker #d="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                              type="button"></button>
                          </div>
                        </form>
                        <div *ngIf="isSubmitted" class="alert-danger-custom">
                          <p style="color:#FF0000FF;">
                            {{validatePatient.dob}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="email">Email</label>
                        <input class="form-control" [(ngModel)]="patient1.Email" id="email" type="text" name="birthday"
                               placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <div class="small mb-1">
                          <label>Giới tính</label>
                        </div>
                        <div class="mb-6 sep-input-gender">
                          <input type="radio" [(ngModel)]="patient1.Gender" class="radio m-2" [value]="1">
                          <label for="male">Nam</label>
                          <input type="radio" [(ngModel)]="patient1.Gender" class="radio m-2" value="0">
                          <label for="female">Nữ</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="inputPhone">Điện thoại</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text custom-input" id="basic-addon1">(+84)</span>
                          </div>
                          <input type="text" class="form-control" [(ngModel)]="patient1.phone_Number" id="inputPhone"
                                 name="inputPhone" aria-label="phoneNumber" aria-describedby="basic-addon1">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="zalo">Zalo <span class="required">*</span></label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text custom-input" id="basic-addon2">(+84)</span>
                          </div>
                          <input type="text" class="form-control" id="zalo" [(ngModel)]="patient1.phone_Number"
                                 name="inputPhone" aria-label="phoneNumber" aria-describedby="basic-addon2">
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label class="small mb-1" for="tieuSuBenh">Địa chỉ <span class="required">*</span></label>
                      <input class="form-control" [(ngModel)]="patient1.Address" id="tieuSuBenh" type="text" />
                      <div *ngIf="isSubmitted" class="alert-danger-custom">
                        <p style="color:#FF0000FF;">
                          {{validatePatient.address}}
                        </p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="note">Tiền sử toàn thân</label>
                      <input class="form-control" [(ngModel)]="patient1.full_medical_History" id="note" type="text">
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="note">Tiền sử răng miệng</label>
                      <input class="form-control" [(ngModel)]="patient1.dental_medical_History" id="note" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5  ">
            <div class="row">
              <div class="col-6">
                <div class="form-group mt-2">
                  <label>Loại điều trị <span class="required">*</span></label>
                  <select [(ngModel)]="POST_WAITTINGROOM.produce_id" (change)="onProcedureChange($event)"
                          class="form-select input-custom float-end" aria-label="Default select example">
                    <option *ngFor="let a of listGroupService" [value]="a.medical_procedure_group_id">{{a.name}}</option>
                  </select>
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{validateWatingRoom.procedure}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <textarea [(ngModel)]="POST_WAITTINGROOM.reason" class="form-control" placeholder="Lý do khám"
                          style="height: 200px;"></textarea>
                <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                  <p>
                    {{validateWatingRoom.reason}}
                  </p>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="modal-footer" style="display:flex;justify-content: space-around;">
        <div class="button-conf">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="cancel-add-waiting-new">Quay lại</button>
          <button type="button" class="btn button-timekeeping" (click)="addPatient()" >
            <i class="bi bi-plus-circle"></i> Thêm mới hàng chờ</button>
        </div>
      </div>
    </div>
  </div>
</div>

