<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside>

      <div class="sidebar">
        <div class="toggle">
          <div class="logo">
            <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
            <p><span class="danger">Nguyen Tran</span> Clinic</p>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">
              close
            </span>
          </div>
        </div>
        <a routerLink="/letan/lich-hen">
          <span class="material-icons-sharp">
            dashboard
          </span>
          <h3>Lịch hẹn</h3>
        </a>
        <a routerLink="/letan/phong-cho">
          <span class="material-icons-sharp">
            person_outline
          </span>
          <h3>Phòng chờ</h3>
        </a>
        <a routerLink="/benhnhan/danhsach" class="active">
          <span class="material-icons-sharp">
            receipt_long
          </span>
          <h3>Bệnh nhân</h3>
        </a>
        <a routerLink="/letan/cham-cong">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Chấm công</h3>
        </a>
        <a (click)="signOut()">
          <span class="material-icons-sharp">
            logout
          </span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
      <!-- Analyses -->
      <div class="analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-calendar3"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-houses"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-person-standing"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="icon">

          </div>
          <div class="info">
            <p>Xin chào, <b>Linh</b></p>
            <small class="text-muted">Lễ tân</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png">
          </div>
        </div>
      </div>
      <div class="recent-orders bg-white" style="border-radius: 15px;">
        <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px; padding-top: 20px;">Hồ sơ bệnh nhân</h2>

        <div class="content-wrapper">
          <div class="row">
            <div class="card-box">
              <ul class="nav nav-tabs">
                <li class="nav-item mr-2"><a class="nav-link active"
                  style="padding: 10px; color: #7B4C50;"
                  routerLink="/benhnhan/danhsach/tab/hosobenhnhan">Thông tin
                    chung</a>
                </li>
                <li class="nav-item mr-2"><a class="nav-link" routerLink="/benhnhan/danhsach/tab/lichtrinhdieutri"
                  style="padding: 10px; color: #000;"
                  >Khám và
                    điều
                    trị</a></li>
                <li class="nav-item mr-2"><a class="nav-link"
                  style="padding: 10px; color: #000;"
                  routerLink="/benhnhan/danhsach/tab/lichhen">Lịch hẹn</a>
                </li>
                <li class="nav-item mr-2"><a class="nav-link"
                  style="padding: 10px; color: #000;"
                  routerLink="/benhnhan/danhsach/tab/thanhtoan">Thanh toán</a>
                </li>
              </ul>
              <!-- <div class="tab-content">
                <router-outlet></router-outlet>
              </div> -->
            </div>
          </div>
          <div class="tab-pane" id="KvDTtab">
            <div class="KvDTtab-container mt-3">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="color-main text-center bg-primary text-white">Ngày khám 11/9/2023</h2>
                </div>
              </div>

              <div class="KvDTtab-content">
                <h2>Khám tổng quát</h2>
                <div class="row content-child">
                  <div class="col-md-12">
                    <div class="form-group mb-3">
                      <label for="" style="font-size: 17px;">Bác sĩ khám và điều trị: <b>Dr.Long</b></label>
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col content-child">
                    <label for="">Ghi chú chuẩn đoán</label>
                  </div>
                  <div class="col content-child">
                    <label for="">Lịch trình điều trị về sâu răng</label>
                  </div>
                </div>

                <div class="row mt-3">
                    <div class="col content-child" >
                      <textarea
                      style="min-height: 200px; width: 100%;
                        text-align: justify;
                        border: 1px solid #000;
                        "
                      ></textarea>
                    </div>
                    <div class="col content-child">
                        <textarea
                        style="min-height: 200px; width: 100%;
                        text-align: justify;
                        border: 1px solid #000;"></textarea>
                    </div>
                </div>

                <h2>Hình ảnh</h2>
                <div class="row mt-3 content-child">
                  <div class="col-md-3">
                    <img width="100%" height="100%"
                      src="https://nhakhoathuyanh.com/wp-content/uploads/2020/08/chup-x-quang-nho-rang-khon-1-1400x767.jpg"
                      alt="ảnh nếu có">
                  </div>
                  <div class="col-1">

                  </div>
                  <div class="col-md-5">
                    <textarea class="form-control"
                    style="border: 1px solid #000;
                    height: 100%;"
                    placeholder="Nhận xét về ảnh x-quang(nếu có ảnh)"></textarea>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-sm-6">
                    <h2>Khám và điều trị</h2>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn button-timekeeping float-end">Thêm mới</button>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table>
                        <thead>
                          <tr>
                            <th>Răng</th>
                            <th>Tình trạng răng</th>
                            <th>Tên thủ thuật</th>
                            <th>KH đồng ý</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th>Đã trả</th>
                            <th>Còn lại</th>
                            <th>Tình trạng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>R-22</td>
                            <td>Sâu răng</td>
                            <td>Hàn R74</td>
                            <td>X</td>
                            <td>100.000</td>
                            <td>100.000</td>
                            <td>0</td>
                            <td>100.0000</td>
                            <td>Đang điều trị</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-sm-6">
                    <h2>Đơn thuốc</h2>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn button-timekeeping float-end">Thêm mới</button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead class="text-center">
                          <tr>
                            <th style="min-width: 100px;">Mã thuốc</th>
                            <th>Tên thuốc</th>
                            <th style="min-width: 100px;">Số lượng</th>
                            <th>Liều dùng</th>
                            <th>Ghi chú</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Naphacogyl</td>
                            <td>2 vỉ</td>
                            <td>
                              <ul class="equal-width-list">
                                <li>Với người lớn: Liều dùng 4-6viên/ngày, chia ra thành 2 lần uống, dùng trong
                                  bữa ăn
                                </li>
                                <li>Với trẻ nhỏ: Dùng tương tự người lớn, nhưng liều lượng giảm đi 1 nửa, còn 2 viên/ngày</li>
                              </ul>
                            </td>
                            <td>
                              <p class="equal-width-list">Lưu ý không được uống thuốc tư thế nằm, không dùng cho người cao tuổi. Các đối
                                tượng có bệnh viêm đường ruột, bệnh dạ dày cần tham khảo ý kiến.</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-sm-6">
                    <h2>Đặt xưởng/vật tư</h2>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn button-timekeeping float-end">Thêm mới</button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-bordered text-center">
                        <thead>
                          <tr>
                            <th>Răng</th>
                            <th>Vật liệu</th>
                            <th>Đơn vị cung cấp</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th>Giảm giá</th>
                            <th>Ngày đặt</th>
                            <th>Người đặt</th>
                            <th>Tình trạng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>R-27</td>
                            <td>Sứ</td>
                            <td>Kim chi Lab</td>
                            <td>1</td>
                            <td>1.500.000</td>
                            <td>1.500.000</td>
                            <td>0</td>
                            <td>14/9/2023</td>
                            <td>Admin</td>
                            <td>Đã lấy</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <div class="row mt-3">
                  <div class="col-sm-6">
                    <h2>Vật liệu sử dụng</h2>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn button-timekeeping float-end">Thêm mới</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-bordered text-center">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Tên vật liệu</th>
                            <th>Số lượng</th>
                            <th>Ngày dùng</th>
                            <th>Người thêm</th>
                            <th>Thao tác</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Sứ</td>
                            <td>Kim chi Lab</td>
                            <td>1</td>
                            <td>1.500.000</td>
                            <td>1.500.000</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>

      <!-- End of Recent Orders -->

    </main>
    <!-- End of Main Content -->

  </div>

</div>
