@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

.custom-dark-mode-variables {
  --custom-color-background: #181a1e;
  --custom-color-white: #202528;
  --custom-color-dark: #edeffd;
  --custom-color-dark-variant: #a3bdcc;
  --custom-color-light: rgba(0, 0, 0, 0.4);
  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

a {
  color: var(--custom-color-dark);
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.a-custom{
  text-align: center;
}

.btn.btn-outline-primary.bi.bi-calendar3:hover {
  background-color: initial; /* Giá trị mặc định cho background-color */
  color: initial; /* Giá trị mặc định cho color */
}
.datetime{
  margin-left: 10px;
}
.datetime label{
  margin-right: 5px;
}
.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.button-add{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
}
.custom-row{
  margin-top: 1%;
  display: flex;
}
.disabled {
  color: black;
  background-color: #d9d9d9;
}
.custom-row .kho{
  margin-left: 2%;
}
.custom-row .quanlynhap{
  margin-left: 2%;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

@media screen and (max-width: 1366px) {
  .button-add {
    font-size: 11px;
  }

  .form-select {
    width: 100%;
  }

}
