<div class="sep-recent-orders">
  <!--  <section class="table__header">-->
  <!--    <h1></h1>-->
  <!--    <div class="export__file">-->
  <!--    </div>-->
  <!--  </section>-->
  <div class="custom-row">
    <div class="vatlieu">
      <a routerLink="/vat-lieu" routerLinkActive="active-link" class="page-title">Quản lý vật liệu</a>
    </div>
    <div class="kho">
      <a routerLink="/kho" routerLinkActive="active-link" class="page-title">Quản lý Kho</a>
    </div>
    <div class="quanlynhap">
      <a routerLink="/quan-ly-nhap" routerLinkActive="active-link" class="page-title">Quản lý nhập</a>
    </div>
  </div>




  <div class="row">
    <div class="col-md-2">
      <button class="btn button-add" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus-circle"></i>
        Thêm mới phiếu
      </button>
    </div>

    <div class="col-md-3">
      <select class="form-select" aria-label="Default select example" (change)="filterByStaff()"
        [(ngModel)]="staffName">
        <option value="" selected>Chọn người lập</option>
        <option *ngFor="let s of listStaffDisplay" value="{{s.staffName}}">{{s.staffName}}</option>
      </select>
    </div>
    <!-- <div class="datetime col-md-3 col-xl-2">
        <div class="form-group form-group-filter">
          <label for="fromDate">Từ:</label>
          <input type="date" [(ngModel)]="startDate" class="date-input-custom" id="fromDate" name="fromDate">
        </div>
      </div>
      <div class="datetime col-md-3 col-xl-2">
        <div class="form-group form-group-filter">
          <label for="toDate">Đến:</label>
          <input type="date" [(ngModel)]="endDate" class="date-input-custom" id="toDate" name="fromDate">
        </div>
      </div> -->
    <div class="col-md-5">
      <form class="row row-cols-sm-auto">
        <div class="col-12">
          <div class="dp-hidden position-absolute">
            <div class="input-group">
              <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="input-group">
            <input #dpFromDate class="form-control" placeholder="dd-mm-yyyy" name="dpFromDate"
              [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
              type="button"></button>
          </div>
        </div>
        <span>--</span>
        <div class="col-12">
          <div class="input-group">
            <input #dpToDate class="form-control" placeholder="dd-mm-yyyy" name="dpToDate"
              [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)"/>
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
              type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-1">
      <button class="btn button-add" (click)="loadPage(currentPage)">Lọc
      </button>
    </div>
    <div class="col-md-1">
      <button class="btn button-add" style="margin-left: 8px;" title="không lọc" (click)="resetPage(currentPage)">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </div>




  <div class="table-container mt-4">
    <table>
      <thead class="sticky-thead">
        <tr>
        <tr>
          <th style="padding-top: 10px;padding-bottom: 10px;">#</th>
          <th style="padding-top: 10px;padding-bottom: 10px;">Ngày lập phiếu</th>
          <th style="padding-top: 10px;padding-bottom: 10px;">Người lập</th>
          <th style="padding-top: 10px;padding-bottom: 10px;">Ghi chú</th>
          <th style="padding-top: 10px;padding-bottom: 10px;">Tổng tiền</th>
          <th style="padding-top: 10px;padding-bottom: 10px;" class="text-center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of displayWarehouse">
          <td>{{p.Id}}</td>
          <td>{{p.CreateDate | date:'dd-MM-yyyy'}}</td>
          <td>{{p.CreateBy}}</td>
          <td>{{p.Note}}</td>
          <td *ngIf="p.TotalAmount == null">0</td>
          <td *ngIf="p.TotalAmount != null">{{p.TotalAmount |currency:'VND':'symbol':'1.0-0'}}</td>
          <td class="text-center">
            <button href="#" style="padding: 2px 5px;" class="btn btn-primary float-right btn-rounded"
              title="Sửa phiếu nhập" data-bs-toggle="modal" data-bs-target="#editImportBillModal"
              (click)="openEditImportMaterial(p.Id, p)"><i class="bi bi-pencil-square"></i></button>
            <button href="#" style="padding: 2px 5px; margin-left: 3px" class="btn btn-danger float-right btn-rounded"
              title="Xoá phiếu nhập" (click)="deleteImportMaterial(p.Id,p.CreateDate)"><i
                class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Trong template HTML -->
  <div class="sep-pagination">
    <!--    <a (click)="pageChanged(currentPage - 1)" *ngIf="currentPage > 1">&laquo;</a>-->
    <!--    <a>{{currentPage}}</a>-->
    <!--    <a (click)="pageChanged(currentPage + 1)" *ngIf="hasNextPage">&raquo;</a>-->
    <a (click)="currentPage > 1 ? pageChanged(currentPage - 1) : null" [class.disabled]="currentPage <= 1"
      style="color: black">&laquo;</a>
    <a>{{currentPage}}</a>
    <a [class.disabled]="!hasNextPage" (click)="hasNextPage && pageChanged(currentPage + 1)"
      style="color: black">&raquo;</a>
  </div>
</div>

<app-popup-add-bill-import-material></app-popup-add-bill-import-material>
<app-popup-detail-bill-import-material></app-popup-detail-bill-import-material>
<app-popup-delete-bill-import-material></app-popup-delete-bill-import-material>
<app-popup-edit-bill-import-material [importMaterialId]="importBillId"
  [importMaterialBill]="importBillObject"></app-popup-edit-bill-import-material>
