<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="sep-recent-orders">
  <div class="link-tab">
    <ng-container *ngIf="roleId.includes('1') || roleId.includes('3')">
      <div class="cham-cong">
        <a routerLink="/cham-cong" routerLinkActive="active-link" class="page-title">Chấm công</a>
      </div>
    </ng-container>
    <div class="dang-ki-lam-viec">
      <a routerLink="/dang-ky-lich-lam-viec" routerLinkActive="active-link" class="page-title">Đăng kí lịch làm
        việc</a>
    </div>
    <div class="theo-doi">
      <a routerLink="/theo-doi-cham-cong" routerLinkActive="active-link" class="page-title">Theo dõi
        chấm công</a>
    </div>
  </div>

  <div class="filter-timekeeping">
    <div class="check">
      <div style="display: flex">
        <div class="check-in">
        </div>
        <div>
          <p>Giờ đến</p>
        </div>
      </div>

    </div>

    <div class="check">
      <div style="display: flex">
        <div class="check-out">
        </div>
        <div>
          <p>Giờ về</p>
        </div>
      </div>

    </div>

    <div class="check">
      <div style="display: flex">
        <div class="nghi">
        </div>
        <div>
          <p>Nghỉ</p>
        </div>
      </div>

    </div>
<!--    <div class="mb-5" style="padding: 0 10px">-->
<!--      <input type="month" [(ngModel)]="selectedMonth" (change)="updateStartAndEndTime()" style="width: 85%"-->
<!--             class="form-control input-custom  p-2">-->
<!--    </div>-->

<form class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
          [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
          outsideDays="hidden" [startDate]="fromDate2!" tabindex="-1" />
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input #dpFromDate class="form-control" placeholder="dd-mm-yyyy" name="dpFromDate"
        [value]="formatter.format(fromDate2)" (input)="fromDate2 = validateInput(fromDate2, dpFromDate.value)" />
      <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
        type="button"></button>
    </div>
  </div>
  <span>--</span>
  <div class="col-12">
    <div class="input-group">
      <input #dpToDate class="form-control" placeholder="dd-mm-yyyy" name="dpToDate"
        [value]="formatter.format(toDate2)" (input)="toDate2 = validateInput(toDate2, dpToDate.value)" />
      <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
        type="button"></button>
    </div>
  </div>
</form>

    <!-- <div class="row">
      <div class="col-12">
        <input type="date" style="width: 90%" #input (change)="changeFromDate(input.value)" id="fromDate"
          class="form-control input-custom  p-2">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input type="date" [(ngModel)]="toDate" #inpu (change)="changeToDate(inpu.value)" style="width: 90%" id="toDate"
          class="form-control input-custom  p-2">
      </div>
    </div> -->
    <div class="mb-5">
      <button type="button" (click)="getFollowingTimekeeping()" style="margin-left: 40%;" class="btn button-timekeeping">Lọc</button>
    </div>
  </div>
  <!--  Bawts dau bang-->
  <div class="scrollable-col">
    <table class="table table-bordered custom-table">
      <thead class="sticky-theadd">
        <tr class="text-center">
          <th style="min-width: 120px">Tên nhân viên</th>
          <th style="min-width: 80px"> Chức vụ</th>
          <th style="min-width: 100px">Tổng số ca làm việc</th>
          <th [colSpan]="totalDate+1"> Ngày</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td *ngFor="let day of listDayInMonth" style="min-width: 70px;">{{ day }}</td>
          <td></td>
        </tr>
      </thead>
      <tbody class="text-center">
        <ng-container *ngIf="roleId.includes('1')">
          <ng-container *ngFor="let timekeeping of listStaffTimeKeeping">
            <tr>
              <td>{{timekeeping.staff_name}}</td>
              <td>{{timekeeping.role_name}}</td>
              <td>{{timekeeping.total_working}} / {{totalShift}}</td>
              <td *ngFor="let day of listDayInMonth">
                <ng-container *ngFor="let p of timekeeping.timeKeeping">
                  <div style="display: flex" *ngIf="isClockInDay(day,p.epoch)">
                    <ng-container *ngIf="p.clock_in != 0">
                      <div class="check-in-custom">
                      </div>
                      <div>
                        <p>{{timestampToGMT7String(p.clock_in)}}</p>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="p.clock_in == 0">
                    </ng-container>
                  </div>
                  <div style="display: flex" *ngIf="isClockOutDay(day,p.epoch)">
                    <ng-container *ngIf="p.clock_out != 0">
                      <div class="check-out-custom">
                      </div>
                      <div>
                        <p>{{timestampToGMT7String(p.clock_out)}}</p>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="p.clock_out == 0">

                    </ng-container>
                  </div>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!roleId.includes('1')">
          <ng-container *ngFor="let timekeeping of listStaffTimeKeeping">
            <tr *ngIf="timekeeping.sub_id == ownSubId">
              <td>{{timekeeping.staff_name}}</td>
              <td>{{timekeeping.role_name}}</td>
              <td>{{timekeeping.total_working}} / {{totalShift}}</td>
              <td *ngFor="let day of listDayInMonth">
                <ng-container *ngFor="let p of timekeeping.timeKeeping">
                  <div style="display: flex" *ngIf="isClockInDay(day,p.epoch)">
                    <ng-container *ngIf="p.clock_in != 0">
                      <div class="check-in-custom">
                      </div>
                      <div>
                        <p>{{timestampToGMT7String(p.clock_in)}}</p>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="p.clock_in == 0">

                    </ng-container>
                  </div>
                  <div style="display: flex" *ngIf="isClockOutDay(day,p.epoch)">
                    <ng-container *ngIf="p.clock_out != 0">
                      <div class="check-out-custom">
                      </div>
                      <div>
                        <p>{{timestampToGMT7String(p.clock_out)}}</p>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="p.clock_out == 0">

                    </ng-container>
                  </div>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>
