<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="recent-orders">
  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-1">
      <a (click)="navigateHref('/letan/cham-cong')" routerLinkActive="active-link" class="page-title">Chấm công</a>
    </div>
    <!--<div class="col-md-2">
      <a routerLink="/nhanvien/dangkilichlamviec" routerLinkActive="active-link" class="page-title">Đăng kí lịch làm việc</a>
    </div>-->
    <div class="col-md-2">
      <a (click)="navigateHref('/theo-doi-cham-cong')" routerLinkActive="active-link" class="page-title">Theo dõi chấm công</a>
    </div>
  </div>
        <div class="row mt-5" style="width: 85%">
          <div class="col-1 mb-5 check">
            <div style="display: flex">
              <div class="check-in">
              </div>
              <div>
                <p>Clock-in</p>
              </div>
            </div>

            </div>

          <div class="col-1 mb-5 check">
            <div style="display: flex">
              <div class="check-out">
              </div>
              <div>
                <p>Clock-out</p>
              </div>
            </div>

          </div>

          <div class="col-1 mb-5 check">
            <div style="display: flex">
              <div class="nghi">
              </div>
              <div>
                <p>Nghỉ</p>
              </div>
            </div>

          </div>
          <div class="col-3 mb-5">
            <input type="month" [(ngModel)]="selectedMonth" (change)="updateStartAndEndTime()" style="width: 55%" class="form-control input-custom  p-2">
          </div>
          <div class="col-3 mb-5 row">
            <div class="col-3">
              <label for="fromDate" class="form-label" style="padding: 10px">Từ ngày:</label>
            </div>
            <div class="col-9">
              <input type="date" style="width: 65%" id="fromDate" class="form-control input-custom  p-2">
            </div>
          </div>

          <div class="col-3 mb-5 row">
            <div class="col-3">
              <label for="toDate" class="form-label" style="padding: 10px 0">Đến ngày:</label>
            </div>
            <div class="col-9">
              <input type="date" style="width: 65%" id="toDate" class="form-control input-custom  p-2">
            </div>
          </div>
          </div>
      <div class="scrollable-col">
        <table class="table table-bordered custom-table">
          <thead>
          <tr class="text-center">
            <th style="border: 1px solid #7B4C50; min-width: 120px">Tên nhân viên</th>
            <th style="border: 1px solid #7B4C50; min-width: 80px"> Chức vụ</th>
            <th colspan="30" style="border: 1px solid #7B4C50"> Ngày</th>
            <th style="border: 1px solid #7B4C50; min-width: 120px"> Ngày đi làm</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr>
            <td style="border: 1px solid #7B4C50"></td>
            <td style="border: 1px solid #7B4C50"></td>
            <td *ngFor="let day of daysInMonth" style="border: 1px solid #7B4C50" >{{ day }}</td>
            <td style="border: 1px solid #7B4C50"></td>
          </tr>
          <ng-container *ngFor="let timekeeping of followingTimekeepings">
            <tr *ngFor="let p of timekeeping.records">
              <td style="border: 1px solid #7B4C50">{{p.details.staff_name}}</td>
              <td style="border: 1px solid #7B4C50">Lế tân</td>
              <td style="border: 1px solid #7B4C50" *ngFor="let day of daysInMonth" style="border: 1px solid #7B4C50">
                <div style="display: flex" *ngIf="isClockInDay(day,timekeeping.epoch)">
                  <div class="check-in-custom">
                  </div>
                  <div>
                    <p>{{timestampToGMT7String(p.details.clock_in)}}</p>
                  </div>
                </div>
                <div style="display: flex" *ngIf="isClockOutDay(day,timekeeping.epoch)">
                  <div class="check-out-custom">
                  </div>
                  <div>
                    <p>{{timestampToGMT7String(p.details.clock_out)}}</p>
                  </div>
                </div>
              </td>

            </tr>
          </ng-container>

          </tbody>
        </table>
      </div>

      </div>

