@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

.custom-dark-mode-variables {
  --custom-color-background: #181a1e;
  --custom-color-white: #202528;
  --custom-color-dark: #edeffd;
  --custom-color-dark-variant: #a3bdcc;
  --custom-color-light: rgba(0, 0, 0, 0.4);
  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.web-wrapper {
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--custom-color-dark);
  background-color: #f6f6f9;
}

a {
  color: var(--custom-color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.container-custom {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 13rem auto;
}

aside {
  height: 100vh;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.toggle .logo {
  display: flex;
  gap: 0.5rem;
}
.toggle .logo img {
  padding-left: 5rem;
  width: 2rem;
  height: 2rem;
}

.toggle .close {
  padding-right: 1rem;
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--custom-color-white);
  box-shadow: var(--custom-box-shadow);
  border-radius: 15px;
  height: 96vh;
  position: relative;
  top: .9rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--custom-color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  width: 100%;
  color: var(--custom-color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--custom-color-primary);
}

aside .sidebar a.active span {
  color: var(--custom-color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--custom-color-primary);
}

aside .sidebar a:hover span {
  margin-left: 0.6rem;
}

aside .sidebar .message-count {
  background-color: var(--custom-color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--custom-border-radius-1);
}

/* main {
  margin-top: 1.4rem;
} */

.analyse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.analyse>div {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

.analyse>div:hover {
  box-shadow: none;
}

.analyse>div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.analyse h3 {
  margin-left: 0.8rem;
  font-size: .8rem;
}

.analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

.analyse svg {
  width: 7rem;
  height: 7rem;
}

.analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.analyse .sales svg circle {
  stroke: #0085a1;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

.analyse .visits svg circle {
  stroke: 	#d67e73;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

.analyse .searches svg circle {
  stroke: #f6e5e3;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

.analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.new-users {
  margin-top: 1.3rem;
}

.new-users .user-list {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.new-users .user-list:hover {
  box-shadow: none;
}

.new-users .user-list .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-users .user-list .user img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}

.recent-orders {
  margin-top: 1.3rem;
}

.recent-orders h2 {
  margin-bottom: 0.8rem;
}

.recent-orders table {
  background-color: var(--custom-color-white);
  width: 100%;
  padding: var(--custom-card-padding);
  text-align: center;
  box-shadow: var(--custom-box-shadow);
  border-radius: var(--custom-card-border-radius);
  transition: all 0.3s ease;
}

.recent-orders table:hover {
  box-shadow: none;
}

table thead th {
  height: 2.8rem;
  color: var(--custom-color-dark-variant);
}

table tbody td {
  height: 2.8rem;
  color: var(--custom-color-dark-variant);
}
.recent-orders a {
  text-align: start;
  display: block;
  margin: 1rem auto;
}

.profile {
  display: flex;
  align-items: center;
  gap:2rem;
  text-align: center;
}

.profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  justify-items: flex-end;
}

.profile .icon {
  border-radius: 23px;
  padding-right: 90px;
  justify-items: flex-start;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .container-custom {
    width: 95%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main .analyse {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .new-users .user-list .user {
    flex-basis: 40%;
  }

.recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

.recent-orders table {
    width: 83vw;
  }

table thead tr th:last-child,
table thead tr th:first-child {
    display: none;
  }

table tbody tr td:last-child,
table tbody tr td:first-child {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .container-custom {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--custom-padding-1);
  }

  aside {
    position: fixed;
    background-color: var(--custom-color-white);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--custom-color-light);
    height: 100vh;
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .toggle .close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .new-users .user-list .user {
    flex-basis: 35%;
  }

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

.recent-orders table {
    width: 100%;
    margin: 0;
  }

  .right-section {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right-section .nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--custom-color-white);
    padding: 0 var(--custom-padding-1);
    height: 4.6rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--custom-color-light);
    margin: 0;
  }


  .profile .info {
    display: none;
  }

}

.btn-add-custom {
  padding: 10px 20px;
  border-radius: 27px;
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  margin-right: 10px;
}

.input-custom {
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-redirect {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
  padding: 14px 8px;
  vertical-align: middle
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}


.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.time-clockin {
  color: #1B9C85;
}

.time-clockout {
  color: red;
}


@media screen and (max-width: 768px) {

  .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  .recent-orders table {
    width: 100%;
    margin: 0;
  }

}

.btn-add-custom {
  padding: 10px 20px;
  border-radius: 27px;
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  margin-right: 10px;
}

.input-custom {
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-redirect {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}


.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
  padding: 14px 8px;
  vertical-align: middle
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.onTime {
  color: #1B9C85;
}

.lateTime {
  color: red;
}
.check-in{
  background-color: #4CAF50;
  border-radius: 40%;
  width: 30px;
  margin-right: 5px;
}
.check-out{
  background-color: red;
  border-radius: 40%;
  width: 30px;
  margin-right: 5px;
}
.nghi{
  background-color: #9e9e9e;
  border-radius: 40%;
  width: 30px;
  margin-right: 5px;
}
.check-in-custom{
  background-color: #4CAF50;
  border-radius: 30%;
  width: 20px;
  margin-right: 5px;
}
.check-out-custom{
  margin-top: 3px;
  background-color: red;
  border-radius: 30%;
  width: 20px;
  margin-right: 5px;
}
.scrollable-col{
  max-width: 100%;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
  border-radius: 10px;
  -ms-overflow-style: none;
}
.scrollable-col::-webkit-scrollbar {
  width: 5px; /* Thay đổi kích thước thanh cuộn ngang */
  height: 5px; /* Thay đổi kích thước thanh cuộn dọc */
}

.scrollable-col::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của track */
}

.scrollable-col::-webkit-scrollbar-thumb {
  background: #bebdbd; /* Màu của thumb */
  border-radius: 10px; /* Bo tròn góc của thumb */
}

.scrollable-col::-webkit-scrollbar-thumb:hover {
  background: #8c8a8a; /* Màu của thumb khi hover */
}
.scrollable-col {
  scrollbar-width: thin; /* 'auto' hoặc 'thin' */
  scrollbar-color: #888 #f1f1f1; /* thumb và track */
}
.sticky-thead {
  position: sticky;
  top: 0; /* Giữ phần thead ở vị trí trên cùng khi cuộn */
  background-color: white;
  z-index: 1; /* Đảm bảo phần thead nằm trên cùng của bảng */
}
.scrollable-col {
  position: relative;
}
.page-title.active-link {
  color: blue; /* hoặc màu khác bạn muốn sử dụng cho đường dẫn được chọn */
}
.page-title:hover {
  color: blue; /* Màu khi di chuột vào liên kết không được chọn */
}
.page-title {
  color: black; /* Màu mặc định cho liên kết không được chọn */
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  transition: color 0.3s; /* Hiệu ứng chuyển đổi màu sắc */
}
.check{
  padding: 10px 10px;
}
.custom-table {
  width: 100%;

  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.custom-table th {
  background-color: #f4f4f4;
  color: #333;
}

.custom-table td {
  background-color: #fff;
  color: #666;
}

.custom-table tr:nth-child(even){background-color: #f9f9f9;}

.custom-table tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.check-in-custom, .check-out-custom {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
@media screen and (max-width: 600px) {
  .custom-table thead {
    display: none;
  }

  .custom-table, .custom-table tbody, .custom-table tr, .custom-table td {
    display: block;
    width: 100%;
  }

  .custom-table tr {
    margin-bottom: 15px;
  }

  .custom-table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .custom-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

