<!-- =============== Navigation ================ -->
<div class="container-custom">
  <div class="navigation-custom">
    <ul>
      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-apple"></i>
          </span>
          <span class="title-custom">Brand Name</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-house"></i>
          </span>
          <span class="title-custom">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-person-circle"></i>
          </span>
          <span class="title-custom">Customers</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-chat"></i>
          </span>
          <span class="title-custom">Messages</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-info-circle"></i>
          </span>
          <span class="title-custom">Help</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-gear"></i>
          </span>
          <span class="title-custom">Settings</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-alarm"></i>
          </span>
          <span class="title-custom">Password</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon-custom">
            <i class="bi-custom bi-box-arrow-left"></i>
          </span>
          <span class="title-custom">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- ========================= Main ==================== -->
  <div class="main-custom">
    <div class="topbar-custom">
      <div class="toggle-custom">
        <i class="bi-custom bi-list"></i>
      </div>

      <div class="search-custom">
        <label>
          <input type="text" placeholder="Search here">
          <i class="bi-custom bi-search"></i>
        </label>
      </div>

      <div class="user-custom">
        <img src="assets/imgs/customer01.jpg" alt="">
      </div>
    </div>

    <!-- ======================= Cards ================== -->
    <div class="cardBox-custom">
      <div class="card-custom">
        <div>
          <div class="numbers-custom">1,504</div>
          <div class="cardName-custom">Daily Views</div>
        </div>

        <div class="iconBx-custom">
          <i class="bi-custom bi-eye-fill"></i>
        </div>
      </div>

      <div class="card-custom">
        <div>
          <div class="numbers-custom">80</div>
          <div class="cardName-custom">Sales</div>
        </div>

        <div class="iconBx-custom"></div>
      </div>

      <div class="card-custom">
        <div>
          <div class="numbers-custom">284</div>
          <div class="cardName-custom">Comments</div>
        </div>

        <div class="iconBx-custom"></div>
      </div>

      <div class="card-custom">
        <div>
          <div class="numbers-custom">$7,842</div>
          <div class="cardName-custom">Earning</div>
        </div>

        <div class="iconBx-custom"></div>
      </div>
    </div>

    <!-- ================ Order Details List ================= -->
    <div class="details-custom">
      <div class="recentOrders-custom">
        <div class="cardHeader-custom">
          <h2>Recent Orders</h2>
          <a href="#" class="btn-custom">View All</a>
        </div>

        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Price</td>
              <td>Payment</td>
              <td>Status</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td><span class="status-custom delivered-custom">Delivered</span></td>
            </tr>

            <tr>
              <td>Dell Laptop</td>
              <td>$110</td>
              <td>Due</td>
              <td><span class="status-custom pending-custom">Pending</span></td>
            </tr>

            <tr>
              <td>Apple Watch</td>
              <td>$1200</td>
              <td>Paid</td>
              <td><span class="status-custom return-custom">Return</span></td>
            </tr>

            <tr>
              <td>Addidas Shoes</td>
              <td>$620</td>
              <td>Due</td>
              <td><span class="status-custom inProgress-custom">In Progress</span></td>
            </tr>

            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td><span class="status-custom delivered-custom">Delivered</span></td>
            </tr>

            <tr>
              <td>Dell Laptop</td>
              <td>$110</td>
              <td>Due</td>
              <td><span class="status-custom pending-custom">Pending</span></td>
            </tr>

            <tr>
              <td>Apple Watch</td>
              <td>$1200</td>
              <td>Paid</td>
              <td><span class="status-custom return-custom">Return</span></td>
            </tr>

            <tr>
              <td>Addidas Shoes</td>
              <td>$620</td>
              <td>Due</td>
              <td><span class="status-custom inProgress-custom">In Progress</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- ================= New Customers ================ -->
      <div class="recentCustomers-custom">
        <div class="cardHeader-custom">
          <h2>Recent Customers</h2>
        </div>

        <table>
          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer02.jpg" alt=""></div>
            </td>
            <td>
              <h4>David <br> <span>Italy</span></h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer01.jpg" alt=""></div>
            </td>
            <td>
              <h4>Amit <br> <span>India</span></h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer02.jpg" alt=""></div>
            </td>
            <td>
              <h4>David <br> <span>Italy</span></h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer01.jpg" alt=""></div>
            </td>
            <td>
              <h4>Amit <br> <span>India</span></h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer02.jpg" alt=""></div>
            </td>
            <td>
              <h4>David <br> <span>Italy</span></h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer01.jpg" alt=""></div>
            </td>
            <td>
              <h4>Amit <br> <span>India</span></h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer01.jpg" alt=""></div>
            </td>
            <td>
              <h4>David <br> <span>Italy</span></h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx-custom"><img src="assets/imgs/customer02.jpg" alt=""></div>
            </td>
            <td>
              <h4>Amit <br> <span>India</span></h4>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
