.prescription-modal {
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
  width: fit-content;
  margin: auto;
}
.prescription-header, .patient-info, .diagnosis, .medication, .footer {
  margin-bottom: 10px;
}
.clinic-name, .prescription-title {
  text-align: center;
  font-weight: bold;
}
.doctor-info, .contact-info, .signature {
  text-align: center;
}
ol {
  padding-left: 20px;
}
.modal-header{
  background-color: #664FC3;
}
.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

.button-timekeeping:hover{
  background: #533daf;
}
.btn-cancel:active,
.btn-cancel {
  font-family: "Poppins", sans-serif;
  background-color: #838282;
  text-align: center;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-right: 3px;
}

.btn-cancel:hover {
  background-color: #6e6c6c;
}
.modal-title{
  color: #FFFFFF;
}

/* .input-custom {
  border: none;
  border-bottom: 1px dashed #000;
  width: 100%;
  box-sizing: border-box;
} */

.textarea-custom {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: top;
  border-bottom: 1px dashed #000;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-y: visible;
}

.medication {
  width: 100%;
}

.medication ol {
  padding: 0;
}

.medication li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.medication input[type="text"].med-name {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: #f9f9f9;
}

.medication input[type="number"].med-quantity {
  width: 50px;
  padding: 10px;
  border: none;
  background-color: #f9f9f9;
}

.medication input[type="text"].med-unit {
  width: 80px;
  padding: 10px;
  border: none;
  background-color: #f9f9f9;
}

.medication input[type="text"].med-lieudung {
  flex-grow: 2;
  padding: 10px;
  border: none;
  background-color: #f9f9f9;
}

.medication input[type="text"]:focus,
.medication input[type="number"]:focus {
  outline: 2px solid #007bff;
  background-color: #fff;
}

.medication input[type="text"]:hover,
.medication input[type="number"]:hover {
  background-color: #e6e6e6;
}

@media (max-width: 768px) {
  .medication li {
    flex-direction: column;
  }
  .medication input[type="text"],
  .medication input[type="number"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
