<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside>

      <div class="sidebar">

        <div class="toggle">
          <div class="logo">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
            <p><span class="danger">Nguyen Tran</span> Clinic</p>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">
              close
            </span>
          </div>
        </div>

        <a routerLink="/admin/appointment">
          <span class="material-icons-sharp">
            dashboard
          </span>
          <h3>Lịch hẹn</h3>
        </a>
        <a routerLink="/receptionist/waitingroom">
          <span class="material-icons-sharp">
            person_outline
          </span>
          <h3>Thủ thuật</h3>
        </a>
        <a routerLink="/patient/records">
          <span class="material-icons-sharp">
            receipt_long
          </span>
          <h3>Bệnh nhân</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Bảng theo dõi chấm công</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Nhân viên</h3>
        </a>
        <a routerLink="/receptionist/timekeeping" class="active">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Labo</h3>
        </a>
        <a routerLink="/admin/specimens">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Mẫu</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Vật liệu</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Thuốc</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Cơ sở</h3>
        </a>
        <a (click)="signOut()" style="cursor:pointer;">
          <span class="material-icons-sharp">
            logout
          </span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
      <!-- Analyses -->
      <div class="analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-calendar3"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-houses"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-person-standing"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="icon">

          </div>
          <div class="info">
            <p>Xin chào, <b>Long</b></p>
            <small class="text-muted">Admin</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png">
          </div>
        </div>
      </div>

      <!-- Analyses -->
      <!-- End of Analyses -->

      <!-- New Users Section -->
      <!-- End of New Users Section -->

      <!-- Recent Orders Table -->
      <div class="recent-orders">
        <section class="table__header">
          <h1></h1>
          <div class="export__file">
          </div>
        </section>

        <div class="row mt-5 mb-5">
          <div class="col-6">
            <div class="form-group form-group-filter">
              <button class="btn button-timekeeping" data-bs-toggle="modal" data-bs-target="#myModal"><i
                  class="bi bi-plus-circle"></i> Thêm mới
                labo</button>
            </div>
          </div>
        </div>
        <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px;">Labo</h2>
        <div style="overflow-y: auto; height: 500px;">
          <table>
            <thead>
              <tr>
                <th style="padding-top: 10px;padding-bottom: 10px;">Mã labo</th>
                <th style="padding-top: 10px;padding-bottom: 10px;">Tên labo</th>
                <th style="padding-top: 10px;padding-bottom: 10px;">Địa chỉ</th>
                <th style="padding-top: 10px;padding-bottom: 10px;">Số điện thoại</th>
                <th style="padding-top: 10px;padding-bottom: 10px;">Email</th>
                <th style="padding-top: 10px;padding-bottom: 10px;" class="text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let labo of Labos">
                <td>{{labo.labo_id}}</td>
                <td>{{labo.name}}</td>
                <td>{{labo.address}}</td>
                <td>{{labo.phone_number}}</td>
                <td>{{labo.email}}</td>
                <td>
                  <button class="btn button-cus p-1 m-r-3" data-bs-toggle="modal" data-bs-target="#myEditModal"
                    (click)="openEditModal(labo)">
                    <i class="bi bi-pencil-square"></i></button>
                  <button class="btn button-cus p-1"

                  (click)="deleteLabo(labo.labo_id)"> <i
                      class="bi bi-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <!-- End of Recent Orders -->

    </main>
    <!-- End of Main Content -->



  </div>

</div>

<app-popup-add-labo></app-popup-add-labo>
<app-popup-edit-labo [LaboEdit]="LaboEdit"></app-popup-edit-labo>
<app-popup-delete-labo [LaboId]="LaboId"></app-popup-delete-labo>
