<div class="page-wrapper bg-wrapper">
  <div class="content">
    <div class="buy-form">
      <div class="row">
        <div class="col-sm-4 col-3">
        </div>
      </div>
      <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
          <div class="form-group form-group-filter">
            <button class="btn btn-custom float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus-circle"></i> Thêm mới
              labo</button>
          </div>
        </div>
        <div class="col-sm-3 col-md-6"  style="position: relative;">
          <div style="position: relative;">
              <input type="text" class="form-control" placeholder="Tìm kiếm theo tên labo">
              <span class="search-toggle-icon"><i class="bi bi-search"></i></span>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary float-right btn-rounded"> Tìm kiếm</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered text-center rounded-3 overflow-hidden">
              <thead>
              <tr>
                <th>Mã labo</th>
                <th>Tên labo</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th class="text-center">Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let labo of Labos">
                <td>{{labo.laboId}}</td>
                <td><h2>{{labo.labo_name}}</h2></td>
                <td>{{labo.address}}</td>
                <td>{{labo.phone_number}}</td>
                <td>{{labo.email}}</td>
                <td class="text-center">
                  <button class="btn btn-primary float-right btn-rounded" (click)="deleteLabo(labo.laboId)"><i class="bi bi-pencil-square"></i></button>
                  <button class="btn btn-danger float-right btn-rounded"
                  data-bs-toggle="modal" data-bs-target="#myEditModal"
                  (click)="openEditModal(labo)"><i class="bi bi-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-popup-add-labo></app-popup-add-labo>
<app-popup-edit-labo [LaboEdit]="LaboEdit"></app-popup-edit-labo>
