@import "~@ng-select/ng-select/themes/default.theme.css";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Warehouse_material*/
.SEP-WH-table-tr td:hover{
  cursor: pointer;
}
.SEP-WH-table-tr:hover {
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}
.SEP-WH-table-tbody2-tr:hover{
  border: 0.01cm solid #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}