<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div *ngIf="!loading" class="modal" id="editGroupModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title title text-center w-100">Cập nhật nhóm thủ thuật</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="resetValidate()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row mt-3">
                <label for="groupServiceName" class="col-3 name-title">Tên nhóm thủ thuật <span class="required">*</span></label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="serviceGroup.serviceGroupName" class="form-control" id="groupServiceName" name="groupServiceName">
                  <div *ngIf="isCheckName"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div>
                      {{validate.serviceGroupName}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="resetValidate()">Hủy</button>
          <button type="button" [disabled]="disable" id="cancel" class="btn button-timekeeping" (click)="updateServiceGroup()"><i class="bi bi-floppy2"></i> Lưu</button>
        </div>

      </div>
    </div>
  </div>
</div>



