<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
<div class="recent-orders">
  <div class="row text-white p-3 mb-4 mt-5">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="d-flex justify-content-end">
        <input type="date" class="form-control me-2">
        <input type="date" class="form-control">
      </div>
    </div>
  </div>
  <div class="row text-white p-3 mb-2 mt-5">
    <div class="col-md-6" style="padding: 0">
      <a class="title-link"><h2 class="title-name">Doanh thu</h2></a>
    </div>
    <div class="col-md-6" style="padding: 0">
      <a class="title-link"><h2 class="title-name-patient">Bệnh nhân</h2></a>
    </div>
  </div>
  <div style="display: block;">
    <canvas baseChart
            [data]="barChartConfiguration.data"
            [options]="barChartConfiguration.options"
            [type]="barChartConfiguration.type">
    </canvas>
  </div>
</div>
