<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
<div class="recent-orders">
  <div class="row mt-3" style="margin-bottom: 20px; margin-left: 10px">
    <div class="col-md-2 col-1">
      <a routerLink="/doanh-thu" class="page-title" routerLinkActive="active-link">Tổng doanh thu</a>
    </div>
    <div class="col-md-2 col-1">
      <a routerLink="/bao-cao-thu" class="page-title" routerLinkActive="active-link">Báo cáo thu</a>
    </div>
    <div class="col-md-2 col-2">
      <a routerLink="/bao-cao-chi" class="page-title" routerLinkActive="active-link">Báo cáo chi</a>
    </div>
  </div>
  <div class="row text-white p-3 mb-3 mt-3">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="d-flex justify-content-end">
        <input type="date" class="form-control me-2">
        <input type="date" class="form-control">
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class= "text-white mb-2 mt-1" style="display: flex">
      <div class="link-main" style="padding: 0">
        <a class="title-link"><h2 class="title-name">Doanh thu</h2></a>
      </div>
      <div class="link-main" style="padding: 0">
        <a class="title-link"><h2 class="title-name-patient">Bệnh nhân</h2></a>
      </div>
    </div>
    <div class="choose-facility">
      <select class="select-facility">
        <option value="">Cơ sở 1</option>
        <option value="">Cơ sở 2</option>
        <option value="">Cơ sở 3</option>
      </select>
    </div>
    <div class="filter-check mt-3 mb-4">
      <div class="form-group">
        <label class="label">Tổng thu</label>
        <input type="checkbox" class="checkbox m-2"/>
      </div>
      <div class="form-group">
        <label class="label">Thực thu</label>
        <input type="checkbox" class="checkbox m-2"/>
      </div>
      <div class="form-group">
        <label class="label">Chi phí</label>
        <input type="checkbox" class="checkbox m-2"/>
      </div>
    </div>


    <div style="display: block; width: 70%;margin: auto">
<!--      <canvas baseChart-->
<!--              [data]="barChartConfiguration.data"-->
<!--              [options]="barChartConfiguration.options"-->
<!--              [type]="barChartConfiguration.type">-->
<!--      </canvas>-->
      <canvas id="revenueChart"></canvas>
    </div>
  </div>

</div>
