@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

.custom-dark-mode-variables {
  --custom-color-background: #181a1e;
  --custom-color-white: #202528;
  --custom-color-dark: #edeffd;
  --custom-color-dark-variant: #a3bdcc;
  --custom-color-light: rgba(0, 0, 0, 0.4);
  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.web-wrapper {
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--custom-color-dark);
  background-color: #f6f6f9;
}

a {
  color: var(--custom-color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.container-custom {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 13rem auto;
}

aside {
  height: 100vh;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.toggle .logo {
  display: flex;
  gap: 0.5rem;
}
 .toggle .logo img {
  padding-left: 5rem;
  width: 2rem;
  height: 2rem;
}

 .toggle .close {
  padding-right: 1rem;
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--custom-color-white);
  box-shadow: var(--custom-box-shadow);
  border-radius: 15px;
  height: 96vh;
  position: relative;
  top: .9rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--custom-color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  width: 100%;
  color: var(--custom-color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--custom-color-primary);
}

aside .sidebar a.active span {
  color: var(--custom-color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--custom-color-primary);
}

aside .sidebar a:hover span {
  margin-left: 0.6rem;
}

aside .sidebar .message-count {
  background-color: var(--custom-color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--custom-border-radius-1);
}

/* main {
  margin-top: 1.4rem;
} */

main .analyse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

main .analyse>div {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

main .analyse>div:hover {
  box-shadow: none;
}

main .analyse>div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  margin-left: 0.8rem;
  font-size: .8rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
  stroke: #0085a1;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .visits svg circle {
  stroke: 	#d67e73;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .searches svg circle {
  stroke: #f6e5e3;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

main .new-users {
  margin-top: 1.3rem;
}

main .new-users .user-list {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .new-users .user-list:hover {
  box-shadow: none;
}

main .new-users .user-list .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .new-users .user-list .user img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}

.recent-orders {
  margin-top: 1.3rem;
}

.recent-orders h2 {
  margin-bottom: 0.8rem;
}

.recent-orders table {
  background-color: var(--custom-color-white);
  width: 100%;
  padding: var(--custom-card-padding);
  text-align: center;
  box-shadow: var(--custom-box-shadow);
  border-radius: var(--custom-card-border-radius);
  transition: all 0.3s ease;
}

.recent-orders table:hover {
  box-shadow: none;
}

table thead th {
  height: 2.8rem;
  color: var(--custom-color-dark-variant);
}

table tbody td {
  height: 2.8rem;
  color: var(--custom-color-dark-variant);
}

table tbody tr:last-child td {
  border: none;
}

.recent-orders a {
  text-align: start;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}

.profile {
  display: flex;
  align-items: center;
  gap:2rem;
  text-align: center;
}

.profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  justify-items: flex-end;
}

.profile .icon {
  border-radius: 23px;
  padding-right: 90px;
  justify-items: flex-start;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .container-custom {
    width: 95%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main .analyse {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .new-users .user-list .user {
    flex-basis: 40%;
  }

.recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

.recent-orders table {
    width: 83vw;
  }

table thead tr th:last-child,
table thead tr th:first-child {
    display: none;
  }

table tbody tr td:last-child,
table tbody tr td:first-child {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .container-custom {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--custom-padding-1);
  }

  aside {
    position: fixed;
    background-color: var(--custom-color-white);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--custom-color-light);
    height: 100vh;
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .toggle .close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .new-users .user-list .user {
    flex-basis: 35%;
  }

.recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

.recent-orders table {
    width: 100%;
    margin: 0;
  }

  .right-section {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right-section .nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--custom-color-white);
    padding: 0 var(--custom-padding-1);
    height: 4.6rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--custom-color-light);
    margin: 0;
  }


 .profile .info {
    display: none;
  }

}

.btn-add-custom {
  padding: 10px 20px;
  border-radius: 27px;
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  margin-right: 10px;
}

.input-custom {
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #664FC3;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-redirect {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}


.custom-table thead tr {
  background-color: var(--custom-color-background);
  border-radius: 10px;
  border: 1px solid #7B4C50;
}

.custom-table thead tr th {
	font-weight: 600
}

.custom-table tr {
	background-color: #7B4C50;
  border: 1px solid #7B4C50;
}

.custom-table tr td {
  border-bottom: 1px solid #7B4C50;
}

.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
	padding: 14px 8px;
	vertical-align: middle
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}


.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.time-clockin {
  color: #1B9C85;
}

.time-clockout {
  color: red;
}

.mr-2 {
  margin-right: 20px;
}

.ml-2 {
  margin-left: 17px;
  margin-bottom: 5px;
}
.bi-trash{
  color: #ffffff;
}
.bi-pencil-square{
  color: #ffffff;
}
