<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside>

      <div class="sidebar">
        <div class="toggle">
          <div class="logo">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
            <p><span class="danger">Nguyen Tran</span> Clinic</p>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">
              close
            </span>
          </div>
        </div>
        <a routerLink="/admin/appointment">
          <span class="material-icons-sharp">
            dashboard
          </span>
          <h3>Lịch hẹn</h3>
        </a>
        <a routerLink="/receptionist/waitingroom">
          <span class="material-icons-sharp">
            person_outline
          </span>
          <h3>Thủ thuật</h3>
        </a>
        <a routerLink="/patient/records">
          <span class="material-icons-sharp">
            receipt_long
          </span>
          <h3>Bệnh nhân</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Bảng theo dõi chấm công</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Nhân viên</h3>
        </a>
        <a routerLink="/admin/labo">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Labo</h3>
        </a>
        <a routerLink="/admin/specimens" class="active">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Mẫu</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Vật liệu</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Thuốc</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Cơ sở</h3>
        </a>
        <a (click)="signOut()" style="cursor:pointer;">
          <span class="material-icons-sharp">
            logout
          </span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
      <!-- Analyses -->
       <!-- Analyses -->
       <div class="analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-calendar3"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-houses"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-person-standing"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="icon">

          </div>
          <div class="info">
            <p>Xin chào, <b>Long</b></p>
            <small class="text-muted">Admin</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png">
          </div>
        </div>
      </div>
      <!-- End of Analyses -->

      <!-- New Users Section -->
      <!-- End of New Users Section -->

      <!-- Recent Orders Table -->
      <div class="recent-orders">
        <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px;">Labo</h2>
        <section class="table__header">
          <h1></h1>
          <div class="export__file">
          </div>
        </section>

        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-2">
            <a routerLink="/admin/specimens" class="page-title">Quản lý mẫu</a>
          </div>
          <div class="col-md-2">
            <a routerLink="/admin/specimens/approve-specimens" class="page-title">Mẫu đang chờ duyệt</a>
          </div>
        </div>

        <div class="row filter-row m-b-1">
          <div class="col-sm-3 col-md-2">
            <div class="input-group">
              <label class="ml-2">Ngày đặt</label>
            </div>
          </div>
          <div class="col-sm-3 col-md-2 ">
            <div class="input-group">
              <label class="ml-2">Ngày nhận</label>
            </div>
          </div>
          <div class="col-sm-3 col-md-2">
            <div class="input-group">
              <label class="ml-2" style="margin-left: 45px;">Ngày lắp</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-md-2 mr-2 ">
            <div class="input-group">
              <select class="form-select p-2" style="margin-left: 10px; width: 45%; border: 1px solid #664FC3;
              border-radius: 10px;"
                aria-label="Default select example" [(ngModel)]="labo_id" (change)="filterByLabo()">
                <option value="" selected>Labo</option>
                <option value="1">Xưởng A</option>
                <option value="2">Xưởng B</option>
                <option value="null">Không có Labo</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3 col-md-2 mr-2">
            <div class="input-group">
              <input type="date" class="form-control input-custom  p-2" [(ngModel)]="SpecimensFilter.ms_order_date">
            </div>
          </div>
          <div class="col-sm-3 col-md-2 mr-2">
            <div class="input-group">
              <input type="date" class="form-control input-custom  p-2" [(ngModel)]="SpecimensFilter.ms_received_date">
            </div>
          </div>
          <div class="col-sm-3 col-md-2 mr-2">
            <div class="input-group">
              <input type="date" class="form-control input-custom  p-2">
            </div>
          </div>
          <div class="col-sm-3 col-md-2 mr-2">
            <select class="form-select p-2" style="margin-left: 10px; width: 45%; border: 1px solid #664FC3;
            border-radius: 10px;"
              aria-label="Default select example">
              <option value="" selected>Trạng thái</option>
              <option value="1">Đã nhận</option>
              <option value="2">Chưa nhận</option>
              <option value="3">Trả lại</option>
            </select>
          </div>
        </div>
        <div class="row mt-3 mr-2">
          <div class="col-md-12">
            <button (click)="onFilterMS()" class="btn button-timekeeping p-2" s
            tyle="margin-left: 10px;">
              Hiển thị
            </button>
            <span *ngIf="showCheckboxes" style="margin-left: 20px;">
              <label class="mr-2">
                <input type="checkbox"> Checkbox 1
              </label>
              <label class="mr-2">
                <input type="checkbox"> Checkbox 2
              </label>
            </span>
          </div>
        </div>
        <!-- <h2>Mẫu vật</h2> -->
        <div style="overflow-y: auto; height: 300px;" style="margin-top: 30px;">
          <table>
            <thead>
              <tr>
                <th style="padding: 20px;">Răng/Hàm</th> <!--1-->
                <th style="min-width: 80px">Tên mẫu</th> <!--2-->
                <th style="min-width: 82px">Chất liệu</th> <!--3-->
                <th style="min-width: 85px">Số lượng</th> <!--4-->
                <th style="min-width: 75px">Đơn giá</th> <!--5-->
                <th style="min-width: 80px">Labo</th> <!--6-->
                <th style="min-width: 90px">Trạng thái</th> <!--7-->
                <th style="min-width: 75px">Ngày đặt</th> <!--8-->
                <th style="min-width: 90px">Người đặt</th> <!--9-->
                <th style="min-width: 95px">Ngày nhận</th> <!--10-->
                <th style="min-width: 105px">Người nhận</th> <!--11-->
                <th style="min-width: 90px">Ngày lắp</th> <!--12-->
                <th style="min-width: 90px">Bảo hành</th> <!--13-->
                <th style="min-width: 101px">Thao tác</th> <!--14-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let specimens of filteredSpecimens">
                <td>{{specimens.ms_type}}</td> <!--1-->
                <td style="min-width: 80px">{{specimens.ms_name}}</td> <!--2-->
                <td style="min-width: 82px">{{specimens.ms_type}}</td> <!--3-->
                <td style="min-width: 85px">{{specimens.ms_quantity}}</td> <!--4-->
                <td style="min-width: 75px">{{specimens.ms_unit_price}}</td> <!--5-->
                <td style="min-width: 90px"></td> <!--6-->
                <td style="min-width: 80px">{{specimens.lb_id? "Đã nhận": "Chờ Duyệt"}}</td> <!--7-->
                <td style="min-width: 75px">{{specimens.ms_order_date}}</td> <!--8-->
                <td style="min-width: 120px">{{specimens.ms_orderer}}</td> <!--9-->
                <td style="min-width: 95px">{{specimens.ms_received_date}}</td> <!--10-->
                <td style="min-width: 105px">{{specimens.ms_receiver}}</td> <!--11-->
                <td style="min-width: 95px"></td> <!--12-->
                <td style="min-width: 90px">{{specimens.ms_warranty}}</td> <!--13-->
                <td class="text-center" style="min-width: 101px"> <!--14-->
                  <button class="btn button-cus p-1 m-2"><i class="bi bi-pencil-square"
                    data-bs-toggle="modal" data-bs-target="#editSpecimensModal"
                    (click)="openEditSpecimen(specimens)"></i></button>
                  <button class="btn button-cus p-1" (click)="deleteSpecimens(specimens.ms_id)"><i
                      class="bi bi-trash"></i></button>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
      <!-- End of Recent Orders -->
    </main>
    <!-- End of Main Content -->

  </div>
</div>

<app-popup-edit-specimens [PutSpecimen]="PutSpecimen"></app-popup-edit-specimens>
