<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div *ngIf="!loading" class="modal" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title title text-center w-100">Thêm phiếu nhập vật liệu</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row filter-row m-t-30">
            <div class="col-sm-6 col-md-3">
              <div class="input-group">
                <input class="form-control" placeholder="Ngày lập" name="dp" [(ngModel)]="model" ngbDatepicker
                  #d="ngbDatepicker" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
            <div class="col-md-3">
              <!--                <label for="creator" class="col-4 name-title"><b>Người lập phiếu</b></label>-->
              <input type="text" placeholder="Người lập phiếu" [(ngModel)]="importBill.creator"
                class="form-control value-staff" id="creator" name="creator">
            </div>
            <div class="col-md-3">
              <div class="form-group row">
                <!--                <label for="total" class="col-4 name-title"><b>Tổng tiền</b></label>-->
                <div class="col-8">
                  <input type="text" placeholder="Tổng tiền" class="form-control value-staff" [(ngModel)]="totalAmount"
                    disabled id="total" name="total">
                </div>
              </div>
            </div>
            <!--<div class="col-md-3" *ngIf="!status">
              <button href="add-employee.html" class="btn btn-custom"  (click)="addImportBill()"><i class="bi"></i> Thêm mới phiếu</button>

            </div>-->
            <div class="col-md-3 row">
              <!--              <button href="add-employee.html" class="btn" [ngClass]="{'btn-custom':!isAdd, 'btn-save':isAdd}" (click)="toggleAdd()"  ><i class="bi" [ngClass]="{'bi-plus-circle': !isAdd, 'bi-floppy2': isAdd}"></i> {{isAdd ? "Lưu" : "Thêm mới"}}-->
              <!--              </button>-->
              <div class="col-md-1">

              </div>
              <div class="col-md-11">
                <button class="btn button-timekeeping" (click)="toggleAdd()" *ngIf="!isAdd"><i
                    class="bi bi-plus-circle"></i> Thêm mới vật liệu</button>

              </div>
              <!--              <button *ngIf="isAdd" (click)="toggleCancel()" type="button" class="btn btn-cancel">Huỷ</button>-->
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <div>
                <table class="table-bordered">
                  <thead class="sticky-thead">
                    <tr>
                      <th>#</th>
                      <th style="min-width: 150px">Tên vật liệu</th>
                      <th>Đơn vị</th>
                      <th>Số lượng</th>
                      <th>Đơn giá</th>
                      <th>Thành tiền</th>
                      <th>Hạn sử dụng</th>
                      <th>Chiết khấu</th>
                      <th class="text-center">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let record of records; let i = index">
                      <tr>
                        <td>{{ i + 1 }}</td>
                        <td>
                          <ng-select *ngIf="isAdd && materialList" [items]="materialList"
                            [(ngModel)]="record.tenVatLieu" [searchable]="true" bindLabel="tenVatLieu" bindValue="id"
                            (ngModelChange)="updateTemporaryName(record, $event)"
                            [notFoundText]="'Không tìm thấy vật liệu'">
                            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                              <div class="not-found">
                                <div class="add-materials">
                                  <a class="btn button-add-material" (click)="toggleAddMaterial()">Thêm mới</a>
                                </div>

                              </div>
                            </ng-template>
                          </ng-select>
                          <p *ngIf="!isAdd">{{ temporaryName}}</p>
                        </td>

                        <td>
                          <input type="text" [(ngModel)]="record.donVi" *ngIf="isAdd" class="form-control value-staff">
                          <!--<p *ngIf="!isAdd">abc</p>-->
                          <p *ngIf="!isAdd">{{ record.donVi }}</p>
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="record.soLuong" *ngIf="isAdd"
                            class="form-control value-staff">
                          <p *ngIf="!isAdd">{{ record.soLuong }}</p>
                          <!--                        <div class="error" *ngIf="showPopup">{{ suggestion }}</div>-->
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="record.donGia" *ngIf="isAdd"
                            (ngModelChange)="calculateThanhTien(record)" class="form-control value-staff">
                          <!--<p *ngIf="!isAdd">1.000.000</p>-->
                          <p *ngIf="!isAdd">{{ record.donGia }}</p>
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="record.thanhTien" *ngIf="isAdd"
                            class="form-control value-staff">
                          <!--<p *ngIf="!isAdd">10.000.000</p>-->
                          <p *ngIf="!isAdd">{{ record.thanhTien }}</p>
                        </td>
                        <td>
                          <input type="date" [(ngModel)]="record.hanSudung" *ngIf="isAdd"
                            class="form-control value-staff">
                          <p *ngIf="!isAdd">{{ record.hanSudung }}</p>
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="record.chietKhau" *ngIf="isAdd"
                            class="form-control value-staff">
                          <!--<p *ngIf="!isAdd">10%</p>-->
                          <p *ngIf="!isAdd">{{ record.chietKhau }}</p>
                        </td>
                        <td *ngIf="isAdd">
                          <div class="delete-cell">
<!--                            <div>-->
<!--                              <button class="save-button" title="Lưu" style="margin-right: 3px" (click)="toggleAdd()"><i-->
<!--                                class="bi bi-check-circle"></i></button>-->
<!--                            </div>-->
                            <div>
                              <button class="delete-button" title="Xoá" (click)="deleteRecord(i)">
                                x
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <div class="row mt-3" *ngIf="isAddMaterial">
                <div class="col-md-8 add-material">
                  <div class="form-group row mt-3">
                    <label for="materialName" class="col-3 name-title">Tên vật liệu:</label>
                    <div class="col-9">
                      <input type="text" class="form-control" [(ngModel)]="material.name" id="materialName" name="materialName">
<!--                      <div *ngIf="isSubmitted"  class="alert-danger-custom" style="color:#FF0000FF;">-->
<!--                        <p>-->
<!--                          {{validateMaterial.name}}-->
<!--                        </p>-->
<!--                      </div>-->
                    </div>
                  </div>
                  <div class="form-group row mt-3">
                    <label for="unit" class="col-3 name-title">Đơn vị:</label>
                    <div class="col-9">
                      <input type="text"class="form-control date-input-custom value-staff" [(ngModel)]="material.unit" id="unit" name="unit">
<!--                      <div *ngIf="isSubmitted"  class="alert-danger-custom" style="color:#FF0000FF;">-->
<!--                        <p>-->
<!--                          {{validateMaterial.unit}}-->
<!--                        </p>-->
<!--                      </div>-->
                    </div>
                  </div>
                  <div class="form-group row mt-3">
                    <label for="unitPrice" class="col-3 name-title">Đơn giá:</label>
                    <div class="col-9">
                      <input type="text"class="form-control date-input-custom value-staff" [(ngModel)]="material.unitPrice" id="unitPrice" name="unit">
                    </div>
                  </div>
                  <div class="button-footer mt-3">
                    <button type="button" id="cancel-addMaterial" class="btn btn-cancel" (click)="toggleCancelMaterial()">Hủy</button>
                    <button type="button" class="btn button-timekeeping" (click)="addMaterial()"><i
                      class="bi bi-plus-circle"></i> Thêm mới vật liệu</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button [disabled]="!isAddBill" type="button" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
        <button [disabled]="!isAddBill" type="button" class="btn button-timekeeping" (click)="addImportMaterial()"><i
            class="bi bi-plus-circle"></i> Thêm mới
        </button>
      </div>

    </div>
  </div>
</div>
<app-popup-add-material [materialList]="materialList"></app-popup-add-material>
