
.color-header {
  background-color: #664FC3;
}
.title{
  color: #FFFFFF;
}

.w-100 {
  width: 100%;
}

.h-300px {
  height: 300px;
}

.button-add-material{
  font-family: Tahoma, sans-serif;
  /*background: #664FC3;*/
  text-align: center;
  border: 0px solid white;
  color: #1e1e1e;
  font-weight: normal;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

.button-add-material:hover{
  background: #e2e1e7;
}
.btn-cancel:active,
.btn-cancel {
  font-family: "Poppins", sans-serif;
  background-color: #838282;
  text-align: center;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-right: 3px;
}

.btn-cancel:hover {
  background-color: #6e6c6c;
}
.name-title{
  padding-top: 6px;
  padding-bottom: 6px;
}
.value-staff{
  padding: 6px 12px;
}
.table thead tr{
  background-color: #7B4C50;
  border-radius: 10px;
  border: 1px solid #7B4C50;
}
.table thead tr th {
  color: #7B4C50;
  font-weight: 600
}
.table tr {
  border: 1px solid #7B4C50;
}
/*.table tr td {
  border-bottom: 1px solid #7B4C50;
}*/
table.table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle
}

table.table td h2 a {
  color: #757575
}
.table h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  vertical-align: middle
}

.table h5+p {
  color: #9e9e9e;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0
}
.btn-custom {
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  border-radius: 27px;
  padding: 7px 15px;
}
.btn-custom:hover{
  background-color: #f6b796;
}
.btn.rounded {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}
.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.save-button{
  background-color: #3260e1;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
}
.delete-button:hover {
  background-color: darkred;
}
.delete-cell{
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.form-select{
  border: 1px solid #7B4C50;
}
.ng-dropdown-panel {
  z-index: 9999;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.add-materials{
  padding: 10px 0;
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}
.not-found{
  padding: 10px 0 0 0;
}
.add-materials{
  padding: 10px 0;
}
.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  padding: 10px 20px;
  margin-bottom: 15px;
  /*font-size: 24px;*/
  outline: 0px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}
.not-found{
  padding: 10px 0 0 0;
}
.bi-check-circle{
  color: #FFFFFF;
}

.error {
  position: absolute;
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  color: red;
}
.sticky-thead th{
  height: 3rem;
}
.button-footer{
  float: right;
}
@media (min-width: 1200px){
  .modal-xl {
    --bs-modal-width: 1300px;
  }

}
.add-material{
  border: 1px solid;
  border-radius: 5px;
}
.modal-body div p {
  color: #FF0000FF;
}
/* Thêm kiểu cho thông báo lỗi giống tooltip */
.alert-danger-custom {
  background-color: #f8d7da; /* Màu nền đỏ nhạt */
  color: #721c24; /* Màu chữ đỏ đậm */
  padding: 5px 10px; /* Kích thước lề nội dung */
  border: 1px solid #f5c6cb; /* Viền đỏ nhạt */
  border-radius: 5px; /* Góc bo tròn */
  position: absolute; /* Thiết lập vị trí tuyệt đối */
  top: 100%; /* Điều chỉnh vị trí theo chiều cao của mũi tên */
  right: 0; /* Đặt vị trí ở góc bên phải */
  display: none; /* Mặc định ẩn đi */
  z-index: 1; /* Đảm bảo hiển thị trên các phần tử khác */
}

/* Hiển thị tooltip khi có lỗi */
.alert-danger-custom.active {
  display: block;
}

/* Kiểu chữ cho thông báo lỗi */
.alert-danger-custom p {
  margin: 0; /* Xóa lề ngoại dung mặc định của thẻ p */
}

/* Tạo mũi tên */
/*.alert-danger-custom::before {*/
/*  content: ''; !* Truyền nội dung rỗng *!*/
/*  position: absolute; !* Thiết lập vị trí tuyệt đối *!*/
/*  top: 100%; !* Điều chỉnh vị trí theo chiều cao của mũi tên *!*/
/*  right: 10px; !* Đặt vị trí theo chiều ngang *!*/
/*  border-width: 0 5px 10px 5px; !* Kích thước mũi tên *!*/
/*  border-style: solid;*/
/*  border-color: transparent transparent #f8d7da transparent; !* Màu sắc của mũi tên *!*/
/*}*/

/* Kiểu cho nút đóng tooltip */
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #721c24; /* Màu chữ đỏ đậm */
}
