
<div class="modal" id="editFacilityModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title title text-center w-100">Cập nhật cơ sở</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="error()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="name" class="col-3">Tên cơ sở <span class="required">*</span></label>
                <div class="col-9">
                  <input type="text" [(ngModel)]="facilityInput.name" class="form-control" id="name" name="name" #name="ngModel">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="name.errors?.['required']">
                      Tên cơ sở không được để trống !
                    </div>
                  </div>
                  <div *ngIf="isSubmited"  class="alert-danger-custom">
                    <p>
                      {{errorFacility.name}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="address" class="col-3">Địa chỉ <span class="required">*</span></label>
                <div class="col-9">
                  <input type="text" [(ngModel)]="facilityInput.address" class="form-control" id="address" name="address" #address="ngModel">
                  <div *ngIf="address.invalid && (address.dirty || address.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="address.errors?.['required']">
                      Địa chỉ không được để trống !
                    </div>
                  </div>
                  <div *ngIf="isSubmited"  class="alert-danger-custom">
                    <p>
                      {{errorFacility.address}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="sdt-phongkham" class="col-3">SĐT Phòng khám <span class="required">*</span></label>
                <div class="col-9">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2">(+84)</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="facilityInput.sdtFacility" required id="sdt-phongkham" name="phone_number" #sdtFacility="ngModel" aria-label="phoneNumber" aria-describedby="basic-addon2">
                  </div>
                  <div *ngIf="sdtFacility.invalid && (sdtFacility.dirty || sdtFacility.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="sdtFacility.errors?.['required']">
                      Số điện thoại phòng khám không được để trống !
                    </div>
                  </div>
                  <div *ngIf="isSubmited"  class="alert-danger-custom">
                    <p>
                      {{errorFacility.sdtFacility}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="sdt-manager" class="col-3">SĐT Người đại diện <span class="required">*</span></label>
                <div class="col-9">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">(+84)</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="facilityInput.sdtManager" required id="sdt-manager" name="phone_number" #sdtManager="ngModel" aria-label="phoneNumber" aria-describedby="basic-addon1">
                  </div>
                  <div *ngIf="sdtManager.invalid && (sdtManager.dirty || sdtManager.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="sdtManager.errors?.['required']">
                      Số điện thoại người đại diện không được để trống !
                    </div>
                  </div>
                  <div *ngIf="isSubmited"  class="alert-danger-custom">
                    <p>
                      {{errorFacility.sdtManager}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="surrogate" class="col-3">Người đại diện <span class="required">*</span></label>
                <div class="col-9">
                  <input type="text" [(ngModel)]="facilityInput.managerName" class="form-control" id="surrogate" name="surrogate" #managerName="ngModel">
                  <div *ngIf="managerName.invalid && (managerName.dirty || managerName.touched)"  class="alert-danger-custom" style="color:#FF0000FF;">
                    <div *ngIf="managerName.errors?.['required']">
                      Tên người đại diện không được để trống !
                    </div>
                  </div>
                  <div *ngIf="isSubmited"  class="alert-danger-custom">
                    <p>
                      {{errorFacility.manager}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" id="cancel-edit-facility" class="btn btn-cancel" data-bs-dismiss="modal" (click)="error()">Hủy</button>
          <button type="button" class="btn button-timekeeping" (click)="updateFacility()"><i class="bi bi-floppy2"></i> Lưu</button>
        </div>

      </div>
    </div>
  </div>
</div>



