<div class="sidebar-menu">
  <ul class="nav">
    <!--<li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Lịch hẹn</p>
      </a>
    </li>-->
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/admin/service">
        <p>Thủ thuật</p>
      </a>
    </li>
   <!-- <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Bệnh nhân</p>
      </a>
    </li>-->
    <!--<li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Bảng theo dõi chấm công</p>
      </a>
    </li>-->
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/admin/staff">
        <p>Nhân viên</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/admin/labo">
        <p>Labo</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/admin/specimens">
        <p>Mẫu</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/admin/material">
        <p>Vật liệu</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/admin/medicine">
        <p>Thuốc</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/admin/facility">
        <p>Cơ sở</p>
      </a>
    </li>
  </ul>
</div>

