<div class="sep-recent-orders bg-white patient_tab" style="border-radius: 15px;">
  <!-- <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px; padding-top: 20px;">Hồ sơ bệnh nhân</h2> -->

  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <ng-container
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('4') || roleId.includes('5')">
            <li class="nav-item mr-2"><a class="nav-link"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
                style="padding: 10px; color: #000; cursor: pointer;">Khám và điều trị</a></li>
            <li class="nav-item mr-2"><a class="nav-link active" style="padding: 10px; color: #664FC3; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/mauvat/')">Mẫu</a>
            </li>
            <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
            </li>
          </ng-container>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/phieu-thu/')">Phiếu thu</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="tab-pane show active" id="TTCtab">
      <div class="title-patientName">
        <div>
          <b>Bệnh nhân: {{patientName}}</b>
        </div>
      </div>
      <div class="row" style="padding-top: 10px; padding-right: 80px;">
        <div class="col-12">
          <button class="btn button-add btn-add-specimen" data-bs-toggle="modal" data-bs-target="#addSpecimensModal">
            <i class="bi bi-plus-circle-fill"></i> Đặt mẫu</button>
        </div>
      </div>
      <div class="table-container" style="margin-top: 10px;">
        <table>
          <thead class="sticky-thead">
            <tr>
              <th>Tên mẫu</th> <!--2-->
              <th>Chất liệu</th> <!--3-->
              <th>Số lượng</th> <!--4-->
              <th>Đơn giá</th> <!--5-->
              <th>Labo</th> <!--6-->
              <th>Trạng thái</th> <!--7-->
              <th>Ngày đặt</th> <!--8-->
              <!-- <th>Người đặt</th>  -->
              <th>Ngày nhận</th> <!--10-->
              <!-- <th>Người nhận</th> -->
              <th>Ngày lắp</th> <!--12-->
              <th>Bảo hành</th> <!--13-->
              <th>Thao tác</th> <!--14-->
            </tr>
          </thead>
          <tbody *ngIf="PatientSpecimens.length > 0;else noData">
            <tr *ngFor="let specimens of PatientSpecimens">
              <td class="truncate" data-bs-toggle="tooltip" title="{{specimens.ms_name}}">{{specimens.ms_name}}</td>
              <!--2-->
              <td>{{specimens.ms_type}}</td> <!--3-->
              <td>{{specimens.ms_quantity}}</td> <!--4-->
              <td>{{specimens.ms_unit_price}}</td> <!--5-->
              <td>{{specimens.lb_id}}</td> <!--6-->
              <td>{{specimens.ms_status == 1 ? "Chờ duyệt":(specimens.ms_status == 2)? "Chưa nhận":
                (specimens.ms_status == 3) ?"Đã nhận":"Hàng lỗi"}}</td> <!--7-->
              <td>{{ specimens.ms_order_date | date:'dd/MM/yyyy'}}</td> <!--8-->
              <td>{{specimens.ms_received_date == '' ? '' : specimens.ms_received_date == 0 ? '' :
                specimens.ms_received_date | date:'dd/MM/yyyy'}}</td>
              <td>{{specimens.ms_used_date == '' ? '' : specimens.ms_used_date == 0 ? '' : specimens.ms_used_date |
                date:'dd/MM/yyyy'}}</td> <!--12-->
              <td>{{specimens.ms_warranty == '' ? '': specimens.ms_warranty == 0 ? '' : specimens.ms_warranty |
                date:'dd/MM/yyyy'}}</td> <!--13-->
              <td> <!--14-->
                <button class="btn btn-primary p-1 m-2" (click)="openEditSpecimen(specimens)"><i
                    class="bi bi-pencil-square" data-bs-toggle="modal"
                    data-bs-target="#editSpecimensModal"></i></button>
                <button class="btn btn-danger p-1" (click)="deleteSpecimens(specimens.ms_id,specimens.ms_name)"><i
                    class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-secondary ml-2 mt-3 mb-3" routerLink="/benhnhan/danhsach">Quay lại</button>
    </div>
    <ng-template #noData>
      <p class="no-appointment-message text-center">Không có "Mẫu" nào được tìm thấy!</p>
    </ng-template>

  </div>
</div>
<ng-template #noData>
  <p class="no-appointment-message">Bệnh nhân hiện không có sử dụng Mẫu nào</p>
</ng-template>
<app-popup-add-specimens [approveSpecimensList]="approveSpecimensList"
  [Patient_Id]="Patient_Id"></app-popup-add-specimens>
<app-popup-edit-specimens [PutSpecimen]="PutSpecimen" [AllLabos]="AllLabos"
  [Patient_Id]="Patient_Id"></app-popup-edit-specimens>
