@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}


a {
  color: var(--custom-color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.recent-orders {
  margin-top: 1.3rem;
}

.recent-orders h2 {
  margin-bottom: 0.8rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.content-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}


@media screen and (max-width: 1200px) {

 .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

}

@media screen and (max-width: 768px) {

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

 .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  table {
    width: 100%;
    margin: 0;
  }

}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #FEDDCC;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: #000;
  border-radius: 55px;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.table-container {
  margin-top: 10px;
  overflow-x: auto; /* Adds horizontal scrolling if the table is too wide */
  border-collapse: collapse; /* Removes gaps between cells */
}

.table-container table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Removes gaps between cells */
  table-layout: fixed; /* Ensures the table layout is fixed */
}

.table-container th, .table-container td {
  text-align: left; /* Aligns text to the left */
  padding: 10px; /* Adds padding for spacing */
  border-bottom: 1px solid #ddd; /* Adds a bottom border to each cell */
  width: 7.69%; /* Sets each column to have an equal width */
}

/* Header styles */
.sticky-thead th {
  background-color: #664FC3; /* Green background for headers */
  color: white; /* White text for headers */
  position: sticky;
  top: 0;
}

/* Zebra striping for rows */
.table-container tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-container tbody tr:hover {
  background-color: #ddd; /* Changes background on hover */
}

/* Button styles */
.btn-primary {
  background-color: #1B9C85; /* Blue */
}

.btn-danger {
  background-color: #dc3545; /* Red */
}

/* Tooltip styling */
[data-bs-toggle="tooltip"] {
  position: relative;
  cursor: pointer;
}

[data-bs-toggle="tooltip"]:after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
  z-index: 1;
}

[data-bs-toggle="tooltip"]:hover:after {
  display: block;
}

.no-appointment-message {
  text-align: center; /* Centers the text */
  color: #6c757d; /* Bootstrap's default secondary text color for a muted look */
  margin-top: 2rem; /* Adds some space at the top */
  margin-bottom: 2rem; /* Adds some space at the bottom */
  font-size: 1rem; /* Sets the font size */
  font-style: italic; /* Italicize the font to indicate a different status from regular content */
}
