<div>
  <button class="open-btn" (click)="chatContainerVisible = true">Chat</button>
</div>

<div class="chat-popup" id="chat-form-container" [style.display]="chatContainerVisible ? 'block' : 'none'">
  <form action="" class="form-container">
    <div class="chat-window-head">
      <h4><i class="">Chat</i></h4>
      <span class="close-btn" (click)="chatContainerVisible = false">
        <i class="fa fa-times"></i>
      </span>
    </div>

    <div class="msg-container">
      <div class="msg">
        <p>hello!!!!!</p>
        <span>00:30 AM</span>
      </div>
    </div>

    <div class="chat-box-container">
      <div class="chat-box">
        <input type="text" placeholder="Nhập tin nhắn" name="msg" required>
        <button type="submit" class="btn"><i class="send-btn"></i></button>
      </div>
    </div>
  </form>
</div>
