<div class="page-wrapper bg-wrapper">
  <div class="content">
    <div class="buy-form">
      <div class="row">
        <div class="col-sm-4 col-3">
          <h4 class="page-title">Nhân viên</h4>
        </div>
      </div>
      <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
          <div class="form-group form-group-filter">
            <button href="add-employee.html" class="btn btn-custom float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus-circle"></i> Thêm
              nhân viên</button>
          </div>
        </div>
        <div class="col-sm-3 col-md-5" style="position: relative;">
          <div style="position: relative;">
            <span class="search-toggle-icon"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" placeholder="Tìm kiếm theo tên nhân viên hoặc email">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="row select-row">
            <div class="col-md-6">
              <div class="form-group form-group-filter">
                <button href="add-employee.html" class="btn btn-custom float-right btn-rounded dropdown-toggle" data-bs-toggle="dropdown">Tình trạng làm việc</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-filter">
                <button href="add-employee.html" class="btn btn-custom float-right btn-rounded">Hiển thị</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered text-center rounded-3 overflow-hidden">
              <thead>
                <tr>
                  <th>Họ và tên</th>
                  <th>Ngày sinh</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>Địa chỉ</th>
                  <th>Chức vụ</th>
                  <th>Ghi chú</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <!--<div class="dropdown dropdown-action">
                      <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fas fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-pencil-alt m-r-5"></i>
                          Edit</a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_employee"><i
                          class="fas fa-trash-alt m-r-5"></i> Delete</a>
                      </div>
                    </div>-->
                      <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                      <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>

                  </td>
                </tr>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                    <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <!--<div class="dropdown dropdown-action">
                      <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fas fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-pencil-alt m-r-5"></i>
                          Edit</a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_employee"><i
                          class="fas fa-trash-alt m-r-5"></i> Delete</a>
                      </div>
                    </div>-->
                    <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                    <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                    <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                    <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                    <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                    <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td><h2>Nguyễn Văn A</h2></td>
                  <td>20/01/1999</td>
                  <td>0912345678</td>
                  <td>Anv@gmail.com</td>
                  <td>Hà nội</td>
                  <td>Bác sĩ</td>
                  <td>Chuyên khoa</td>
                  <td class="text-center">
                    <button href="#" class="btn btn-primary float-right btn-rounded"><i class="bi bi-journal-richtext"></i> Chi tiết</button>
                    <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-delete-staff></app-popup-delete-staff>
<app-popup-add-staff></app-popup-add-staff>
