<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside>
      <div class="toggle">
        <div class="logo">
          <img
            src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
          <p><span class="danger">Nguyen Tran</span> Clinic</p>
        </div>
        <div class="close" id="close-btn">
          <span class="material-icons-sharp">
            close
          </span>
        </div>
      </div>

      <div class="sidebar">
        <a routerLink="/admin/appointment">
          <span class="material-icons-sharp">
            dashboard
          </span>
          <h3>Lịch hẹn</h3>
        </a>
        <a routerLink="/receptionist/waitingroom">
          <span class="material-icons-sharp">
            person_outline
          </span>
          <h3>Thủ thuật</h3>
        </a>
        <a routerLink="/patient/records">
          <span class="material-icons-sharp">
            receipt_long
          </span>
          <h3>Bệnh nhân</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Bảng theo dõi chấm công</h3>
        </a>
        <a routerLink="/receptionist/timekeeping" class="active">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Nhân viên</h3>
        </a>
        <a routerLink="/admin/labo">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Labo</h3>
        </a>
        <a routerLink="/admin/specimens">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Mẫu</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Vật liệu</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Thuốc</h3>
        </a>
        <a routerLink="/receptionist/timekeeping">
          <span class="material-icons-sharp">
            insights
          </span>
          <h3>Cơ sở</h3>
        </a>
        <a (click)="signOut()" style="cursor:pointer;">
          <span class="material-icons-sharp">
            logout
          </span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
      <!-- Analyses -->
      <div class="analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <p>+81%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <p>-48%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <p>+21%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Analyses -->

      <!-- New Users Section -->
      <!-- End of New Users Section -->

      <!-- Recent Orders Table -->
      <div class="recent-orders">
        <div class="row mt-5 mb-5">
          <div class="col-3">
            <select class="form-select input-custom" aria-label="Default select example">
              <option selected value="">Tình trạng làm việc</option>
              <option value="1">Đang làm</option>
              <option value="2">Nghỉ phép</option>
              <option value="3">Nghỉ việc</option>
            </select>
          </div>
          <div class="col-6">
            <section class="table__header">
              <h1></h1>
              <div class="input-group">
                <input type="search search-custom" placeholder="Tìm kiếm theo tên, email...">
              </div>
              <div class="export__file">
              </div>
            </section>
          </div>
          <div class="col-3">
            <!-- <button class="btn btn-add-custom" data-bs-toggle="modal" data-bs-target="#myModal">Hiển thị</button> -->
            <button class="btn btn-add-custom" data-bs-toggle="modal" data-bs-target="#myModal"><i
                class="bi bi-plus-circle"></i> Thêm nhân viên</button>
          </div>
        </div>
        <h2>Lịch hẹn</h2>
        <div style="overflow-y: auto; height: 300px;">
          <table>
            <thead>
              <tr>
                <th style="padding: 20px 0px;">Họ và tên</th>
                <th style="padding: 20px 0px">Ngày sinh</th>
                <th style="padding: 20px 0px">Giới tính</th>
                <th style="padding: 20px 0px">SĐT</th>
                <th style="padding: 20px 0px">Email</th>
                <th style="padding: 20px 0px; min-width: 110px;">Địa chỉ</th>
                <th style="padding: 20px 0px">Chức vụ</th>
                <th style="padding: 20px 0px">Ghi chú</th>
                <th style="padding: 20px 0px">Thao tác</th>
              </tr>
            </thead>
            <tbody>
                  <tr>
                    <td><!--HE153724--></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <button class="btn" style="margin-right: 20px;" data-bs-toggle="modal" data-bs-target="#editAppointmentModal">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <i class="bi bi-trash3"></i>
                    </td>
                  </tr>
            </tbody>
          </table>

        </div>
      </div>
      <!-- End of Recent Orders -->

    </main>
    <!-- End of Main Content -->

    <div class="right-section">
      <div class="nav">
        <button id="menu-btn">
          <span class="material-icons-sharp">
            menu
          </span>
        </button>
        <div class="dark-mode">
          <span class="material-icons-sharp active">
            light_mode
          </span>
          <span class="material-icons-sharp">
            dark_mode
          </span>
        </div>

        <div class="profile">
          <div class="info">
            <p>Xin chào, <b>Linh</b></p>
            <small class="text-muted">Lễ tân</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png">
          </div>
        </div>

      </div>
      <!-- End of Nav -->

      <div class="reminders">
        <div class="header">
          <h2>Thông báo</h2>
          <span class="material-icons-sharp">
            notifications_none
          </span>
        </div>

        <div class="notification">
          <div class="icon">
            <span class="material-icons-sharp">
              volume_up
            </span>
          </div>
          <div class="content">
            <div class="info">
              <h3>Workshop</h3>
              <small class="text_muted">
                08:00 AM - 12:00 PM
              </small>
            </div>
            <span class="material-icons-sharp">
              more_vert
            </span>
          </div>
        </div>

        <div class="notification deactive">
          <div class="icon">
            <span class="material-icons-sharp">
              edit
            </span>
          </div>
          <div class="content">
            <div class="info">
              <h3>Workshop</h3>
              <small class="text_muted">
                08:00 AM - 12:00 PM
              </small>
            </div>
            <span class="material-icons-sharp">
              more_vert
            </span>
          </div>
        </div>

      </div>

    </div>


  </div>

</div>


<!-- <app-popup-delete-staff></app-popup-delete-staff> -->
<app-popup-add-staff></app-popup-add-staff>
<app-popup-edit-staff></app-popup-edit-staff>
