<div class="recent-orders bg-white" style="border-radius: 15px;">
  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
              style="padding: 10px; color: #000; cursor:pointer">Khám và
              điều
              trị</a></li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; cursor:pointer;color: #000;"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link active" style="padding: 10px; color: #7B4C50; cursor:pointer"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-pane" id="TTtab" style="padding: 30px;">
      <div class="title mb-3">Thông tin thanh toán</div>

      <div class="container" *ngFor="let report of Material_Usage_Report">
        <div class="header">
          <h2 (click)="toggleDetails()">Lịch trình 1: {{report.tc_data.tc_name}}</h2>
          <div class="summary">
            <span>Tổng tiền: {{ report.total }}</span>
            <span>Giảm giá:</span>
            <span>Đã thanh toán: {{ report.totalPaid }}</span>
            <span>Còn lại: {{ report.remaining }}</span>
            <button class="button" (click)="thanhtoan(report.mu_data, report.tc_data, report.p_data)">Thanh toán</button>
          </div>
        </div>
        <div class="details" *ngIf="showDetails">
          <div class="row" *ngFor="let mu of report.mu_data">
            <ng-container *ngIf="mu.mu_total_paid > 0;">
              <span>Ngày thanh toán: {{ mu.mu_created_date }}</span>
              <span>Đã thanh toán: {{ mu.mu_total_paid }}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- <app-popup-payment-tab [PMU]="PMU"
                       [Ex]="Examination"
                       [MU]="Material_Usage"
></app-popup-payment-tab> -->
