@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}


a {
  color: var(--custom-color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.recent-orders {
  margin-top: 1.3rem;
}

.recent-orders h2 {
  margin-bottom: 0.8rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}


@media screen and (max-width: 1200px) {

 .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

}

@media screen and (max-width: 768px) {

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

 .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  table {
    width: 100%;
    margin: 0;
  }

}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #FEDDCC;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: #000;
  border-radius: 55px;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
}
.payment-table, .payment-table th, .payment-table td {
  border: 1px solid black;
}
.payment-table th, .payment-table td {
  padding: 8px;
  text-align: left;
}
.payment-table th {
  background-color: #f2f2f2;
}
.title {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}

.payment-button {
  background-color: #181b18; /* Màu nền xanh lá */
  color: white; /* Màu chữ trắng */
  padding: 10px 20px; /* Đệm xung quanh nội dung */
  border: none; /* Không viền */
  border-radius: 5px; /* Bo góc */
  cursor: pointer; /* Con trỏ chuột khi rê chuột vào nút */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền */
}

.payment-button:hover {
  background-color:#4CAF50; /* Màu nền khi rê chuột vào */
}

.payment-button:active {
  background-color: #7b817c; /* Màu nền khi nhấn nút */
  box-shadow: 0 5px #666; /* Bóng đổ khi nhấn */
  transform: translateY(4px); /* Dịch chuyển nút xuống một chút khi nhấn */
}

