<div class="recent-orders" style="border-radius: 15px;">
  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs" style="padding: 0px 80px;
        ">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
              style="padding: 10px; color: #000; cursor:pointer">Khám và
              điều
              trị</a></li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; cursor:pointer;color: #000;"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link active" style="padding: 10px; color: #7B4C50; cursor:pointer"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-pane" id="TTtab" style="padding: 30px;">
      <div class="title">Thông tin thanh toán</div>

      <table class="payment-table">
        <tr>
          <th>Tổng tiền điều trị</th>
          <th>Giảm giá</th>
          <th>Phải thanh toán</th>
          <th>Đã thu</th>
          <th>Còn lại</th>
        </tr>
        <tr>
          <td>{{TotalPaid}}</td>
          <td></td>
          <td>{{TotalPaid}}</td>
          <td>{{TotalPaid}}</td>
          <td></td>
        </tr>
      </table>

      <div class="title">Hóa đơn điều trị</div>

      <table class="payment-table">
        <tbody>
          <tr>
            <th>Ngày điều trị</th>
            <th>Cơ sở</th>
            <th>Thành tiền</th>
            <th>Giảm giá</th>
            <th>Tổng chi phí</th>
            <th>Đã thanh toán</th>
            <th>Còn lại</th>
            <th>Thanh toán</th>
          </tr>
          <tr *ngFor="let pmu of PaidMaterialUsage">
            <td>{{pmu.created_date}}</td>
            <td>{{facility}}</td>
            <td>{{pmu.total_paid}}</td>
            <td></td>
            <td>{{pmu.total_paid}}</td>
            <td>{{pmu.total_paid}}</td>
            <td></td>
            <td><button class="btn-cus" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="thanhtoan(pmu)">Thanh toán</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
