<div class="modal" id="AddTreatmentModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-main">
        <h4 class="modal-title title text-center w-100">Thêm liệu trình</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Mã bệnh nhân</label>
              <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Patient_Id" disabled
                aria-describedby="emailHelp">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Tên Liệu trình</label>
              <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Post_TreatmentCourse.name"
                aria-describedby="emailHelp">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="procedureGroupSelect" class="form-label">Chọn nhóm thủ thuật</label>
              <select id="procedureGroupSelect" class="form-control" (change)="onProcedureGroupSelectChange($event)">
                <option>Chọn nhóm thủ thuật</option>
                <option *ngFor="let group of ProcedureGroupList" [value]="group.medical_procedure_group_id">{{
                  group.name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="procedureDetailSelect" class="form-label">Chọn thủ thuật</label>
              <select id="procedureDetailSelect" class="form-control" (change)="onProcedureSelectChange($event)"
                [disabled]="!selectedGroupId">
                <option value="0">Chọn thủ thuật</option>
                <option *ngFor="let detail of ProcedureDetailListFiltered" [value]="detail.mp_id">{{ detail.mp_name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Thủ thuật đã thêm</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selected of ProcedureSelectedItems; let i = index">
                  <td>{{ selected.mp_name }}</td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteProcedureSelectedItem(i)">Xóa</button>
                  </td>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Mô tả</label>
              <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Post_TreatmentCourse.description" aria-describedby="emailHelp">
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="button-conf float-end">
          <button type="button" id="cancel" class="btn bg-white" data-bs-dismiss="modal" (click)="close()">Hủy</button>
          <button type="button" class="btn" data-bs-dismiss="modal"
            style="background-color: rgba(139, 55, 19,.95); color:white" (click)="postTreatmentCourse()">Thêm
            mới</button>
        </div>

      </div>
    </div>
  </div>
</div>
