<div class="modal" id="myBNModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-main">
        <h4 class="modal-title title text-center w-100">Thêm bệnh nhân</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 mb-xl-0">
                <div class="card-body text-center">
                  <img class="img-account-profile mb-2"
                    src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                    alt="">
                  <button class="btn btn-primary" type="button">Chọn ảnh</button>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="hovaten">Họ và tên<span class="required">*</span></label>
                        <input class="form-control" [(ngModel)]="patient1.patientName" id="hovaten" type="text"
                               placeholder="Họ và tên">
                        <div *ngIf="isSubmitted" class="alert-danger-custom">
                          <p>
                            {{validatePatient.name}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="createdDate">Ngày sinh<span class="required">*</span></label>
                        <!-- <input class="form-control" placeholder="dd/MM/yyyy" [(ngModel)]="patient1.dob" id="createdDate" type="text"> -->
                        <div class="input-group">
                          <input class="form-control" placeholder="dd/mm/yyyy" name="dp" ngbDatepicker [(ngModel)]="model"
                                 (ngModelChange)="onDateChange()"
                                 #d="ngbDatepicker"/>
                          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                        </div>

                        <div *ngIf="isSubmitted" class="alert-danger-custom">
                          <p>
                            {{validatePatient.dob}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="email">Email</label>
                        <input class="form-control" [(ngModel)]="patient1.Email" id="email" type="text" name="birthday"
                               placeholder="Email">
                        <div *ngIf="isSubmitted" class="alert-danger-custom">
                          <p>
                            {{validatePatient.email}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <div class="small mb-1">
                          <label>Giới tính</label>
                        </div>
                        <div class="mb-6 sep-input-gender">
                          <input type="radio" [(ngModel)]="patient1.Gender" class="radio m-2" [value]="1">
                          <label for="male">Nam</label>
                          <input type="radio" [(ngModel)]="patient1.Gender" class="radio m-2" value="0">
                          <label for="female">Nữ</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="inputPhone">Điện thoại</label>
                        <!--                        <input class="form-control" [(ngModel)]="patient1.phone_Number" id="inputPhone" type="tel"-->
                        <!--                          placeholder="Số điện thoại">-->
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text custom-input" id="basic-addon1">(+84)</span>
                          </div>
                          <input type="text" class="form-control" [(ngModel)]="patient1.phone_Number" id="inputPhone"
                            name="inputPhone" aria-label="phoneNumber" aria-describedby="basic-addon1">
                        </div>
<!--                        <div *ngIf="isSubmitted" class="alert-danger-custom">-->
<!--                          <p>-->
<!--                            {{validatePatient.phone}}-->
<!--                          </p>-->
<!--                        </div>-->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <label class="small mb-1" for="zalo">Zalo<span class="required">*</span></label>
                        <!--                        <input class="form-control" [(ngModel)]="patient1.phone_Number" id="inputPhone" type="tel"-->
                        <!--                          placeholder="Số điện thoại">-->
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text custom-input" id="basic-addon2">(+84)</span>
                          </div>
                          <input type="text" class="form-control" id="zalo"
                                 name="inputPhone" aria-label="phoneNumber" aria-describedby="basic-addon2">
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label class="small mb-1" for="tieuSuBenh">Địa chỉ <span class="required">*</span></label>
                      <input class="form-control" [(ngModel)]="patient1.Address" id="tieuSuBenh" type="text" />
                      <div *ngIf="isSubmitted" class="alert-danger-custom">
                        <p>
                          {{validatePatient.address}}
                        </p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="note">Tiền sử toàn thân</label>
                      <input class="form-control" [(ngModel)]="patient1.full_medical_History" id="note" type="text">
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="note">Tiền sử răng miệng</label>
                      <input class="form-control" [(ngModel)]="patient1.dental_medical_History" id="note" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-around"
          style="text-align: center; width: 24%; margin-left: 57%;">
          <div class="sep-patient-popupadd-button">
            <button type="button" id="cancel" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
          </div>
          <div class="sep-patient-popupadd-button">
            <button type="button" class="btn button-timekeeping" (click)="addPatient()"><i
                class="bi bi-plus-circle"></i> Thêm mới</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
