<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div class="recent-orders">
  <section class="table__header">
    <h1></h1>
    <div class="export__file">
    </div>
  </section>
  <div class="row">
    <div class="col-md-2 col-xl-1">
      <a routerLink="/admin/vat-lieu" routerLinkActive="active-link" class="page-title">Quản lý vật liệu</a>
    </div>
    <div class="col-md-2 col-xl-1">
      <a routerLink="/admin/quan-ly-nhap" routerLinkActive="active-link" class="page-title">Quản lý nhập</a>
    </div>
  </div>
  <div class="row custom-row mb-2">
    <div class="col-6">
      <div class="form-group form-group-filter">
        <button class="btn button-timekeeping" data-bs-toggle="modal" data-bs-target="#myModal"><i
            class="bi bi-plus-circle"></i> Thêm mới
        </button>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table>
      <colgroup>
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
      </colgroup>
      <thead class="sticky-thead">
        <tr>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Mã vật liệu</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Tên vật liệu</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Số lượng</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Đơn giá</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Đơn vị</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Hạn sử dụng</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Trạng thái</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;" class="text-center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of results">
          <tr (click)="toggleExpand(item)">
            <td style="padding-top: 10px;padding-bottom: 10px;">
              <i class="bi" [ngClass]="{'bi-chevron-down': !item.expanded, 'bi-chevron-up': item.expanded}"></i> {{
              item.materialId }}
            </td>
            <td style="padding-top: 10px;padding-bottom: 10px;" class="truncate" data-bs-toggle="tooltip">{{ item.materialName
              }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.quantity }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.unitPrice }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.unit }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;"></td>
            <td style="padding-top: 10px;padding-bottom: 10px;"></td>
            <td style="padding-top: 10px;padding-bottom: 10px;">
              <button class="btn btn-primary p-1 m-r-3" style="margin-right: 3px" data-bs-toggle="modal"
                data-bs-target="#editMaterialModal">
                <i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-danger p-1"> <i class="bi bi-trash"></i></button>
            </td>
          </tr>
          <tr *ngIf="item.expanded">
            <td style="padding-top: 10px;padding-bottom: 10px;" colspan="8">
              <div class="table-container">
                <table>
                  <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                  </colgroup>
                  <tbody>
                    <tr *ngFor="let detail of item.expiry">
                      <td style="padding-top: 10px;padding-bottom: 10px;"></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;" class="truncate" data-bs-toggle="tooltip"></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">{{ detail.quantity }}</td>
                      <td style="padding-top: 10px;padding-bottom: 10px;"></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;"></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">{{ detail.expiryDate }}</td>
                      <td style="padding-top: 10px;padding-bottom: 10px;"></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">
                        <button class="btn btn-primary p-1 m-r-3" style="margin-right: 3px" data-bs-toggle="modal"
                          data-bs-target="#editMaterialModal">
                          <i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger p-1"> <i class="bi bi-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </td>

          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="row mt-3" style="float:start;">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <button [disabled]="pagingMaterial.paging <= 1" (click)="pageChanged(pagingMaterial.paging - 1)"
            class="page-link pagination-button" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Trang trước</span>
          </button>
        </li>
        <!--<li class="page-item"><span class="page-link">Trang 1</span></li>-->
        <li class="page-item">
          <button class="page-link pagination-button" href="#" aria-label="Next" [disabled]="!enableNextPageButton"
            (click)="pageChanged(pagingMaterial.paging + 1)">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Trang sau</span>
          </button>
        </li>
      </ul>
    </nav>
    <!--<ngb-pagination [collectionSize]="pagingMaterial.total" [(page)]="pagingMaterial.paging" [boundaryLinks]="true"  (pageChange)="pageChanged($event)"></ngb-pagination>-->
  </div>
</div>

<app-popup-add-material [materialList]="materialList"></app-popup-add-material>
<app-popup-delete-material></app-popup-delete-material>
<app-popup-edit-material [material]="material" [materialList]="materialList"></app-popup-edit-material>