<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div class="recent-orders">
        <section class="table__header">
          <h1></h1>
          <div class="export__file">
          </div>
        </section>
        <div class="row">
          <div class="col-md-2 col-xl-1">
            <a routerLink="/admin/vat-lieu" routerLinkActive="active-link" class="page-title">Quản lý vật liệu</a>
          </div>
          <div class="col-md-2 col-xl-1">
            <a routerLink="/admin/quan-ly-nhap" routerLinkActive="active-link" class="page-title" >Quản lý nhập</a>
          </div>
          <!--<div class="col-md-2">
            <a routerLink="/admin/material/export-material" class="page-title">Quản lý xuất</a>
          </div>-->
        </div>
        <div class="row custom-row mb-2">
          <div class="col-6">
            <div class="form-group form-group-filter">
              <button class="btn button-timekeeping" data-bs-toggle="modal" data-bs-target="#myModal"><i
                class="bi bi-plus-circle"></i> Thêm mới
                </button>
            </div>
          </div>
        </div>

        <div class="table-container">
          <table>
            <thead class="sticky-thead">
            <tr>
              <th style="padding-top: 10px;padding-bottom: 10px;">Mã vật liệu</th>
              <th style="padding-top: 10px;padding-bottom: 10px;">Tên vật liệu</th>
              <th style="padding-top: 10px;padding-bottom: 10px;">Số lượng</th>
              <th style="padding-top: 10px;padding-bottom: 10px;">Đơn giá</th>
              <th style="padding-top: 10px;padding-bottom: 10px;">Đơn vị</th>
              <th style="padding-top: 10px;padding-bottom: 10px;">Hạn sử dụng</th>
              <th style="padding-top: 10px;padding-bottom: 10px;">Trạng thái</th>
              <th style="padding-top: 10px;padding-bottom: 10px;" class="text-center">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let v of materialList">
              <td>{{v.material_id}}</td>
              <td class="truncate" data-bs-toggle="tooltip" title="{{v.material_name}}">{{v.material_name}}</td>
              <td>{{v.quantity_import}}</td>
              <td>{{v.price}}</td>
              <td>{{v.unit}}</td>
              <td>{{v.warranty | date:'dd-MM-yyyy'}}</td>
              <td></td>
              <td>
                <button class="btn btn-primary p-1 m-r-3" style="margin-right: 3px" data-bs-toggle="modal" data-bs-target="#editMaterialModal" (click)="openEditMaterial(v)">
                  <i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-danger p-1" (click)="deleteMaterial(v.material_id)"> <i class="bi bi-trash"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt-3" style="float:start;">
          <ngb-pagination [collectionSize]="pagingMaterial.total" [(page)]="pagingMaterial.paging" [boundaryLinks]="true"  (pageChange)="pageChanged($event)"></ngb-pagination>
        </div>
      </div>

<app-popup-add-material [materialList] = "materialList"></app-popup-add-material>
<app-popup-delete-material></app-popup-delete-material>
<app-popup-edit-material [material] = "material" [materialList] = "materialList"></app-popup-edit-material>
