<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="sep-recent-orders">
  <div class="custom-row">
    <div class="vatlieu">
      <a routerLink="/vat-lieu" routerLinkActive="active-link" class="page-title">Quản lý vật liệu</a>
    </div>
    <div class="kho">
      <a routerLink="/kho" routerLinkActive="active-link" class="page-title">Quản lý Kho</a>
    </div>
    <div class="quanlynhap">
      <a routerLink="/quan-ly-nhap" routerLinkActive="active-link" class="page-title">Quản lý nhập</a>
    </div>
  </div>

  <div class="table-container mt-4">
    <table>
      <colgroup>
        <col style="width: 2%;">
        <col style="width: 5%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
      </colgroup>
      <thead class="sticky-thead">
        <tr>
          <th></th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Mã vật liệu</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Tên vật liệu</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Đơn vị</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Đơn giá</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Số lượng</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Hạn sử dụng</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;">Trạng thái</th>
          <th scope="col" style="padding-top: 10px;padding-bottom: 10px;" class="text-center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of results">
          <tr *ngIf="totalMaterial == 0" rolspan="9" style="justify-content: center;">
            Không có dữ liệu
          </tr>
          <tr (click)="toggleExpand(item)" *ngIf="totalMaterial > 0">
            <td>
              <i class="bi"
                [ngClass]="{'bi-chevron-double-right': !item.expanded, 'bi-chevron-double-down': item.expanded}"></i>
            </td>
            <td style="padding-top: 10px;padding-bottom: 10px;">
              {{item.materialId }}
            </td>
            <td style="padding-top: 10px;padding-bottom: 10px;" class="truncate" data-bs-toggle="tooltip">{{
              item.materialName
              }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.unit }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.unitPrice }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.quantity }}</td>
            <td style="padding-top: 10px;padding-bottom: 10px;"></td>
            <td style="padding-top: 10px;padding-bottom: 10px;"></td>
          </tr>
          <tr *ngIf="item.expanded">
            <td colspan="9">
              <div class="table">
                <table>
                  <colgroup>
                    <col style="width: 2%;">
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                  </colgroup>
                  <tbody>
                    <tr *ngFor="let detail of item.expiry">
                      <td style="padding-top: 10px;padding-bottom: 10px;"></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;"><i class="bi bi-arrow-return-right"></i></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;" data-bs-toggle="tooltip">{{item.materialName}}
                      </td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.unit }}</td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">{{ item.unitPrice }}</td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">{{ detail.quantity }}</td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">{{ detail.expiryDate | date:'dd/MM/yyyy'}}
                      </td>
                      <td></td>
                      <td style="padding-top: 10px;padding-bottom: 10px;" *ngIf="detail.quantity == 0">
                        <p style="color: red;"><b>Hết Hàng</b></p>
                      </td>
                      <td style="padding-top: 10px;padding-bottom: 10px;">
                        <button class="btn btn-primary p-1 m-r-3" title="Sửa vật liệu" style="margin-right: 3px"
                          data-bs-toggle="modal" data-bs-target="#editMaterialModal"
                          (click)="openEditMaterial(item,detail)">
                          <i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger p-1" title="Xoá vật liệu"
                          (click)="deleteMaterial(detail.mw_material_warehouse_id,item.materialName)"> <i
                            class="bi bi-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="sep-pagination" style="margin-top: 1%;">
    <!--    <a (click)="pageChanged(currentPage - 1)" *ngIf="currentPage > 1">&laquo;</a>-->
    <!--    <a>{{currentPage}}</a>-->
    <!--    <a (click)="pageChanged(currentPage + 1)" *ngIf="hasNextPage">&raquo;</a>-->
    <!--    <a (click)="currentPage > 1 ? pageChanged(currentPage - 1) : null" [class.disabled]="currentPage <= 1"-->
    <!--       style="color: black">&laquo;</a>-->
    <!--    <a>{{currentPage}}</a>-->
    <!--    <a [class.disabled]="!hasNextPage" (click)="hasNextPage && pageChanged(currentPage + 1)"-->
    <!--       style="color: black">&raquo;</a>-->
  </div>
</div>

<app-popup-add-material [materialList]="materialList"></app-popup-add-material>
<app-popup-delete-material></app-popup-delete-material>
<app-popup-edit-material [material]="material" [item]="item" [materialList]="materialList"></app-popup-edit-material>
