<div class="sep-recent-orders mt-4">
  <div class="otp-container">
    <h2>Nhập mật khẩu</h2>
    <div class="otp-inputs">
      <input type="password" class="form-control" [(ngModel)]="password">
    </div>
    <div class="confirm-password">
      <button class="btn button-add" (click)="GetAccessToken()">Xác nhận mật khẩu</button>
    </div>
    <div class="submitOTP">
      <div>
        <a href="#" routerLink="/gui-otp" (click)="SendOTPByMail(1)">Gửi mã OTP đến email bác sĩ Hoa</a>
      </div>
      <div>
        <a href="#" routerLink="/gui-otp" (click)="SendOTPByMail(2)">Gửi mã OTP đến email bác sĩ Bình</a>
      </div>
    </div>
  </div>
</div>
