<!--<app-staff></app-staff>-->
<!--<app-labo></app-labo>-->
<!--<app-specimens></app-specimens>-->
<!--<app-pending-specimens></app-pending-specimens>-->
<!--<app-material></app-material>-->
<!--<app-pending-material></app-pending-material>-->
<!--<app-warehouse-import-material-management></app-warehouse-import-material-management>-->
<!--<app-warehouse-export-material-management></app-warehouse-export-material-management>-->
<app-service></app-service>
<!--<app-medicine></app-medicine>-->
<!--<app-facility></app-facility>-->
<!--<app-staff-detail></app-staff-detail>-->
<!--<app-profile-personal></app-profile-personal>-->
