<div class="container">
  <h4 class="text-center">Chỉnh sửa nhân viên</h4>

  <div class="row">
      <div class="col-md-3">
          <div class="image-container" (click)="fileInput.click()">
              <img [src]="imageURL" alt="Ảnh nhân viên">
              <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput style="display: none;">
          </div>
      </div>

      <div class="col-md-9">
          <div class="form-group row">
              <label for="fullName" class="col-3">Họ và tên:</label>
              <div class="col-9">
                  <input type="text" class="form-control" [(ngModel)]="staff.name" id="fullName" name="fullName">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
                      <p>{{vailidateStaff.name}}</p>
                  </div>
              </div>
          </div>

          <div class="form-group row">
              <label for="dob" class="col-3">Ngày sinh:</label>
              <div class="col-9">
                  <input type="date" [(ngModel)]="staff.DOB" class="form-control date-input-custom" id="dob" name="dob">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
                      <p>{{vailidateStaff.dob}}</p>
                  </div>
              </div>
          </div>

          <div class="form-group row">
              <label for="address" class="col-3">Địa chỉ:</label>
              <div class="col-9">
                  <input type="text" [(ngModel)]="staff.address" class="form-control" id="address" name="address">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
                      <p>{{vailidateStaff.address}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-3">
      <div class="col-md-6 mt-3">
          <div class="form-group row">
              <div class="col-md-3 name-title">
                  <label for="email">Email:</label>
              </div>
              <div class="col-md-9">
                  <input type="email" [(ngModel)]="staff.email" class="form-control" id="email" name="email">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
                      <p>{{vailidateStaff.email}}</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 mt-3">
          <div class="form-group row">
              <div class="col-md-3 name-title">
                  <label for="phone">Số điện thoại:</label>
              </div>
              <div class="col-md-9">
                  <input type="tel" [(ngModel)]="staff.phone" class="form-control" id="phone" name="phone">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
                      <p>{{vailidateStaff.phone}}</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 mt-3">
          <div class="form-group row">
              <div class="col-md-3 name-title">
                  <label for="role">Vai trò:</label>
              </div>
              <div class="col-md-9">
                  <select id="role" [(ngModel)]="role" class="form-select" aria-label="Default select example" disabled>
                      <option value="1" selected>Bác sĩ</option>
                      <option value="2">Lễ tân</option>
                      <option value="3">Y tá</option>
                      <option value="4">Y tá trưởng</option>
                  </select>
              </div>
          </div>
      </div>

      <div class="col-md-6 mt-3">
          <div class="form-group row">
              <div class="col-md-3 name-title">
                  <label for="gender">Giới tính:</label>
              </div>
              <div class="col-md-9">
                  <label for="male">Nam</label>
                  <input type="radio" class="radio m-2" [(ngModel)]="staff.gender" id="male" name="gender">
                  <label for="female">Nữ</label>
                  <input type="radio" class="radio m-2" id="female" name="gender">
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
                      <p>{{vailidateStaff.gender}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-3">
      <div class="col-3">
          <label for="status">Tình trạng:</label>
      </div>
      <div class="col-3">
          <select id="status" [(ngModel)]="status" class="form-select float-start" aria-label="Default select example">
              <option value="1" selected>Đang làm</option>
              <option value="2">Nghỉ phép</option>
              <option value="3">Nghỉ việc</option>
          </select>
      </div>
  </div>
</div>

<div class="text-center mt-3">
  <button type="button" class="btn btn-cancel">Hủy</button>
  <button type="button" class="btn btn-save" (click)="saveEditedStaff()"><i class="bi bi-floppy2"></i> Lưu</button>
</div>
