<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 custom-content">
      <div class="image-container">
        <img [src]="imageURL ||'https://i.pinimg.com/736x/c6/e5/65/c6e56503cfdd87da299f72dc416023d4.jpg'"
          alt="Ảnh nhân viên">
        <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput style="display: none;">
      </div>
      <div class="button-container">
        <button class="btn button-timekeeping" (click)="fileInput.click()"><i class="bi bi-plus-circle"></i> Chọn
          ảnh</button>
      </div>
    </div>

    <div class="col-md-9 custom-content">
      <div class="form-group row mb-3">
        <label for="fullName" class="col-3">Họ và tên:</label>
        <div class="col-9">
          <input type="text" class="form-control" [(ngModel)]="staff.name" id="fullName" name="fullName">
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
            <p>{{vailidateStaff.name}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="dob" class="col-3">Ngày sinh:</label>
        <div class="col-9">
          <div style="display: flex">
            <div style="width: 100%">
              <input class="form-control date-input-custom" placeholder="dd/mm/yyyy" name="dp" ngbDatepicker
                [(ngModel)]="model" (ngModelChange)="onDateChange()" #d="ngbDatepicker" />
            </div>
            <div>
              <button class="btn btn-outline-secondary bi bi-calendar3" style="height: 100%" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
            <p>{{vailidateStaff.dob}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="address" class="col-3">Địa chỉ:</label>
        <div class="col-9">
          <input type="text" [(ngModel)]="staff.address" class="form-control" id="address" name="address">
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
            <p>{{vailidateStaff.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 custom-content">
    <div class="col-md-6 mt-3">
      <div class="form-group row">
        <div class="col-md-3 name-title">
          <label for="email">Email:</label>
        </div>
        <div class="col-md-9">
          <input type="email" [(ngModel)]="staff.email" class="form-control" id="email" name="email">
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
            <p>{{vailidateStaff.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="form-group row">
        <div class="col-md-3 name-title">
          <label for="phone">Số điện thoại:</label>
        </div>
        <div class="col-md-9">
          <input type="tel" [(ngModel)]="staff.phone" class="form-control" id="phone" name="phone">
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
            <p>{{vailidateStaff.phone}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="form-group row">
        <div class="col-md-3 name-title">
          <label for="role">Vai trò:</label>
        </div>
        <div class="col-md-9">
          <select id="role" [(ngModel)]="staff.role" class="form-select" aria-label="Default select example"
            [disabled]="true">
            <option value="1">Admin</option>
            <option value="2">Bác sĩ</option>
            <option value="3">Lễ tân</option>
            <option value="4">Điều dưỡng</option>
            <option value="5">Y tá trưởng</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="form-group row">
        <div class="col-md-3 name-title">
          <label for="gender">Giới tính:</label>
        </div>
        <div class="col-md-9 gender">
          <div>
            <label for="male" class="m-2">Nam</label>
          </div>
          <div>
            <input type="radio" class="radio m-2" [(ngModel)]="staff.gender" id="male" name="gender" value="male">
          </div>
          <div>
            <label for="female" class="m-2">Nữ</label>
          </div>
          <div>
            <input type="radio" class="radio m-2" [(ngModel)]="staff.gender" value="female" id="female" name="gender">

          </div>
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color: #FF0000FF;">
            <p>{{vailidateStaff.gender}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="account-staff mt-5">
    <div class="header-account">Đổi mật khẩu</div>
    <div class="account-content">
      <div class="form-group row mt-3">
        <label for="account" class="col-3 name-title">Tên đăng nhập:</label>
        <div class="col-6">
          <input type="text" [(ngModel)]="staff.username" id="account" class="form-control value-staff">
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
            <p>
              <!-- {{vailidateStaff.username}} -->
            </p>
          </div>
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="password" class="col-3 name-title">Mật khẩu cũ:</label>
        <div class="col-6" style="position: relative;">
          <div style="position: relative;">
            <input [type]="showPassword ? 'password' : 'text'" id="password" [(ngModel)]="oldPassword"
              class="form-control value-staff">
            <span class="password-toggle-icon" (click)="togglePassword()"><i class="bi"
                [ngClass]="{'bi-eye-fill': showPassword, 'bi-eye-slash-fill': !showPassword}"></i></span>
          </div>
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
            <p>
              <!-- {{vailidateStaff.password}} -->
            </p>
          </div>
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="password" class="col-3 name-title">Nhập mật khẩu mới:</label>
        <div class="col-6" style="position: relative;">
          <div style="position: relative;">
            <input [type]="showPassword ? 'password' : 'text'" id="password" [(ngModel)]="staff.password"
              class="form-control value-staff">
            <span class="password-toggle-icon" (click)="togglePassword()"><i class="bi"
                [ngClass]="{'bi-eye-fill': showPassword, 'bi-eye-slash-fill': !showPassword}"></i></span>
          </div>
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
            <p>
              <!-- {{vailidateStaff.password}} -->
            </p>
          </div>
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="password" class="col-3 name-title">Nhập lại mật khẩu mới:</label>
        <div class="col-6" style="position: relative;">
          <div style="position: relative;">
            <input [type]="showPassword ? 'password' : 'text'" id="password" [(ngModel)]="passwordRepeat"
              class="form-control value-staff">
            <span class="password-toggle-icon" (click)="togglePassword()"><i class="bi"
                [ngClass]="{'bi-eye-fill': showPassword, 'bi-eye-slash-fill': !showPassword}"></i></span>
          </div>
          <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
            <p>
              <!-- {{vailidateStaff.password}} -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end mt-4 custom-btn">
    <button type="button" class="btn button-timekeeping" (click)="saveEditedStaff()">
      <i class="bi bi-floppy2"></i> Lưu
    </button>
    <button type="button" style="margin-left: 10px" class="btn btn-cancel">Hủy</button>
  </div>
</div>
