<!-- Recent Orders Table -->
<!-- <div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div> -->
<div class="sep-recent-orders">
  <div class="row custom-row" style="margin-top:3%">
    <div class="col-6">
      <button class="btn button-timekeeping" style="margin-right: 30px;" data-bs-toggle="modal"
        data-bs-target="#wrModal"><i class="bi bi-plus-circle"></i>
        Thêm hàng chờ</button>
      <button class="btn button-timekeeping" data-bs-toggle="modal" data-bs-target="#myBNModal"><i
          class="bi bi-plus-circle"></i> Thêm
        bệnh nhân</button>
    </div>
    <div class="col-6">
      <select class="form-select input-custom float-end" aria-label="Default select example" [(ngModel)]="procedure"
        (change)="filterProcedure()" style="width: 40%;">
        <option selected value="0">Tất cả loại điều trị</option>
        <option *ngFor="let a of listGroupService" value={{a.medical_procedure_group_id}}>{{a.name}}</option>
      </select>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead class="sticky-thead">
        <tr>
          <th style="width:100px">STT</th>
          <th style="width:100px">Thời gian</th>
          <th style="width:100px">Mã bệnh nhân</th>
          <th style="width:250px">Tên bệnh nhân</th>
          <th style="width:300px">Lý do khám</th>
          <th style="width:200px">Loại điều trị</th>
          <th style="width:200px">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wtr of filteredWaitingRoomData; let i = index">
          <td style="width:100px">{{ i + 1 }}</td>
          <td style="width:100px">{{wtr.date}}</td>
          <td style="width:100px">{{ wtr.patient_id }}</td>
          <td style="width:250px">{{ wtr.patient_name }}</td>
          <td style="width:300px" class="truncate" data-bs-toggle="tooltip" title="{{wtr.reason}}">{{wtr.reason }}</td>
          <td style="width:200px">{{ wtr.produce_name }}</td>
          <td style="width:200px">
            <select class="text-center status-selector" [(ngModel)]="wtr.status" (change)="onPutStatus(wtr, wtr.epoch)"
              [ngStyle]="{'color': selectedColor}">
              <option value="1" class="status-option waiting">Đang chờ</option>
              <option value="2" class="status-option in-progress">Đang khám</option>
              <option value="3" class="status-option completed">Khám xong</option>
              <option value="4" class="status-option remove">Xóa hàng chờ</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<app-add-waiting-room></app-add-waiting-room>

<app-popup-add-patient></app-popup-add-patient>
