@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

* {
  font-family: source sans pro, 'Roboto',sans-serif;
  font-weight: 400;
}
.m-t-27 {
  margin-top: 27px;
}

.m-l-9 {
  margin-left: 9px;
}

.content {
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 5%;
  padding: 5%;
  z-index: -999;
}

.btn-custom {
  border-radius: 27px;
  border: 1px solid #7B4C50;
  background-color: #FEDDCC;
  padding: 7px 15px;
}

.btn-custom:hover{
  background-color: #fff;
}

select.form-select-custom {
  border: none;
  background-color: transparent;
}


.select-custom {
  max-width: 170px;
  border-radius: 10px;
  border: 1px solid #7B4C50;
  background-color: #fff;
  color: #676767;
}

.custom-table thead tr {
	background: 0 0;
	border-top: 0;
	box-shadow: none
}

.custom-table thead tr th {
	color: #7B4C50;
	font-weight: 600
}

.custom-table tr {
	background: rgba(255, 255, 255, .4);
	box-shadow: 0 0 3px #e5e5e5;
	border: 1px solid transparent
}

.custom-table tr td {
  border-bottom: 1px solid #7B4C50;
}
.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
	padding: 14px 8px;
	vertical-align: middle
}

.color-main {
  background-color: #D9B3A6;
}

.w-100 {
  width: 100%;
}

.h-300px {
  height: 300px;
}

.btn-save {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #7B4C50;
}

.btn-save:hover{
  background-color: #7B4C50;
  color:  #fff;
}

.btn-cancel {
  border-radius: 10px;
  background-color: #666;
  border: 1px solid #fff;
}

.btn-cancel:hover {
  border-color: #000;
  background-color: #fff;
}
.image-container {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pagination-container {
  margin: 100px auto;
  text-align: center;
}

.pagination-custom {
  position: relative;
}

.pagination-custom a {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px 10px;
}

.pagination-custom a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2c3e50;
  border-radius: 24px;
  transform: scale(0);
  transition: all 0.2s;
}

.pagination-custom a:hover,
.pagination-active {
  color: #fff;
}

.pagination-custom a:hover:before,
.pagination-active:before {
  transform: scale(1);
}

.pagination-active {
  color: #fff;
}

.pagination-active:before {
  transform: scale(1);
}

.pagination-newer {
  margin-right: 50px;
}

.pagination-older {
  margin-left: 50px;
}
