<!-- Recent Orders Table -->
<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div class="recent-orders">
  <div class="row mt-5 mb-5">
    <div class="col-6">
      <button class="btn button-timekeeping" style="margin-right: 30px;" data-bs-toggle="modal"
        data-bs-target="#wrModal"><i class="bi bi-plus-circle"></i>
        Thêm hàng chờ</button>
      <button class="btn button-timekeeping" data-bs-toggle="modal" data-bs-target="#myModal"><i
          class="bi bi-plus-circle"></i> Thêm
        bệnh nhân</button>
    </div>
    <div class="col-6">
      <select class="form-select input-custom float-end" aria-label="Default select example" [(ngModel)]="procedure"
        (change)="filterProcedure()">
        <option selected value="0">Tất cả loại điều trị</option>
        <option value="1">Cạo vôi răng</option>
        <option value="2">Niềng răng</option>
        <option value="3">Nhổ răng</option>
      </select>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead class="sticky-thead">
        <tr>
          <th>STT</th>
          <th>Mã bệnh nhân</th>
          <th>Tên bệnh nhân</th>
          <th>Lý do khám</th>
          <th>Loại điều trị</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wtr of filteredWaitingRoomData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ wtr.patient_id }}</td>
          <td>{{ wtr.patient_name }}</td>
          <td class="truncate" data-bs-toggle="tooltip" title="{{wtr.reason}}">{{wtr.reason }}</td>
          <td>{{ wtr.produce }}</td>
          <td>
            <select class="text-center" [(ngModel)]="wtr.status" (change)="onPutStatus(wtr, wtr.epoch)"
              [ngStyle]="{'color': selectedColor}">
              <option value="1" style="background-color: #cfe7f3;">Đang chờ</option>
              <option value="2" style="background-color: #ffeb3b;">Đang khám</option>
              <option value="3" style="background-color: #d1c4e9;">Khám xong</option>
              <option value="4" style="background-color: #ef9a9a;">Xóa hàng chờ</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!-- End of Recent Orders -->



<app-add-waiting-room></app-add-waiting-room>
