<!-- Recent Orders Table -->
<!-- <div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div> -->
<div class="sep-recent-orders">
  <div class="row mt-4 mb-4">
    <div class="col-6">
      <button class="btn button-timekeeping" style="margin-right: 30px;" data-bs-toggle="modal"
        data-bs-target="#wrModal"><i class="bi bi-plus-circle"></i>
        Thêm bệnh nhân đợi cũ</button>
      <button class="btn button-timekeeping" data-bs-toggle="modal"
        data-bs-target="#wrNewModal"><i class="bi bi-plus-circle"></i>
        Thêm bệnh nhân đợi mới</button>
    </div>
    <div class="col-6">
      <select class="form-select input-custom float-end" aria-label="Default select example" [(ngModel)]="procedure"
        (change)="filterProcedure()" style="width: 25%;">
        <option selected value="0">Loại điều trị</option>
        <option *ngFor="let a of listGroupService" value={{a.medical_procedure_group_id}}>{{a.name}}</option>
      </select>
    </div>
  </div>
  <div class="table-container">
    <table id="myTable" *ngIf="waitingRoomData.length > 0,else noDataMessage">
      <thead class="sticky-thead">
        <tr>
          <th style="width:100px">STT</th>
          <th style="width:100px">Thời gian</th>
          <th style="width:100px">Mã bệnh nhân</th>
          <th style="width:250px">Tên bệnh nhân</th>
          <th style="width:250px">Khách hàng mới</th>
          <th style="width:300px">Lý do khám</th>
          <th style="width:200px">Loại điều trị</th>
          <th style="width:200px">Trạng thái</th>
          <ng-container *ngIf="roleId.includes('3') || roleId.includes('1')">
            <th style="width:200px">Thanh toán</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr title="Xem thông tin bệnh nhân {{ wtr.patient_name }}"
          *ngFor="let wtr of filteredWaitingRoomData; let i = index" (click)="details(wtr.patient_id)"
          style="cursor: pointer;">
          <td style="width:100px">{{ i + 1 }}</td>
          <td style="width:100px">{{wtr.date}}</td>
          <td style="width:100px">{{ wtr.patient_id }}</td>
          <td>{{ wtr.patient_name }}</td>
          <!-- <td><span class="new-patient" *ngIf="wtr.patient_created_date.length == 4"></span></td> -->
          <td>{{wtr.patient_created_date == 1 ? "Bệnh nhân đến lần đầu tiên" : wtr.patient_created_date == 2 ?
            "Bệnh nhân tái khám" : "Dữ liệu trước"}}</td>
          <td style="width:300px" class="truncate" data-bs-toggle="tooltip" title="{{wtr.reason}}">{{wtr.reason }}</td>
          <td style="width:200px">{{ wtr.produce_name }}</td>
          <ng-container *ngIf="roleId.includes('3') || roleId.includes('1')">
            <td style="width:200px" (click)="stopClick($event)">
              <select class="text-center status-selector" [(ngModel)]="wtr.status"
                (change)="onPutStatus(wtr, wtr.epoch)" [ngStyle]="{'color': selectedColor}">
                <ng-container *ngIf="wtr.status == 1">
                  <option value="1" class="status-option waiting">Đang chờ</option>
                  <option value="2" class="status-option in-progress">Đang khám</option>
                  <option value="4" class="status-option remove">Xóa hàng chờ</option>
                </ng-container>
                <ng-container *ngIf="wtr.status == 2">
                  <option value="2" class="status-option in-progress">Đang khám</option>
                  <option value="3" class="status-option completed">Khám xong</option>
                  <option value="4" class="status-option remove">Xóa hàng chờ</option>
                </ng-container>
                <ng-container *ngIf="wtr.status == 3">
                  <option value="3" class="status-option completed">Khám xong</option>
                  <option value="4" class="status-option remove">Xóa hàng chờ</option>
                </ng-container>
              </select>
            </td>
          </ng-container>
          <ng-container *ngIf="roleId.includes('2') || roleId.includes('4') || roleId.includes('5')">
            <td>
              Đang khám
            </td>
          </ng-container>
          <ng-container *ngIf="roleId.includes('3') || roleId.includes('1')">
            <td>
              <button class="btn button-timekeeping"
                (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/',wtr.patient_id)">
                Thanh toán</button>
            </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
    <ng-template #noDataMessage>
      <div class="row sticky-thead-no-data">
        <div class="col-md-1">STT</div>
        <div class="col-md-1">Thời gian</div>
        <div class="col-md-2">Mã bệnh nhân</div>
        <div class="col-md-2">Tên bệnh nhân</div>
        <div class="col-md-2">Khách hàng mới</div>
        <div class="col-md-1">Lý do khám</div>
        <div class="col-md-1">Loại điều trị</div>
        <div class="col-md-1">Trạng thái</div>
        <div class="col-md-1">Thanh toán</div>
      </div>
      <div class="text-center row no-data">
        <span>
        Không có dữ liệu
        </span>
      </div>
    </ng-template>
  </div>
</div>
<app-add-waiting-room></app-add-waiting-room>
<app-popup-add-waitingroom-new-patient></app-popup-add-waitingroom-new-patient>
