* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: black;
}


.button-add {
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 15%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.custom-row {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
}
.custom-row .dang-cho-duyet {
  margin-left: 2%;
}
.custom-row .mau{
  margin-left: 2%;
}
