<div class="page-wrapper bg-wrapper">
  <div class="content">
    <div class="buy-form">
      <div class="row">
        <div class="col-md-2">
          <a routerLink="/admin/specimens" class="page-title">Quản lý mẫu</a>
        </div>
        <div class="col-md-2">
          <a routerLink="/admin/specimens/approve-specimens" class="page-title">Mẫu đang chờ duyệt</a>
        </div>
      </div>
      <div class="row filter-row m-t-30">
        <div class="col-sm-6 col-md-3">
          <div class="form-group form-group-filter">
            <button class="btn btn-custom float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#addSpecimensModal"><i class="bi bi-plus-circle"></i> Thêm mới
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered text-center rounded-3 overflow-hidden">
              <thead>
              <tr>
                <th>Răng/Hàm</th>
                <th>Tên mẫu</th>
                <th>Tên bệnh nhân</th>
                <th>Chất liệu</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Ngày lắp</th>
                <th>Trạng thái duyệt</th>
                <th>Thành tiền</th>
                <th class="text-center">Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Răng sứ</td>
                <td><h2>Mẫu A</h2></td>
                <td>Nguyễn Văn A</td>
                <td>Sứ</td>
                <td>100</td>
                <td>1000000</td>
                <td>20/10/2023</td>
                <td>Chưa duyệt</td>
                <td>1000000000</td>
                <td class="text-center">
                  <button href="#" class="btn btn-primary float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-check-circle"></i> Duyệt</button>
                  <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_specimens"><i class="bi bi-trash"></i></button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-add-approve-specimens></app-popup-add-approve-specimens>
<app-popup-add-specimens></app-popup-add-specimens>
<app-popup-delete-specimens></app-popup-delete-specimens>
