/*
* {
  color: #1E1E1E;
  font-family: source sans pro, sans-serif;
}
.m-r-5 {
  margin-right: 5px !important
}

.m-r-10 {
  margin-right: 10px !important
}

.m-l-5 {
  margin-left: 5px !important
}

.m-t-0 {
  margin-top: 0 !important
}

.m-t-10 {
  margin-top: 10px !important
}

.m-t-20 {
  margin-top: 20px !important
}

.m-t-30 {
  margin-top: 30px !important
}

.m-t-50 {
  margin-top: 50px !important
}

.m-b-10 {
  margin-bottom: 10px !important
}

.m-b-20 {
  margin-bottom: 20px !important
}

.m-b-30 {
  margin-bottom: 30px !important
}

.w-40 {
  width: 40px
}

.font-18 {
  font-size: 18px
}

.border-right {
  border-right: 1px solid #e7e7e7
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0
}

h1,
.h1 {
  font-size: 2.25rem
}

h2,
.h2 {
  font-size: 1.875rem
}

h3,
.h3 {
  font-size: 1.5rem
}

h4,
.h4 {
  font-size: 1.125rem
}

h5,
.h5 {
  font-size: .875rem
}

h6,
.h6 {
  font-size: .75rem
}

li {
  list-style: none
}

a {
  color: #1e1e1e;
  font-weight: 600;
  text-decoration: none
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #234ce3;
  outline: none
}

.text-ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.text-muted-light {
  color: #aaa
}

.page-sub-title {
  color: #565656;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px
}

.form-focus {
  display: flex;
  height: 50px;
  position: relative
}

.form-focus.focused .focus-label {
  opacity: 1;
  font-weight: 300;
  top: -14px;
  font-size: 12px;
  z-index: 1
}

.form-focus .form-control {
  height: 50px;
  padding: 21px 12px 6px
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
  outline: 0
}

.form-control.form-control-sm {
  padding: .25rem .9rem
}

.form-group {
  margin-bottom: 20px
}

input,
button {
  outline: none
}

input,
button,
a {
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -webkit-transition: all .4s ease
}

.btn.rounded {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

.btn.focus,
.btn:focus {
  box-shadow: inherit !important
}

.btn {
  font-size: .875rem;
  margin-bottom: 10px
}
.btn-primary {
  background-color: #234ce3;
  border: 1px solid transparent;
  margin-right: 5px;
  color: #ffffff;
}

.btn-custom {
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  border-radius: 27px;
  padding: 7px 15px;
}
.btn-custom:hover{
  background-color: #f6b796;
}

.btn-white {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
  background-color: #1c42af;
  border: 1px solid transparent;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 14px 8px;
  vertical-align: middle
}


.table {
  color: #1e1e1e;
}
.table thead tr{
  background-color: #7B4C50;
  border-radius: 10px;
  border: 1px solid #7B4C50;
}
.table thead tr th {
  color: #7B4C50;
  font-weight: 600
}
.table tr {
  background-color: #7B4C50;
  border: 1px solid #7B4C50;
}
.table tr td {
  border-bottom: 1px solid #7B4C50;
}
table.table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle
}

table.table td h2 a {
  color: #757575
}
.table h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  vertical-align: middle
}

.table h5+p {
  color: #9e9e9e;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0
}


.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  transform-origin: left top 0;
  box-shadow: inherit;
  background-color: #fff;
  font-size: 13px;
}
.btn-group-xs>.btn,
.btn-xs {
  min-height: 22px;
  min-width: 22px
}

.page-wrapper>.content {
  padding: 30px;
  width: 100%
}
.bg-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.buy-form {
  padding: 15px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, .35);
  border-radius: 27px;
  width: 100%
}


@media only screen and (max-width:575.98px) {
  .page-wrapper>.content {
    padding: 15px
  }

  .content {
    padding: 0 50px
  }

  .filter-row {
    margin-bottom: 15px
  }
}
.form-select{
  background-color: #FEDDCC;
  border: 2px solid #7B4C50;
}
.form-group .form-control {
  box-shadow: none;
  padding: .469rem .75rem;
  font-size: 14px;
  min-height: 40px;
  background: linear-gradient(51.64deg, rgba(255, 255, 255, 0) 34.2%, rgba(255, 255, 255, 0.2) 97.35%, rgba(255, 255, 255, 0) 160.66%), rgba(255, 255, 255, 0.2);
  border-radius: 10px
}
.search-toggle-icon {
  position: absolute;
  top: 0;
  transform: translateY(40%);
  right: 10px;
}
.bi-trash{
  color: #ffffff;
}
.bi-check-circle{
  color: #FFFFFF;
}
.bi-pencil-square{
  color: #ffffff;
}
.table-container{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; !* Màu của thanh cuộn *!
  border-radius: 6px; !* Điều chỉnh góc bo tròn của thanh cuộn *!
}
.table-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; !* Màu nền thanh cuộn *!
  border-radius: 10px; !* Điều chỉnh góc bo tròn của nền thanh cuộn *!
}
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

.custom-dark-mode-variables {
  --custom-color-background: #181a1e;
  --custom-color-white: #202528;
  --custom-color-dark: #edeffd;
  --custom-color-dark-variant: #a3bdcc;
  --custom-color-light: rgba(0, 0, 0, 0.4);
  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.web-wrapper {
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--custom-color-dark);
  background-color: #f6f6f9;
}

a {
  color: var(--custom-color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.container-custom {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 13rem auto;
}

aside {
  height: 100vh;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.toggle .logo {
  display: flex;
  gap: 0.5rem;
}
.toggle .logo img {
  padding-left: 5rem;
  width: 2rem;
  height: 2rem;
}

.toggle .close {
  padding-right: 1rem;
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--custom-color-white);
  box-shadow: var(--custom-box-shadow);
  border-radius: 15px;
  height: 96vh;
  position: relative;
  top: .9rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--custom-color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  width: 100%;
  color: var(--custom-color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--custom-color-primary);
}

aside .sidebar a.active span {
  color: var(--custom-color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--custom-color-primary);
}

aside .sidebar a:hover span {
  margin-left: 0.6rem;
}

aside .sidebar .message-count {
  background-color: var(--custom-color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--custom-border-radius-1);
}

/* main {
  margin-top: 1.4rem;
} */

main .analyse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

main .analyse>div {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

main .analyse>div:hover {
  box-shadow: none;
}

main .analyse>div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  margin-left: 0.8rem;
  font-size: .8rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
  stroke: #0085a1;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .visits svg circle {
  stroke: 	#d67e73;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .searches svg circle {
  stroke: #f6e5e3;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

main .new-users {
  margin-top: 1.3rem;
}

main .new-users .user-list {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .new-users .user-list:hover {
  box-shadow: none;
}

main .new-users .user-list .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .new-users .user-list .user img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}

main .recent-orders {
  margin-top: 1.3rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background-color: var(--custom-color-white);
  width: 100%;
  padding: var(--custom-card-padding);
  text-align: center;
  box-shadow: var(--custom-box-shadow);
  border-radius: var(--custom-card-border-radius);
  transition: all 0.3s ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table thead th {
  height: 2.8rem;
  color: var(--custom-color-dark-variant);
}

main table tbody td {
  height: 2.8rem;
  color: var(--custom-color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--custom-color-primary);
}

.profile {
  display: flex;
  align-items: center;
  gap:2rem;
  text-align: center;
}

.profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  justify-items: flex-end;
}

.profile .icon {
  border-radius: 23px;
  padding-right: 90px;
  justify-items: flex-start;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .container-custom {
    width: 95%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main .analyse {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .new-users .user-list .user {
    flex-basis: 40%;
  }

  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

  main .recent-orders table {
    width: 83vw;
  }

  main table thead tr th:last-child,
  main table thead tr th:first-child {
    display: none;
  }

  main table tbody tr td:last-child,
  main table tbody tr td:first-child {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .container-custom {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--custom-padding-1);
  }

  aside {
    position: fixed;
    background-color: var(--custom-color-white);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--custom-color-light);
    height: 100vh;
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .toggle .close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .new-users .user-list .user {
    flex-basis: 35%;
  }

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-orders table {
    width: 100%;
    margin: 0;
  }

  .right-section {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right-section .nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--custom-color-white);
    padding: 0 var(--custom-padding-1);
    height: 4.6rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--custom-color-light);
    margin: 0;
  }


  .profile .info {
    display: none;
  }

}

.btn-add-custom {
  padding: 10px 20px;
  border-radius: 27px;
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  margin-right: 10px;
}

.input-custom {
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #664FC3;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-redirect {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}


.custom-table thead tr {
  background-color: var(--custom-color-background);
  border-radius: 10px;
  border: 1px solid #7B4C50;
}

.custom-table thead tr th {
  font-weight: 600
}

.custom-table tr {
  background-color: #7B4C50;
  border: 1px solid #7B4C50;
}

.custom-table tr td {
  border-bottom: 1px solid #7B4C50;
}

.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
  padding: 14px 8px;
  vertical-align: middle
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}


.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.button-timekeeping{
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
button:hover{
  opacity: 0.9;
}
button:active{
  transform: translateY(4px);
  box-shadow: 0px -1px -1px #fff;
}

.time-clockin {
  color: #1B9C85;
}

.time-clockout {
  color: red;
}

.mr-2 {
  margin-right: 20px;
}

.ml-2 {
  margin-left: 17px;
  margin-bottom: 5px;
}
