* {
  color: #1E1E1E;
  font-family: source sans pro, sans-serif;
}
.m-r-5 {
  margin-right: 5px !important
}

.m-r-10 {
  margin-right: 10px !important
}

.m-l-5 {
  margin-left: 5px !important
}

.m-t-0 {
  margin-top: 0 !important
}

.m-t-10 {
  margin-top: 10px !important
}

.m-t-20 {
  margin-top: 20px !important
}

.m-t-30 {
  margin-top: 30px !important
}

.m-t-50 {
  margin-top: 50px !important
}

.m-b-10 {
  margin-bottom: 10px !important
}

.m-b-20 {
  margin-bottom: 20px !important
}

.m-b-30 {
  margin-bottom: 30px !important
}

.w-40 {
  width: 40px
}

.font-18 {
  font-size: 18px
}

.border-right {
  border-right: 1px solid #e7e7e7
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0
}

h1,
.h1 {
  font-size: 2.25rem
}

h2,
.h2 {
  font-size: 1.875rem
}

h3,
.h3 {
  font-size: 1.5rem
}

h4,
.h4 {
  font-size: 1.125rem
}

h5,
.h5 {
  font-size: .875rem
}

h6,
.h6 {
  font-size: .75rem
}

li {
  list-style: none
}

a {
  color: #1e1e1e;
  font-weight: 600;
  text-decoration: none
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #234ce3;
  outline: none
}

.text-ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.text-muted-light {
  color: #aaa
}

.page-sub-title {
  color: #565656;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px
}

.form-focus {
  display: flex;
  height: 50px;
  position: relative
}

.form-focus.focused .focus-label {
  opacity: 1;
  font-weight: 300;
  top: -14px;
  font-size: 12px;
  z-index: 1
}

.form-focus .form-control {
  height: 50px;
  padding: 21px 12px 6px
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
  outline: 0
}

.form-control.form-control-sm {
  padding: .25rem .9rem
}

.form-group {
  margin-bottom: 20px
}

input,
button {
  outline: none
}

input,
button,
a {
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -webkit-transition: all .4s ease
}

.btn.rounded {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

.btn.focus,
.btn:focus {
  box-shadow: inherit !important
}

.btn {
  font-size: .875rem;
  margin-bottom: 10px
}
.btn-primary {
  background-color: #234ce3;
  border: 1px solid transparent;
  margin-right: 5px;
  color: #ffffff;
}

.btn-custom {
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  border-radius: 27px;
  padding: 7px 15px;
}
.btn-custom:hover{
  background-color: #f6b796;
}

.btn-white {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
  background-color: #1c42af;
  border: 1px solid transparent;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 14px 8px;
  vertical-align: middle
}


.table {
  color: #1e1e1e;
}
.table thead tr{
  background-color: #7B4C50;
  border-radius: 10px;
  border: 1px solid #7B4C50;
}
.table thead tr th {
  color: #7B4C50;
  font-weight: 600
}
.table tr {
  background-color: #7B4C50;
  border: 1px solid #7B4C50;
}
.table tr td {
  border-bottom: 1px solid #7B4C50;
}
table.table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle
}

table.table td h2 a {
  color: #757575
}
.table h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  vertical-align: middle
}

.table h5+p {
  color: #9e9e9e;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0
}


.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  transform-origin: left top 0;
  box-shadow: inherit;
  background-color: #fff;
  font-size: 13px;
}
.btn-group-xs>.btn,
.btn-xs {
  min-height: 22px;
  min-width: 22px
}

.page-wrapper>.content {
  padding: 30px;
  width: 100%
}
.bg-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.buy-form {
  padding: 15px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, .35);
  border-radius: 27px;
  width: 100%
}


@media only screen and (max-width:575.98px) {
  .page-wrapper>.content {
    padding: 15px
  }

  .content {
    padding: 0 50px
  }

  .filter-row {
    margin-bottom: 15px
  }
}
.form-select{
  background-color: #FEDDCC;
  border: 2px solid #7B4C50;
}
.form-group .form-control {
  box-shadow: none;
  padding: .469rem .75rem;
  font-size: 14px;
  min-height: 40px;
  background: linear-gradient(51.64deg, rgba(255, 255, 255, 0) 34.2%, rgba(255, 255, 255, 0.2) 97.35%, rgba(255, 255, 255, 0) 160.66%), rgba(255, 255, 255, 0.2);
  border-radius: 10px
}
.search-toggle-icon {
  position: absolute;
  top: 0;
  transform: translateY(40%);
  right: 10px;
}
.bi-trash{
  color: #ffffff;
}
.bi-check-circle{
  color: #FFFFFF;
}
.table-container{
  max-height: 350px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Màu của thanh cuộn */
  border-radius: 6px; /* Điều chỉnh góc bo tròn của thanh cuộn */
}
.table-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Màu nền thanh cuộn */
  border-radius: 10px; /* Điều chỉnh góc bo tròn của nền thanh cuộn */
}
