<div class="modal" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title text-center w-100">Thêm nhân viên</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="image-container" style="border: 3px dotted #ccc;" (click)="fileInput.click()">
                <img [src]="imageURL" alt="ẢNH" class="text-center">
                <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput style="display: none;">
              </div>
              <i class="text-center" style="font-size: 12px;">Bấm vào ô vuông này để thêm ảnh</i>
            </div>

            <div class="col-md-8">
              <div class="form-group row">
                <label for="fullName" class="col-3">Họ và tên <span class="required">*</span></label>
                <div class="col-9">
                  <input type="text" class="form-control" [(ngModel)]="staff.name" id="fullName" name="fullName">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.name}}
                    </p>
                  </div>
                </div>

              </div>
              <div class="form-group row mt-3">
                <label for="dob" class="col-3">Ngày sinh <span class="required">*</span></label>
                <div class="col-9">
                  <div style="display: flex">
                    <div style="width: 100%">
                      <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="dobNgb" ngbDatepicker
                             #d="ngbDatepicker" />
                    </div>
                    <div>
                      <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.dob}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="address" class="col-3">Địa chỉ <span class="required">*</span></label>
                <div class="col-9">
                  <input type="text" [(ngModel)]="staff.address" class="form-control" id="address" name="address">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.address}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-md-3 name-title">
                  <label for="role">Cơ sở <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <select id="role" [(ngModel)]="facility" class="form-select" aria-label="Default select example">
                    <option value="0">Chọn cơ sở</option>
                    <option *ngFor="let faci of listFacility" value="{{faci.facility_id}}">{{faci.name}}</option>
                  </select>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.facility}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="note" class="col-3">Ghi chú:</label>
                <div class="col-9">
                  <textarea type="text" [(ngModel)]="staff.description" class="form-control" id="note"
                    name="address"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label for="email">Email <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <input type="email" [(ngModel)]="staff.email" class="form-control" id="email" name="email">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.email}}
                    </p>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label for="phone">Số điện thoại <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">(+84)</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="staff.phone" id="phone" name="phone"
                      aria-label="phoneNumber" aria-describedby="basic-addon1">
                  </div>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.phone}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label for="role">Vai trò <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <select id="role" [(ngModel)]="role" (change)="onChangeRole(role)" class="form-select"
                    aria-label="Default select example">
                    <option value="0" selected>Chức vụ</option>
                    <option value="2">Bác sĩ</option>
                    <option value="3">Lễ tân</option>
                    <option value="4">Y tá</option>
                    <option value="5">Y tá trưởng</option>
                  </select>
                  <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                    <p>
                      {{vailidateStaff.role}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="serviceGroups.length > 0" class="checkbox-group row col-md-12">
                  <label class="chuyen-nganh">Chuyên ngành</label>
                  <div class="checkbox-row col-md-4" *ngFor="let s of serviceGroups">
                    <input type="checkbox" [value]="s.medical_procedure_group_id" (change)="onCheckboxChange(s)"
                           [(ngModel)]="s.checked">
                    <span class="checkbox-label"> {{ s.name }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group row">
                <div class="col-md-3 name-title">
                  <label for="phone">Giới tính <span class="required">*</span></label>
                </div>
                <div class="col-md-9">
                  <label for="male">Nam</label>
                  <input type="radio" class="radio m-2" [(ngModel)]="gender" id="male" name="gender" value="male">
                  <label for="female">Nữ</label>
                  <input type="radio" class="radio m-2" [(ngModel)]="gender" id="female" name="gender" value="female">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.gender}}
                    </p>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="account-staff mt-5">
            <div class="header-account">Tài khoản đăng nhập</div>
            <div class="account-content">
              <div class="form-group row mt-3">
                <label for="account" class="col-3 name-title">Tên đăng nhập <span class="required">*</span></label>
                <div class="col-6">
                  <input type="text" [(ngModel)]="staff.username" id="account" class="form-control value-staff">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.username}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-2">
                <label for="password" class="col-3 name-title">Mật khẩu <span class="required">*</span></label>
                <div class="col-6" style="position: relative;">
                  <div style="position: relative;">
                    <input [type]="showPassword ? 'password' : 'text'" id="password" [(ngModel)]="staff.password"
                      class="form-control value-staff">
                    <span class="password-toggle-icon" (click)="togglePassword()"><i class="bi"
                        [ngClass]="{'bi-eye-fill': showPassword, 'bi-eye-slash-fill': !showPassword}"></i></span>
                  </div>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.password}}
                    </p>
                  </div>
                </div>

              </div>
              <div class="form-group row mt-2">
                <label for="password-repeat" class="col-3 name-title">Nhập lại mật khẩu <span
                    class="required">*</span></label>
                <div class="col-6" style="position: relative;">
                  <div style="position: relative;">
                    <input [type]="showPasswordRepeat ? 'password' : 'text'" id="password-repeat"
                      class="form-control value-staff" [(ngModel)]="passwordRepeat">
                    <span class="password-toggle-icon" (click)="togglePasswordRepeat()"><i class="bi"
                        [ngClass]="{'bi-eye-fill': showPasswordRepeat, 'bi-eye-slash-fill': !showPasswordRepeat}"></i></span>
                  </div>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{vailidateStaff.passwordRepate}}
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="closePopup()">Hủy</button>
          <button type="button" class="btn button-timekeeping" (click)="addSTAFF()"><i class="bi bi-plus-circle"></i>
            Thêm mới</button>
        </div>
      </div>
    </div>
  </div>
</div>
