<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">{{MaterialUsage.mu_examination_id}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Modal Body -->
<div #pdfContent class="modal-body">

  <div>
    Website <a href="nhakhoanguyentran.com">nhakhoanguyentran.com</a>
  </div>

<!--  <div class="float-end">-->
<!--    <p>Số/ID: </p>-->
<!--  </div>-->
  <h4 class="text-start">Nha khoa Nguyễn Trần</h4>
  <h2 class="text-center header-header">Phiếu thu (Receipts)</h2>

  <!-- Date and Payment Type -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Ngày/Date: <b>{{MaterialUsage.mu_created_date}}</b></p>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <p>Hình thức/Type: <b></b></p> <!-- Assuming you have a variable for Payment Type -->
    </div>
  </div>


  <!-- Patient Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Mã khách hàng/Patient Code: <b>{{Patient.p_patient_id}}</b></p>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <p>Tên khách hàng/Patient Name: <b>{{Patient.p_patient_name}}</b></p>
    </div>
  </div>

  <!-- Address -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Địa chỉ/Address: <b>{{Patient.p_address}}</b></p>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <p>Cơ sở: <b>{{facility_name}}</b></p>
    </div>
  </div>

  <!-- Contact Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Email: <b>{{Patient.p_email}}</b></p>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <p>Điện thoại/Tel: <b>{{Patient.p_phone_number}}</b></p>
    </div>
  </div>
  <!-- Services Table -->
  <div class="row mb-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Dịch vụ (Services)</th>
              <th scope="col">Đơn giá (Unit Price)</th>
              <th scope="col">SL (Quantity)</th>
              <th scope="col">Nợ trước/Tổng cộng (Debt/Total)</th>
              <th scope="col">Thanh toán (Payment)</th>
              <th scope="col">Tổng nợ (Remain)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>{{ MaterialUsage.mu_mpname }}</td>
              <td>{{ MaterialUsage.mu_price | currency:'VND' }}</td>
              <td>{{ MaterialUsage.mu_quantity }}</td>
              <td>{{ MaterialUsage.mu_total | currency:'VND'}}</td>
              <td>{{ MaterialUsage.mu_total_paid | currency:'VND'}}</td>
              <td>{{ (MaterialUsage.mu_total - MaterialUsage.mu_total_paid) | currency:'VND'}}</td>
            </tr>
            <tr>
              <th colspan="4">Tổng cộng/Total: </th>
              <td>
                <i>
                  {{ MaterialUsage.mu_total | currency:'VND' }} - <br><i>{{ MaterialUsage.mu_total | numberToWords }}</i>
                </i>
              </td>
              <td>
                <i>
                  {{ MaterialUsage.mu_total_paid | currency:'VND'}} - <br><i>{{ MaterialUsage.mu_total_paid | numberToWords }}</i>
                </i>
              </td>
              <td>
                <i>
                  {{ (MaterialUsage.mu_total - MaterialUsage.mu_total_paid) | currency:'VND' }} <br><i>{{ (MaterialUsage.mu_total - MaterialUsage.mu_total_paid) | numberToWords }}</i>
                </i>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal Footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="generateExDetailPdf()">In phiếu thu</button>
</div>
