<div *ngIf="!loading" class="modal" id="addGroupModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title text-center w-100 title">Thêm mới nhóm thủ thuật</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="resetValidate()"></button>
      </div>
      <form (ngSubmit)="addMedicalProcedureGroup()" #myForm="ngForm">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row mt-3">
                  <label for="groupServiceName" class="col-3 name-title">Tên nhóm thủ thuật <span class="required">*</span></label>
                  <div class="col-9 value-staff">
                    <input type="text" [(ngModel)]="serviceGroup.serviceGroupName" class="form-control"
                      id="groupServiceName" name="serviceGroupName">
                    <div *ngIf="isCheckName" class="alert-danger-custom" style="color:#FF0000FF;">
                      <div>
                        {{validate.serviceGroupName}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" id="cancel-medical" class="btn btn-cancel" data-bs-dismiss="modal"
              (click)="resetValidate()">Hủy</button>
            <button type="submit" [disabled]="disable" class="btn button-timekeeping"><i class="bi bi-floppy2"></i> Lưu</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
