<div class="background"></div>

<div *ngIf="loading" class="center">
  <div class="center">
    <div class="ring"> </div>
    <span>Loading...</span>
</div>
</div>

<div class="web-wrapper">
  <div class="container-custom" id="container">
    <div class="form-container forgot-pass">
      <form *ngIf="isEnterEmail && !isForgotPassword">
        <h1>Nhập email</h1>
        <input type="email" placeholder="Email" name="userCredential" [(ngModel)]="User.userCredential" required autocomplete="off">
        <button type="submit" (click)="forgotPassword()" [disabled]="loading">Gửi code</button>
      </form>

      <form action="" *ngIf="isEnterEmail && isForgotPassword">
        <h1>Nhập mã code và nhập mật khẩu mới</h1>
        <input type="text" placeholder="Code" name="code" [(ngModel)]="User.code" required autocomplete="off">
        <input type="password" placeholder="Mật khẩu mới" name="newPassword" [(ngModel)]="newPassword" placeholder="New Password">
        <button type="submit" (click)="forgotPasswordSubmit()" [disabled]="loading">Confirm</button>
        <a href="#" (click)="isForgotPassword=false" class="link-secondary pe-auto" style="cursor: pointer;">Enter Email again</a>
      </form>

    </div>
    <div class="form-container sign-in">
      <form>
        <h1>Đăng nhập</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="bi bi-google"></i></a>
          <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
        </div>
        <span>hoặc sử dụng Username/Email</span>
        <input type="text" placeholder="Username/Email" [(ngModel)]="User.userCredential" name="username" required>
        <div class="password-custom">
          <input type="password" [type]="showPassword ? 'password' : 'text'" placeholder="Password" [(ngModel)]="User.password" name="password" required>
          <span class="password-toggle-icon" (click)="togglePassword()"><i class="bi" [ngClass]="{'bi-eye-fill': showPassword, 'bi-eye-slash-fill': !showPassword}"></i></span>
        </div>
        <p style="cursor: pointer;" (click)="toggleView(true); isEnterEmail=true">Quên mật khẩu?</p>
        <button type="submit" (click)="toggleView(false); login()" [disabled]="loading">Đăng nhập</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Nha khoa Nguyễn Trần!</h1>
          <p>Cùng chúng tôi giữ cho nụ cười của bạn luôn tươi tắn</p>
          <button class="hidden" id="login" (click)="toggleView(false)">Đăng nhập</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Nha khoa Nguyễn Trần!</h1>
          <p>Cùng chúng tôi giữ cho nụ cười của bạn luôn tươi tắn</p>
          <button class="hidden"><i class="bi bi-at"></i>Xin chào</button>
        </div>
      </div>
    </div>
  </div>

</div>
