<div class="modal-header">
  <h4 class="modal-title">Thanh toán</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">


    <div class="row mt-3 mb-3">
      <div class="col-sm-3">
        Thời gian điều trị: <h4 style="border-bottom: 1px solid #1E1E1E;">{{MU.created_date| VNdateTimeFormat}}
        </h4>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Tình trạng</th>
                <th scope="col">Răng số</th>
                <th scope="col">Tên thủ thuật</th>
                <th scope="col">Nội dung thủ thuật</th>
                <th scope="col">Bác sĩ</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Chi phí</th>
                <th scope="col">Trả</th>
                <th scope="col">Tổng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{MU.status}}</td>
                <td></td>
                <td></td>
                <td>{{MU.description}}</td>
                <td>
                  {{staff_name}}
                </td>
                <td>{{MU.quantity}}</td>
                <td>{{MU.total}}</td>
                <td>{{MU.total_paid}}</td>
                <td>{{getAbsoluteValue(MU.total_paid - MU.total)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



  <div class="row mb-3">
    <div class="col"></div>
    <div class="col-3 text-end">
      <p>Chi phí theo thủ thuật: <b>{{totalSum}}</b></p>
      <p>Giảm giá: </p>
      <p>Tổng chi phí: <b>{{MU.total}}</b></p>
      <p>Đã thanh toán: <b> {{MU.total_paid}}</b></p>
      <p>Còn lại: <b>{{getAbsoluteValue(MU.total_paid - MU.total)}}</b></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
  <button type="button" class="btn btn-success" (click)="close()">Thanh toán</button>
</div>
