<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">Thanh toán</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Modal Body -->
<div class="modal-body">
  <h2 class="text-center header-header">Phiếu thu</h2>

  <!-- Date and Payment Type -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Ngày/Date: <b>{{currentDate | VNdateTimeFormat}}</b></p>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <p>Hình thức/Type: <b></b></p>
    </div>
  </div>

  <!-- Patient Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Mã khách hàng/Patient Code: <b>{{Patient.p_patient_id}}</b></p>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <p>Tên khách hàng/Patient Name: <b>{{Patient.p_patient_name}}</b></p>
    </div>
  </div>

  <!-- Address -->
  <div class="row">
    <div class="col-12">
      <p>Địa chỉ/Address: <b>{{Patient.p_address}}</b></p>
    </div>
  </div>

  <!-- Contact Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Email: <b>{{Patient.p_email}}</b></p>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <p>Điện thoại/Tel: <b>{{Patient.p_phone_number}}</b></p>
    </div>
  </div>
  <!-- Services Table -->
  <div class="row mb-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="sticky-thead">
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Dịch vụ</th>
              <th scope="col">Đơn giá</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Nợ trước/Tổng cộng</th>
              <th scope="col">Thanh toán</th>
              <th scope="col">Tổng nợ</th>
              <ng-container *ngIf="checkPayment ">
                <th scope="col">Nhập số tiền thanh toán</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mu of MaterialUsage; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ mu.mu_medical_procedure_id }}</td>
              <td>{{ mu.mu_price | currency:'VND' }}</td>
              <td>{{ mu.mu_quantity }}</td>
              <td>{{ mu.mu_total | currency:'VND' }}</td>
              <td>{{ mu.mu_total_paid | currency:'VND' }}</td>
              <td>{{ (mu.mu_total - mu.mu_total_paid) | currency:'VND' }}</td>
              <ng-container *ngIf="checkPayment ">
                <td><input style="border-radius: 5px" [disabled]="mu.mu_total - mu.mu_total_paid == 0" type="number" min="0"
                    [(ngModel)]="mu.tempPaidAmount"></td>
              </ng-container>
            </tr>
            <tr>
              <th colspan="4">Tổng cộng/Total: </th>
              <td>{{ total | currency:'VND' }}</td>
              <td>{{ totalPaid | currency:'VND' }}</td>
              <td>{{ remaining | currency:'VND' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <h4>Thanh toán: {{totalPaid | currency:'VND'}}</h4>
    <h4>Tổng nợ: {{remaining | currency:'VND'}}</h4>
  </div>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-cancel" (click)="close()">Đóng</button>
  <ng-container *ngIf="remaining != 0">
    <button type="button" class="btn button-add" (click)="postPayment()">Thanh toán</button>
  </ng-container>
</div>
