<div class="modal fade" id="myNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thêm lịch hẹn</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 mt-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="title-label">
                      <div>
                        <label>Thêm bệnh nhân</label>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group mb-2">
                            <label class="small mb-1" for="hovaten">Họ và tên<span class="required">*</span></label>
                            <input class="form-control" [(ngModel)]="patient1.patientName" id="hovaten" type="text"
                              placeholder="Họ và tên">
                            <div *ngIf="isSubmittedPatient" class="alert-danger-custom">
                              <p style="color:#FF0000FF;">
                                {{validatePatient.name}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-2">
                            <label class="small mb-1" for="createdDate">Ngày sinh<span class="required">*</span></label>
                            <!--                            <input class="form-control" placeholder="dd/MM/yyyy" [(ngModel)]="patient1.dob" id="createdDate" type="text">-->
                            <form class="row row-cols-sm-auto">
                              <div class="input-group">
                                <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="dobNgb"
                                  ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                  type="button"></button>
                              </div>
                            </form>
                            <div *ngIf="isSubmittedPatient" class="alert-danger-custom">
                              <p style="color:#FF0000FF;">
                                {{validatePatient.dob}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row gx-3 mb-2">
                        <div class="col-md-6">
                          <div class="form-group mb-2">
                            <label class="small mb-1" for="email">Email</label>
                            <input class="form-control" [(ngModel)]="patient1.Email" id="email" type="text"
                              name="birthday" placeholder="Email">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-2">
                            <div class="small mb-1">
                              <label>Giới tính</label>
                            </div>
                            <div class="mb-6 sep-input-gender">
                              <input type="radio" [(ngModel)]="patient1.Gender" class="radio m-2" [value]="1">
                              <label for="male">Nam</label>
                              <input type="radio" [(ngModel)]="patient1.Gender" class="radio m-2" value="0">
                              <label for="female">Nữ</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row gx-3 mb-2">
                        <div class="col-md-6">
                          <div class="form-group mb-2">
                            <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text custom-input" id="basic-addon1">(+84)</span>
                              </div>
                              <input type="text" class="form-control" id="inputPhone" name="inputPhone" [(ngModel)]="patient1.sub_phoneNumber"
                                aria-label="phoneNumber" aria-describedby="basic-addon1">
                            </div>
                            <div *ngIf="isSubmittedPatient" class="alert-danger-custom">
                              <p style="color:#FF0000FF;">
                                {{validatePatient.phone}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-2">
                            <label class="small mb-1" for="zalo">Zalo<span class="required">*</span></label>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <span class="input-group-text custom-input" id="basic-addon2">(+84)</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="patient1.phone_Number" id="zalo"
                                name="inputPhone" aria-label="phoneNumber" aria-describedby="basic-addon2">
                            </div>
                            <div *ngIf="isSubmittedPatient" class="alert-danger-custom">
                              <p style="color:#FF0000FF;">
                                {{validatePatient.zalo}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-2">
                        <label class="small mb-1" for="tieuSuBenh">Địa chỉ <span class="required">*</span></label>
                        <input class="form-control" [(ngModel)]="patient1.Address" id="tieuSuBenh" type="text" />
                        <div *ngIf="isSubmittedPatient" class="alert-danger-custom">
                          <p style="color:#FF0000FF;">
                            {{validatePatient.address}}
                          </p>
                        </div>
                      </div>
                      <div class="mb-2">
                        <label class="small mb-1" for="note">Tiền sử toàn thân</label>
                        <input class="form-control" [(ngModel)]="patient1.full_medical_History" id="note" type="text">
                      </div>
                      <div class="mb-2">
                        <label class="small mb-1" for="note">Tiền sử răng miệng</label>
                        <input class="form-control" [(ngModel)]="patient1.dental_medical_History" id="note" type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="title-label">
                <div>
                  <label>Thêm lịch hẹn</label>
                </div>
              </div>
                  <div class="form-group mt-2">
              <label for="treatment">Lý do khám <span class="required">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="reason">
            </div>
                  <div class="form-group mt-2">
              <label for="treatment">Loại điều trị</label>
              <select class="form-control" id="treatment" [(ngModel)]="procedure">
                <option selected value="1">Phân loại điều trị</option>
                <option *ngFor="let a of listGroupService" value={{a.medical_procedure_group_id}}>{{a.name}}</option>
              </select>
              <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.procedure}}</p>
            </div>
                  <div class="col mt-2">
              <label for="treatment">Chọn ngày khám <span class="required">*</span></label>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                      #dd="ngbDatepicker" [placement]="'right'" placeholder="Chọn ngày khám" [minDate]="currentDate" [maxDate]="maxDate">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" style="height: 48px;" (click)="dd.toggle()"
                        type="button">
                        <i class="bi bi-calendar3"></i>
                      </button>
                    </div>
                  </div>
                  <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.appointmentDate}}</p>
                </div>
              </form>
            </div>
                  <div class="form-group mt-2">
              <label for="appointmentTime" name="userCredential">Giờ hẹn khám <span class="required">*</span></label>
              <input type="time" class="form-control date-input-custom" id="appointmentTime" name="time"
                [(ngModel)]="appointmentTime" [min]="minTime">
              <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.appointmentTime}}</p>
            </div>
                  <div class="doctors-list mt-2">
              <label for="appointmentTime" name="userCredential">Chọn Bác Sĩ</label>
              <input type="text" class="form-control" [(ngModel)]="bacsi">
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer" class="d-flex justify-content-center mt-3">
        <div class="rơw">
          <button type="button" id="cancel-patient-appointment" class="btn btn-cancel me-2"
            data-bs-dismiss="modal">Quay lại</button>
          <button type="button" class="btn button-timekeeping" (click)="addPatient()"><i class="bi bi-floppy2"></i> Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-confirm-service></app-popup-confirm-service>
