<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div *ngIf="!loading" class="modal" id="editSpecimensModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title text-center w-100">Cập nhật mẫu</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="name-specimens" class="col-3 name-title">Tên mẫu:</label>
                <div class="col-9 value-staff">
                  <input type="text" class="form-control" id="name-specimens"
                  [(ngModel)]="IPutSpecimens.ms_name"
                  name="specimensName">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="material" class="col-3 name-title">Chất liệu:</label>
                <div class="col-9 value-staff">
                  <input type="text"
                  [(ngModel)]="IPutSpecimens.ms_type"
                  class="form-control" id="material" name="material">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="cheektooth" class="col-3 name-title">Răng/Hàm:</label>
                <div class="col-9 value-staff">
                  <input type="text"
                  class="form-control" id="cheektooth" name="cheektooth">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="receiverdate" class="col-3 name-title">Ngày nhận:</label>
                <div class="col-9 value-staff">
                  <input type="date"
                  [(ngModel)]="IPutSpecimens.ms_received_date"
                  class="form-control date-input-custom" id="receiverdate" name="receiverdate">
                </div>

              </div>
              <div class="form-group row mt-3">
                <label for="orderby" class="col-3 name-title">Người đặt:</label>
                <div class="col-9 value-staff">
                  <input type="text"
                  [(ngModel)]="IPutSpecimens.ms_orderer"
                  class="form-control" id="orderby" name="orderby">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="installationdate" class="col-3 name-title">Ngày lắp:</label>
                <div class="col-9 value-staff">
                  <input type="date"

                  class="form-control date-input-custom" id="installationdate" name="installationdate">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="quantity" class="col-3 name-title">Số lượng:</label>
                <div class="col-9 value-staff">
                  <input type="number"
                  [(ngModel)]="IPutSpecimens.ms_quantity"
                  class="form-control date-input-custom" id="quantity" name="quantity">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="unitprice" class="col-3 name-title">Đơn giá:</label>
                <div class="col-9 value-staff">
                  <input type="number"
                  [(ngModel)]="IPutSpecimens.ms_unit_price"
                  class="form-control" id="unitprice" name="unitprice">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="intomoney" class="col-3 name-title">Thành tiền:</label>
                <div class="col-9 value-staff">
                  <input type="text"
                  [(ngModel)]="total"
                  class="form-control" disabled id="intomoney" name="intomoney">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="orderdate" class="col-3 name-title">Ngày đặt:</label>
                <div class="col-9 value-staff">
                  <input type="date"
                  [(ngModel)]="IPutSpecimens.ms_order_date"
                  class="form-control date-input-custom" id="orderdate" name="orderdate">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="patient" class="col-3 name-title">Bệnh nhân:</label>
                <div class="col-9 value-staff">
                  <input type="text"
                  [(ngModel)]="IPutSpecimens.p_patient_name"
                  class="form-control date-input-custom" id="patient" name="patient">
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="status" class="col-3 name-title">Trạng thái:</label>
                <div class="col-9 value-staff">
                  <select class="form-select" id="status"
                  [(ngModel)]="status"
                  aria-label="Default select example">
                    <option value="0" selected>Đã nhận </option>
                    <option value="1">Chưa nhận </option>
                  </select>

                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-save" data-bs-dismiss="modal" (click)="EditSpecimen()"><i class="bi bi-floppy2"></i> Lưu</button>
        </div>

      </div>
    </div>
  </div>
</div>


