<div class="sep-recent-orders">
  <div class="custom-row">
    <div class="vatlieu">
      <a routerLink="/vat-lieu" routerLinkActive="active-link" class="page-title">Quản lý vật liệu</a>
    </div>
    <div class="kho">
      <a routerLink="/kho" routerLinkActive="active-link" class="page-title">Quản lý Kho</a>
    </div>
    <div class="quanlynhap">
      <a routerLink="/quan-ly-nhap" routerLinkActive="active-link" class="page-title">Quản lý nhập</a>
    </div>
  </div>

  <button class="btn button-add" data-bs-toggle="modal" data-bs-target="#addMaterialModal"><i
      class="bi bi-plus-circle"></i> Thêm
    mới vật liệu
  </button>

  <div class="table-container" style="margin-top: 2%;">
    <table>
      <thead class="sticky-thead">
        <tr>
          <th>#</th>
          <th style="min-width: 150px">Tên vật liệu</th>
          <th>Đơn vị</th>
          <th>Đơn giá</th>
          <th class="text-center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of materials">
          <td>{{material.material_id}}</td>
          <td>{{material.material_name}}</td>
          <td>{{material.unit}}</td>
          <td>{{ material.total | currency:'VND':'symbol':'1.0-0' }}</td>
          <td>
            <button class="btn btn-primary p-1" (click)="editMaterial(material)" data-bs-toggle="modal"
              data-bs-target="#editMaterialModal" style="margin-right: 10px;" title="Sửa vật liệu"><i
                class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger p-1 mr-2" (click)="deleteMaterial(material)" title="Xoá phiếu nhập"><i
                class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="sep-pagination">
    <a (click)="currentPage > 1 ? pageChanged(currentPage - 1) : null" [class.disabled]="currentPage <= 1"
      style="color: black" title="Trang trước">&laquo;</a>
    <a>{{currentPage}}</a>
    <a [class.disabled]="!hasNextPage" (click)="hasNextPage && pageChanged(currentPage + 1)"
      style="color: black" title="Trang sau">&raquo;</a>
  </div>
</div>

<app-popup-add-material [materialList]="materials"></app-popup-add-material>
<app-popup-edit-material-real [materialEdit]="material"></app-popup-edit-material-real>
