<div class="modal fade" id="confirmServiceModal" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xác nhận thêm lịch hẹn</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="content">
                Thủ thuật ... trong ngày ... đã đủ 8 người có muốn thêm mới không ?
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="float-end">
                <button type="button" class="btn btn-cancel m-3" data-bs-toggle="modal" data-bs-target="#myModal">Đóng</button>
                <button type="button" class="btn button-timekeeping" data-bs-dismiss="modal">Đồng ý</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
