<div class="sep-recent-orders">
  <div class="link-tab">
    <ng-container *ngIf="roleId.includes('1') || roleId.includes('3')">
      <div class="cham-cong">
        <a routerLink="/cham-cong" routerLinkActive="active-link" class="page-title">Chấm công</a>
      </div>
    </ng-container>
    <div class="dang-ki-lam-viec">
      <a routerLink="/dang-ky-lich-lam-viec" routerLinkActive="active-link" class="page-title">Đăng kí lịch làm
        việc</a>
    </div>
    <div class="theo-doi">
      <a routerLink="/theo-doi-cham-cong" routerLinkActive="active-link" class="page-title">Theo dõi
        chấm công</a>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Ca làm việc</th>
        <th>Thứ 2</th>
        <th>Thứ 3</th>
        <th>Thứ 4</th>
        <th>Thứ 5</th>
        <th>Thứ 6</th>
        <th>Thứ 7</th>
        <th>Chủ nhật</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Ca 1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Ca 2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>



</div>
