
<div class="row" style="margin-bottom: 20px; margin-left: 10px;margin-top: 30px">
  <div class="col-md-1">
    <a (click)="navigateHref('/letan/cham-cong')" routerLinkActive="active-link" class="page-title">Chấm công</a>
  </div>
  <div class="col-md-2">
    <a (click)="navigateHref('/dangkilichlamviec')" routerLinkActive="active-link" class="page-title">Đăng kí lịch làm việc</a>
  </div>
  <div class="col-md-2">
    <a (click)="navigateHref('/letan/theo-doi-cham-cong')" routerLinkActive="active-link" class="page-title">Theo dõi chấm công</a>
  </div>
</div>
<h2 class="text-center">ĐĂNG KÝ LỊCH LÀM VIỆC</h2>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Trước
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Hôm nay
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Sau
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Tháng
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Tuần
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Ngày
      </div>
    </div>
  </div>
</div>
<br />

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="worksRegister"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="worksRegister"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="worksRegister"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />
<!--
<h3>
  Sửa lịch làm việc
  <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Thêm mới lịch làm việc
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nội dung công việc</th>
        <th>Màu chính</th>
        <th>Màu phụ + màu chữ</th>
        <th>Thời gian bắt đầu</th>
        <th>Thời gian kết thúc</th>
        <th>Xóa</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of worksRegister">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input type="color" [(ngModel)]="tempColor" (change)="setTempColor(tempColor)" />
        </td>
        <td>
          <input type="color" [(ngModel)]="tempSecondaryColor" (change)="updateEventColorSecondary(event)" />

          <input type="color" [ngModel]="tempSecondaryText || '#1e90ff'" (ngModelChange)="updateEventColorSecondaryText(event)" (change)="refresh.next()" />

        </td>
        <td> -->
          <!--Thời gian bắt đầu-->
          <!-- <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td> -->
          <!--Thời gian kết thúc-->
          <!-- <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


<div class="modal" id="exampleModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-main">
        <h4 class="modal-title text-center w-100">Thêm lịch làm việc</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tên nhiệm vụ</label>
                <input type="text" [(ngModel)]="title" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Thời gian bắt đầu</label>
                <input type="datetime-local" [(ngModel)]="timeStart" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Thời gian kết thúc</label>
                <input type="datetime-local" [(ngModel)]="timeEnd" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="button-conf float-end">
            <button type="button" id="cancel" class="btn bg-white" data-bs-dismiss="modal">Hủy</button>
            <button type="button" class="btn" style="background-color: rgba(139, 55, 19,.95); color:white" (click)="addEvent()">Lưu</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên nhiệm vụ</label>
          <input type="text" [(ngModel)]="editTitle" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Thời gian bắt đầu</label>
          <input type="datetime-local" [(ngModel)]="editTimeStart" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Thời gian kết thúc</label>
          <input type="datetime-local" [(ngModel)]="editTimeEnd" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="editEvent()">
      OK
    </button>
  </div>
</ng-template>
