.page-title.active-link {
  color: blue;
}

.page-title:hover {
  color: blue;
}

.page-title {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.link-tab {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

.link-tab .dang-ki-lam-viec {
  margin-left: 2%;
}

.link-tab .theo-doi {
  margin-left: 2%;
}

.schedule-container {
  width: 100%;
  margin: 0;
  padding: 20px;
  background: #f9f9f9; /* Màu nền tổng thể */
}

.week {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.day {
  flex: 1;
  min-width: calc(100% / 7 - 10px); /* Chia chiều rộng cho 7 ngày trong tuần */
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background: white; /* Màu nền cho mỗi ngày */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Đổ bóng cho mỗi ngày */
}

.day-name {
  background: #6f42c1; /* Màu tím chủ đạo cho tiêu đề ngày */
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.shift-container {
  display: flex;
  justify-content: space-between;
}

.shift {
  width: 48%;
  background: #e7e8fa; /* Màu nền nhẹ cho từng ca làm việc */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.employee-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.employee {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.employee img {
  border-radius: 50%; /* Tạo hình tròn */
  width: 40px; /* Đặt chiều rộng cố định */
  height: 40px; /* Đặt chiều cao cố định để tạo hình tròn hoàn hảo */
  object-fit: cover; /* Cắt và phủ kín không gian, loại bỏ phần thừa */
  border: 2px solid #36d1dc; /* Viền để tạo hiệu ứng nổi */
  margin-right: 10px; /* Khoảng cách giữa ảnh và tên */
}

.name {
  font-size: 0.85em;
  font-weight: bold;
  color: #333; /* Màu chữ tên */
}

.register-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #6f42c1; /* Màu tím chủ đạo cho nút đăng ký */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.register-button:hover {
  background-color: #5a30b1; /* Màu tím đậm hơn khi hover */
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .week {
      flex-direction: column;
  }

  .day {
      width: 100%;
  }

  .shift-container {
      flex-direction: column;
  }

  .shift {
      width: 100%;
  }
}

.day:hover {
  background-color: #f3e8ff; /* Màu nền khi hover */
  transition: background-color 0.3s ease;
}

.shift:hover {
  background-color: #ded2f7; /* Màu nền khi hover */
  transition: background-color 0.3s ease;
}
