<div class="sep-recent-orders">
  <div class="link-tab">
    <ng-container *ngIf="roleId.includes('1') || roleId.includes('3')">
      <div class="cham-cong">
        <a routerLink="/cham-cong" routerLinkActive="active-link" class="page-title">Chấm công</a>
      </div>
    </ng-container>
    <div class="dang-ki-lam-viec">
      <a routerLink="/dang-ky-lich-lam-viec" routerLinkActive="active-link" class="page-title">Đăng kí lịch làm
        việc</a>
    </div>
    <div class="theo-doi">
      <a routerLink="/theo-doi-cham-cong" routerLinkActive="active-link" class="page-title">Theo dõi
        chấm công</a>
    </div>
  </div>

  <div class="schedule-container">
    <h2>Lịch Làm Việc Tuần Tiếp Theo </h2>
    <div class="week">
      <div class="day" *ngFor="let day of weekDays">
        <div class="day-name">{{ day }}</div>
        <div class="shift-container">
          <div class="shift">
            <button class="register-button">Ca 1</button>
            <div class="employee-list">
              <div class="employee" *ngFor="let employee of getRegisteredEmployees(day, 1)">
                <img src="{{ employee.avatar }}" alt="{{ employee.name }}">
                <span class="name">{{ employee.name }}</span>
              </div>
            </div>
          </div>
          <div class="shift">
            <button class="register-button">Ca 2</button>
            <div class="employee-list">
              <div class="employee" *ngFor="let employee of getRegisteredEmployees(day, 2)">
                <img src="{{ employee.avatar }}" alt="{{ employee.name }}">
                <span class="name">{{ employee.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






</div>
