<div class="page-wrapper bg-wrapper">
  <div class="content">
    <div class="buy-form">
      <div class="row">
        <div class="col-md-2">
          <a href="#" class="page-title">Quản lý nhập</a>
        </div>
        <div class="col-md-2">
          <a href="#" class="page-title">Quản lý xuất</a>
        </div>
      </div>
      <div class="row filter-row m-t-30">
        <div class="col-md-2">
          <div class="form-group form-group-filter">
            <button href="add-employee.html" class="btn btn-custom float-right btn-rounded"  data-bs-toggle="modal" data-bs-target="#myModal"><i class="fas fa-plus"></i> Thêm phiếu xuất
            </button>
          </div>
        </div>
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>Chọn người xuất</option>
          </select>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="row row-date">
            <div class="col-md-4">
              <label class="focus-label p-2" style="font-weight: bold">Ngày xuất</label>
            </div>
            <div class="col-md-8">
              <input type="date" class="form-control">
            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered text-center rounded-3 overflow-hidden">
              <thead>
              <tr>
                <th>#</th>
                <th>Ngày lập phiếu</th>
                <th>Ghi chú</th>
                <th style="min-width: 200px">Tổng tiền</th>
                <th class="text-center">Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td></td>
                <td><a href="#" data-bs-toggle="modal" data-bs-target="#detailModal">10/10/2023</a></td>
                <td>abc</td>
                <td>25.000.000</td>
                <td class="text-center">
                  <button href="#" class="btn btn-primary float-right btn-rounded">Câp nhật</button>
                  <button href="#" class="btn btn-danger float-right btn-rounded" data-bs-toggle="modal" data-bs-target="#delete_bill_export">Xoá</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-add-bill-export-material></app-popup-add-bill-export-material>
<app-popup-detail-bill-export-material></app-popup-detail-bill-export-material>
<app-popup-delete-bill-export-material></app-popup-delete-bill-export-material>


