
<div class="modal-body">
  <div>
    <div class="icon-content">
      <div class="icon">
        <i class="fa fa-check"></i>
      </div>
    </div>
    <div class="title">
      Thêm lần khám thành công!!
    </div>
    <div class="description">
      Bạn muốn đến xem màn hình <b>Danh sách Lịch hẹn</b> khám hay muốn đến
      <b>Thanh toán bệnh nhân</b>
    </div>
    <div class="dismiss-btn">
<!--      <div>-->
<!--        <button class="button-custom" (click)="close('lich-hen')">Lịch hẹn</button>-->
<!--      </div>-->
      <div>
        <button class="button-custom" (click)="close('thanh-toan')">Thanh toán</button>
      </div>
      <div>
        <button class="button-custom" (click)="dismiss()">Hủy</button>
      </div>
    </div>
  </div>
</div>


