<div class="modal" id="EditTreatmentModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-main">
        <h4 class="modal-title title text-center w-100">Đợt khám</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mã bệnh nhân</label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.patient_id"
                disabled
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Lý do khám</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.chief_complaint"
                       aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nguyên nhân</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.differential_diagnosis"
                       aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Chẩn đoán</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.provisional_diagnosis"
                       aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phương án điều trị</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.name"
                [(ngModel)]="Edit_TreatmentCourse.name"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="procedureGroupSelect" class="form-label">Nhóm thủ thuật</label>
                <div class="select-checkbox" (mouseleave)="showDropDown = false">
                  <button class="drop-toggle btn flat" (click)="showDropDown=!showDropDown">
                    <span style="color: #1e1e1e">Chọn nhóm thủ thuật</span>
                    <i class="fa fa-angle-down"></i>
                  </button>
                  <div class="drop-show" *ngIf="showDropDown">
                    <div class="group-list" *ngFor="let a of list">
                      <div class="input-name">
                        <input type="checkbox" [(ngModel)]="a.checked" (click)="getSelectedValue(a)"/>
                      </div>
                      <div class="name-title">
                        <span> {{a.groupName}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <table>
                  <colgroup>
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 30%">
                    <col style="width: 10%">
                    <col style="width: 20%">
                  </colgroup>
                  <tr class="sticky-thead">
                    <th style="padding: 10px"></th>
                    <th style="padding: 10px">Nhóm thủ thuật</th>
                    <th style="padding: 10px">Thủ thuật</th>
                    <th style="padding: 10px">Giá tiền</th>
                    <th style="padding: 10px">Thành tiền</th>
                  </tr>
                  <ng-container *ngFor="let pro of list">
                    <ng-container *ngIf="pro.checked == true">
                        <tr class="tr-children" (click)="toggleExpand(pro)">
                          <td style="padding: 10px;float: right">
                            <i class="bi"
                               [ngClass]="{'bi-chevron-double-right': !pro.isExpand, 'bi-chevron-double-down': pro.isExpand}"></i>
                          </td>
                          <td style="padding: 10px">{{pro.groupName}}</td>
                          <td style="padding: 10px"></td>
                          <td style="padding: 10px"></td>
                          <td style="padding: 10px"></td>
                        </tr>
                        <tr *ngIf="pro.isExpand">
                          <td colspan="5">
                            <table>
                              <colgroup>
                                <col style="width: 10%">
                                <col style="width: 30%">
                                <col style="width: 30%">
                                <col style="width: 10%">
                                <col style="width: 20%">
                              </colgroup>
                              <tr class="tr-children" *ngFor="let gro of pro.procedure">
                                <td style="padding: 10px"></td>
                                <td style="padding: 10px"><i class="bi bi-arrow-return-right"></i></td>
                                <td style="padding: 10px">
                                  <input type="checkbox" style="margin-right: 3px" [(ngModel)]="gro.checked" (click)="checkProcedureUse(gro)"/>{{gro.procedureName}}</td>
                                <td style="padding: 10px"> {{gro.initPrice}}</td>
                                <ng-container *ngIf="gro.checked">
                                  <td style="padding: 10px"><input style="padding: 5px; border-radius: 5px" type="text" [(ngModel)]="gro.price" (input)="changePrice(gro, $event)"></td>
                                </ng-container>
                              </tr>
                            </table>
                          </td>
                        </tr>
                    </ng-container>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="medicine" class="form-label">Đơn thuốc:</label>
                <select class="form-select p-2" id="medicine" style="width: 15%; border: 1px solid #664FC3;
                         border-radius: 10px;" aria-label="Default select example" (change)="onMedicineChange()"
                  [(ngModel)]="selectMedicine">
                  <option value="0">Chọn mẫu đơn thuốc</option>
                  <option value="1">Mẫu 1</option>
                  <option value="2">Mẫu 2</option>
                </select>
              </div>
              <div class="button-content" *ngIf="showPrescriptionContent">
                <div class="btn-add-procedure">
                  <button class="btn button-add" style="margin-right: 3px" (click)="toggleAddMedicine()"><i
                      class="bi bi-plus-circle"></i>Thêm
                    mới đơn thuốc</button>
                </div>
                <div>
                  <button class="btn button-add" (click)="openGeneratePdfModal()">In đơn thuốc</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3" *ngIf="showPrescriptionContent">
                <table>
                  <colgroup>
                    <col style="width: 10%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 10%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                  </colgroup>
                  <tr class="sticky-thead">
                    <th style="padding: 10px">STT</th>
                    <th style="padding: 10px">Tên thuốc</th>
                    <th style="padding: 10px">Số lượng</th>
                    <th style="padding: 10px">Đơn vị</th>
                    <th style="padding: 10px">Liều dùng</th>
                    <th style="padding: 10px">Thao tác</th>
                  </tr>
  
  
                  <ng-container *ngFor="let record of recordsMedicine; let i = index">
                    <tr>
                      <td style="padding: 10px">{{ i + 1 }}</td>
                      <td style="padding: 10px">
                        <input type="text" *ngIf="isAddMedicine" [(ngModel)]="record.ten"
                          class="form-control value-staff">
                        <p *ngIf="!isAddMedicine">{{record.ten}}</p>
                      </td>
                      <td style="padding: 10px">
                        <input type="text" *ngIf="isAddMedicine" [(ngModel)]="record.soLuong"
                          class="form-control value-staff">
                        <p *ngIf="!isAddMedicine">{{record.soLuong}}</p>
                      </td>
                      <td style="padding: 10px">
                        <input type="text" *ngIf="isAddMedicine" [(ngModel)]="record.donvi"
                          class="form-control value-staff">
                        <p *ngIf="!isAddMedicine">{{record.donvi}}</p>
                      </td>
                      <td style="padding: 10px">
                        <input type="text" *ngIf="isAddMedicine" [(ngModel)]="record.lieuDung"
                          class="form-control value-staff">
                        <p *ngIf="!isAddMedicine">{{record.lieuDung}}</p>
                      </td>
                      <td style="padding: 10px">
                        <div class="delete-cell">
                          <button class="delete-button" (click)="deleteRecordMedicine(i)">
                            x
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="procedureGroupSelect" class="form-label">Vật liệu sử dụng</label>
                <div class="select-checkbox" (mouseleave)="showDropDown1 = false">
                  <select [(ngModel)]="material_warehouse_id" (ngModelChange)="updateTemporaryNameMaterial()">
                    <option *ngFor="let a of results" value={{a.material_warehouse_id}}>{{a.materialName}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <table>
                  <colgroup>
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                  </colgroup>
                  <tr class="sticky-thead">
                    <th style="padding: 10px">Tên vật liệu</th>
                    <th style="padding: 10px">Số lượng</th>
                    <th style="padding: 10px">Thao tác</th>
                  </tr>
                  <ng-container *ngFor="let a of listMaterialUsage">
                    <tr>
                      <td>{{a.description}}</td>
                      <td><input type="text" [(ngModel)]="a.quantity"></td>
                      <td><button class="delete-button" (click)="deleteMaterialUsage(a.material_warehouse_id)">
                          x
                        </button></td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Lưu ý</label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.description"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Status</label>
                <select class="form-select" aria-label="Default select example"
                [(ngModel)]="Edit_TreatmentCourse.status"
                >
                  <option value="1" selected>One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Created Date</label>
                <input type="date" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.created_date"
                aria-describedby="emailHelp">

              </div>
            </div>
          </div> -->

          <!-- Modal footer -->
          <!-- <div class="button-conf float-end">

            <button type="button" id="cancel" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
            <button type="button"class="btn button-add" data-bs-dismiss="modal" (click)="editTreatmentCourse()">Lưu</button>

          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
