<div class="modal" id="EditTreatmentModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-main">
        <h4 class="modal-title title text-center w-100">Liệu trình</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mã bệnh nhân</label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.patient_id"
                disabled
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Lý do khám</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.chief_complaint"
                       aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Chuẩn đoán</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.provisional_diagnosis"
                       aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nguyên nhân</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.differential_diagnosis"
                       aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tên Liệu trình</label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="Edit_TreatmentCourse.name"
                [(ngModel)]="Edit_TreatmentCourse.name"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="procedureGroupSelect" class="form-label">Nhóm thủ thuật</label>
                <div class="select-checkbox" (mouseleave)="showDropDown = false">
                  <button class="drop-toggle btn flat" (click)="showDropDown=!showDropDown">
                    <span style="color: #1e1e1e">Chọn nhóm thủ thuật</span>
                    <i class="fa fa-angle-down"></i>
                  </button>
                  <div class="drop-show" *ngIf="showDropDown">
                    <div class="group-list" *ngFor="let a of list">
                      <div class="input-name">
                        <input type="checkbox" [(ngModel)]="a.checked" (click)="getSelectedValue(a)"/>
                      </div>
                      <div class="name-title">
                        <span> {{a.groupName}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <table>
                  <colgroup>
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 30%">
                    <col style="width: 10%">
                    <col style="width: 20%">
                  </colgroup>
                  <tr class="sticky-thead">
                    <th style="padding: 10px"></th>
                    <th style="padding: 10px">Nhóm thủ thuật</th>
                    <th style="padding: 10px">Thủ thuật</th>
                    <th style="padding: 10px">Giá tiền</th>
                    <th style="padding: 10px">Thành tiền</th>
                  </tr>
                  <ng-container *ngFor="let pro of list">
                    <ng-container *ngIf="pro.checked == true">
                        <tr class="tr-children" (click)="toggleExpand(pro)">
                          <td style="padding: 10px;float: right">
                            <i class="bi"
                               [ngClass]="{'bi-chevron-double-right': !pro.isExpand, 'bi-chevron-double-down': pro.isExpand}"></i>
                          </td>
                          <td style="padding: 10px">{{pro.groupName}}</td>
                          <td style="padding: 10px"></td>
                          <td style="padding: 10px"></td>
                          <td style="padding: 10px"></td>
                        </tr>
                        <tr *ngIf="pro.isExpand">
                          <td colspan="5">
                            <table>
                              <colgroup>
                                <col style="width: 10%">
                                <col style="width: 30%">
                                <col style="width: 30%">
                                <col style="width: 10%">
                                <col style="width: 20%">
                              </colgroup>
                              <tr class="tr-children" *ngFor="let gro of pro.procedure">
                                <td style="padding: 10px"></td>
                                <td style="padding: 10px"><i class="bi bi-arrow-return-right"></i></td>
                                <td style="padding: 10px">
                                  <input type="checkbox" style="margin-right: 3px" [(ngModel)]="gro.checked" (click)="checkProcedureUse(gro)"/>{{gro.procedureName}}</td>
                                <td style="padding: 10px"> {{gro.initPrice}}</td>
                                <ng-container *ngIf="gro.checked">
                                  <td style="padding: 10px"><input style="padding: 5px; border-radius: 5px" type="text" [(ngModel)]="gro.price" (input)="changePrice(gro, $event)"></td>
                                </ng-container>
                              </tr>
                            </table>
                          </td>
                        </tr>
                    </ng-container>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mô tả</label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.description"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Status</label>
                <select class="form-select" aria-label="Default select example"
                [(ngModel)]="Edit_TreatmentCourse.status"
                >
                  <option value="1" selected>One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Created Date</label>
                <input type="date" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.created_date"
                aria-describedby="emailHelp">

              </div>
            </div>
          </div> -->

          <!-- Modal footer -->
          <!-- <div class="button-conf float-end">

            <button type="button" id="cancel" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
            <button type="button"class="btn button-add" data-bs-dismiss="modal" (click)="editTreatmentCourse()">Lưu</button>

          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
