<div class="modal" id="EditTreatmentModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-main">
        <h4 class="modal-title title text-center w-100">Sửa liệu trình</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mã bệnh nhân</label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.patient_id"
                disabled
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tên Liệu trình</label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.name"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mô tả</label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.description"
                aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Status</label>
                <select class="form-select" aria-label="Default select example"
                [(ngModel)]="Edit_TreatmentCourse.status"
                >
                  <option value="1" selected>One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Created Date</label>
                <input type="date" class="form-control" id="exampleInputEmail1"
                [(ngModel)]="Edit_TreatmentCourse.created_date"
                aria-describedby="emailHelp">

              </div>
            </div>
          </div> -->

          <!-- Modal footer -->
          <div class="button-conf float-end">

            <button type="button" id="cancel" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
            <button type="button"class="btn button-timekeeping" style="background-color: rgba(139, 55, 19,.95); color:white" data-bs-dismiss="modal" (click)="editTreatmentCourse()">Lưu</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
