.selected {
  background-color: rgba(217, 217, 217, 0.6)
}


.list-group-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: rgb(217, 217, 217)
}

.doctor-image {
  max-width: 100px;
  margin-right: 10px;
}

.doctors-list {
  max-height: 200px;
  /* Độ cao tối đa hiển thị trước khi có thanh cuộn */
  overflow-y: auto;
  /* Hiển thị thanh cuộn dọc nếu danh sách dài hơn độ cao tối đa */
}

.modal-header {
  background-color: #664FC3;
  color: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.btn-close {
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

/* Cài đặt input text */
.form-control {
  border-radius: 5px;
  font-size: 16px;
  /* Kích thước chữ */
}

/* Cài đặt input select */
.form-control.select {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

/* Cài đặt textarea */
.form-control.textarea {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

/* Tùy chỉnh màu chữ khi nhập liệu vào input */
.form-control:focus {
  color: #333;
  /* Màu chữ */
}

/* Tùy chỉnh màu chữ của select khi chọn giá trị */
.form-control.select:focus {
  color: #333;
}

/* Tùy chỉnh màu chữ của textarea khi nhập liệu */
.form-control.textarea:focus {
  color: #333;
}


.mat-calendar-body-disabled .mat-calendar-body-cell {
  background-color: #ccc;
  /* Màu nền cho ngày bị vô hiệu hóa */
  color: #888;
  /* Màu chữ cho ngày bị vô hiệu hóa */
}

.highlight-dates {
  background: red;
  border-radius: 100%;
}

button.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}

.button-timekeeping {
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

.button-timekeeping:hover {
  background: #533daf;
}

.btn-cancel:active,
.btn-cancel {
  font-family: "Poppins", sans-serif;
  background-color: #838282;
  text-align: center;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-right: 3px;
}

.btn-cancel:hover {
  background-color: #6e6c6c;
}
