<div class="web-wrapper">
  <div class="container" style="z-index: 999;">

    <h2>Nha Khoa Nguyên Trần</h2>

    <h5 class="text-center header-font" class="text-center">Xin chào, {{appointment.patient_name}}
    </h5>
    <p class="text-center cursive-font">{{appointment.phone_number}}</p>

    <div class="form-group row mt-5 align-items-center">
      <label for="appointmentdate" class="col-3 col-form-label">Ngày hẹn:</label>
      <div class="col-9 d-flex align-items-center">
        <p class="date-display mb-0">{{appointmentDate | date:'dd/MM/yyyy'}}<i class="bi bi-calendar3 float-end"></i></p>
      </div>
    </div>

    <div class="form-group row mt-3 align-items-center">
      <label for="changedate" class="col-3 col-form-label">Ngày đổi:</label>

      <div class="col-9">
        <div class="input-group">
          <input class="form-control"  placeholder="dd/MM/yyyy" [markDisabled]="isDisabled" name="dp" [(ngModel)]="model"
            [min]="mindate" ngbDatepicker #d="ngbDatepicker" [placement]="'center'" placeholder="Chọn ngày hẹn">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" style="height: 48px;" (click)="d.toggle()" type="button">
              <i class="bi bi-calendar3"></i>
            </button>
          </div>
        </div>
        <!-- <p *ngIf="isSubmitted" class="error" style="color: red;">{{validateAppointment.appointmentDate}}</p> -->
      </div>
    </div>


    <div class="form-group row mt-3 align-items-center">
      <label for="time" class="col-3 col-form-label">Giờ hẹn:</label>
      <div class="col-9">
        <input type="time" class="form-control date-input-custom" id="time" name="time" [(ngModel)]="timeString"
          style="vertical-align: middle;">
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-12 text-center">
        <button class="btn btn-secondary" (click)="cancelAppointment()">Huỷ lịch hẹn</button>
        <button class="btn btn-custom" (click)="onPutAppointment()">Xác nhận</button>
      </div>
    </div>
  </div>

</div>


