<div class="recent-orders">
  <div class="link-tab">
    <div class="doanh-thu">
      <a routerLink="/doanh-thu" class="page-title" routerLinkActive="active-link">Tổng doanh thu</a>
    </div>
    <div class="bao-cao-thu">
      <a routerLink="/bao-cao-thu" class="page-title" routerLinkActive="active-link">Báo cáo thu</a>
    </div>
    <div class="bao-cao-chi">
      <a routerLink="/bao-cao-chi" class="page-title" routerLinkActive="active-link">Báo cáo chi</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h3>Báo cáo thu</h3>
    </div>
  </div>
  <div class="row filter-row m-b-1 mt-3">
    <div class="col-sm-3 col-md-2">
      <div class="input-group">
        <label>Ngày điều trị từ:</label>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 ">
      <div class="input-group">
        <label>Ngày điều trị đến:</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2" style="padding: 0 10px">
      <div class="input-group">
        <input type="date" [(ngModel)]="startDate" class="form-control input-custom  p-2">
      </div>
    </div>
    <div class="col-sm-3 col-md-2" style="padding: 0 10px">
      <div class="input-group">
        <input type="date" [(ngModel)]="endDate" (change)="getReportMaterialUsage()"
          class="form-control input-custom  p-2">
      </div>
    </div>
    <div class="col-sm-2 col-md-2" style="padding: 0 10px">
      <select class="form-select p-2" style="width: 70%; border: 1px solid #664FC3;
            border-radius: 10px;" aria-label="Default select example">
        <option value="" selected>Trạng thái</option>
        <option value="1">Hoàn thành</option>
        <option value="2">Còn nợ</option>
      </select>
    </div>
    <div class="col-6">
      <section class="table__header">
        <h1></h1>
        <div class="input-group">
          <input type="search search-custom" placeholder="Tìm kiếm theo tên bệnh nhân..." [(ngModel)]="searchName"
            (input)="searchPatientName()">
        </div>
      </section>
    </div>
  </div>

  <!--  <div class="table-container" style="margin-top: 10px;">-->
  <!--    <table style="border-collapse: unset">-->
  <!--      <thead class="sticky-thead">-->
  <!--      <tr>-->
  <!--        <th>Tổng tiền điều trị</th>-->
  <!--        <th>Giảm giá</th>-->
  <!--        <th>Phải thanh toán</th>-->
  <!--        <th>Đã thu</th>-->
  <!--        <th>Còn lại</th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <!--      <tr>-->
  <!--        <td>30.000.000</td>-->
  <!--        <td>1.500.000</td>-->
  <!--        <td>29.500.000</td>-->
  <!--        <td>28.000.000</td>-->
  <!--        <td>500.000<td>-->
  <!--      </tr>-->

  <!--      </tbody>-->
  <!--    </table>-->

  <!--  </div>-->

  <div class="row mt-5">
    <div class="col-md-12">
      <h3>Thông tin chi tiết</h3>
    </div>
  </div>
  <div class="table-container" style="margin-top: 10px;">
    <table style="border-collapse: unset">
      <thead class="sticky-thead">
        <tr>
          <th>Mã bệnh nhân</th>
          <th>Tên bệnh nhân</th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Tổng điều trị</th>
          <th>Giảm giá</th>
          <th>Phải thanh toán</th>
          <th>Đã thu</th>
          <th>Còn nợ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of stastisticRevenuePatientSearch">
          <td>{{patient.patientCode}}</td>
          <td>{{patient.patientName}}</td>
          <td>{{patient.phoneNumber}}</td>
          <td>{{patient.address}}</td>
          <td>{{patient.initialAmount}}</td>
          <td>{{patient.discount}}</td>
          <td>{{patient.totalAmount}}</td>
          <td>{{patient.totalPay}}</td>
          <td>{{patient.totalLeft}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div class="table-container" style="margin-top: 10px;">
    <table style="border-collapse: unset">
      <thead class="sticky-thead">
        <tr>
          <th>Tổng tiền điều trị</th>
          <th>Giảm giá</th>
          <th>Phải thanh toán</th>
          <th>Đã thu</th>
          <th>Còn lại</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stastisticTotal.initialTotalAmount}}</td>
          <td>{{stastisticTotal.discount}}</td>
          <td>{{stastisticTotal.totalAmount}}</td>
          <td>{{stastisticTotal.totalPay}}</td>
          <td>{{stastisticTotal.totalLeft}}
          <td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
