<div class="sep-recent-orders">
  <div class="link-tab">
    <div class="doanh-thu">
      <a routerLink="/doanh-thu" class="page-title" routerLinkActive="active-link">Tổng doanh thu</a>
    </div>
    <div class="bao-cao-thu">
      <a routerLink="/bao-cao-thu" class="page-title" routerLinkActive="active-link">Báo cáo thu</a>
    </div>
    <div class="bao-cao-chi">
      <a routerLink="/bao-cao-chi" class="page-title" routerLinkActive="active-link">Báo cáo chi</a>
    </div>
  </div>
  <div class="row filter-row ">
    <div class="col-sm-3 col-md-2">
      <div class="input-group">
        <label>Ngày điều trị từ:</label>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 ">
      <div class="input-group">
        <label>Ngày điều trị đến:</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2" style="padding: 0 10px">
      <div class="input-group">
        <input type="date" [(ngModel)]="startDate" class="form-control input-custom  p-2" (ngModelChange)="onValueChangeStartDate($event)">
      </div>
    </div>
    <div class="col-sm-3 col-md-2" style="padding: 0 10px">
      <div class="input-group">
        <input type="date" [(ngModel)]="endDate"
          class="form-control input-custom  p-2" (ngModelChange)="onValueChangeEndDate($event)">
      </div>
    </div>
    <div class="col-md-2">
      <div>
        <button class="btn button-add p-2" style="margin-left: 8px;" title="không lọc">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
    </div>
    <!-- <div class="col-sm-2 col-md-2" style="padding: 0 10px">
      <select class="form-select p-2" style="width: 70%; border: 1px solid #664FC3;
            border-radius: 10px;" aria-label="Default select example" [(ngModel)]="status" (ngModelChange)="onValueChangeSelectedStatus($event)">
        <option value="0">Trạng thái</option>
        <option value="1">Hoàn thành</option>
        <option value="2">Còn nợ</option>
      </select>
    </div> -->
    <div class="col-6">
      <section class="table__header">
        <h1></h1>
        <div class="input-group">
          <input type="search search-custom" placeholder="Tìm kiếm theo tên bệnh nhân..." [(ngModel)]="searchName"
            (input)="searchPatientName()">
        </div>
      </section>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead class="sticky-thead">
        <tr>
          <th>Mã bệnh nhân</th>
          <th>Tên bệnh nhân</th>
          <th>Số điện thoại</th>
          <th>Tổng điều trị</th>
          <th>Giảm giá</th>
          <th>Phải thanh toán</th>
          <th>Đã thu</th>
          <th>Còn nợ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of stastisticRevenuePatientSearch" class="tr-table">
          <td>{{patient.patientCode}}</td>
          <td>{{patient.patientName}}</td>
          <td>{{patient.phoneNumber}}</td>
          <td>{{patient.initialAmount}}</td>
          <td>{{patient.discount}}</td>
          <td>{{patient.totalAmount}}</td>
          <td>{{patient.totalPay}}</td>
          <td>{{patient.totalLeft}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="padding: 15px 10px; border-bottom: 10px; background-color: white; border-top: 2px solid black;">
    <div class="row" style=" color:black; font-weight: bold;">
      <div class="col-md-3">Tổng tiền điều trị: {{stastisticTotal.initialTotalAmount}} VNĐ</div>
      <div class="col-md-2">Giảm giá: {{stastisticTotal.discount}}%</div>
      <div class="col-md-3">Phải thanh toán: {{stastisticTotal.totalAmount}} VNĐ</div>
      <div class="col-md-2">Đã thu: {{stastisticTotal.totalPay}} VNĐ</div>
      <div class="col-md-2">Còn lại: {{stastisticTotal.totalLeft}} VNĐ</div>
    </div>
  </div>
  <!-- <div class="table-container" style="margin-top: 10px;">
    <table style="border-collapse: unset">
      <thead class="sticky-thead">
        <tr>
          <th>Tổng tiền điều trị</th>
          <th>Giảm giá</th>
          <th>Phải thanh toán</th>
          <th>Đã thu</th>
          <th>Còn lại</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stastisticTotal.initialTotalAmount}}</td>
          <td>{{stastisticTotal.discount}}</td>
          <td>{{stastisticTotal.totalAmount}}</td>
          <td>{{stastisticTotal.totalPay}}</td>
          <td>{{stastisticTotal.totalLeft}}
          <td>
        </tr>
      </tbody>
    </table>

  </div> -->
</div>
