<div class="recent-orders sep-recent-orders">
  <section class="table__header sep-front-table">
    <div class="col-4">
      <button class="btn button-addPatient" data-bs-toggle="modal" data-bs-target="#myBNModal"><i
          class="bi bi-plus-circle"></i> Thêm
        bệnh nhân</button>
    </div>
    <div class="input-group col-7">
      <input type="search search-custom" [(ngModel)]="search" (input)="searchPatient()"
        placeholder="Tìm kiếm theo tên">
    </div>
    <div class="export__file">
    </div>
  </section>
  <div class="table-container">
    <table>
      <thead class="sticky-thead">
        <tr>
          <th style="max-width: 50px;">Mã bệnh nhân</th>
          <th>Tên bệnh nhân</th>
          <th>SĐT</th>
          <th>Địa chỉ</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
      <tr class="hover-patient" *ngFor="let p of searchPatientsList" [ngClass]="{'new-record': p.isNew,'pulse': p.isPulsing}" style="cursor: pointer;">
          <td (click)="detail(p.patient_id)">
            <!--HE153724-->{{p.patient_id}}
          </td>
          <td>
            <a style="cursor: pointer;" (click)="detail(p.patient_id)">{{p.patient_name}}</a>
          </td>
          <td (click)="detail(p.patient_id)">
            {{p.phone_number}}
          </td>
          <td (click)="detail(p.patient_id)">
            {{p.address}}
          </td>
          <td>
            <button href="#" class="btn btn-danger float-right btn-rounded" style="padding: 2px 5px"
              data-bs-toggle="modal" data-bs-target="#delete_patient"
              (click)="openDeletePatient(p.patient_id)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="sep-pagination">
    <a (click)="pageChanged(currentPage - 1)" *ngIf="currentPage > 1">&laquo;</a>
    <a>{{currentPage}}</a>
    <a (click)="pageChanged(currentPage + 1)" *ngIf="hasNextPage">&raquo;</a>
  </div>
</div>
<!-- End of Recent Orders -->
<app-popup-add-patient [searchPatientsList]="searchPatientsList"></app-popup-add-patient>
<app-popup-delete-patient [id]="id" [patientList]="searchPatientsList"></app-popup-delete-patient>
