<div class="recent-orders sep-recent-orders">
  <section class="table__header row">
    <div class="col-4">
      <button class="btn button-addPatient" data-bs-toggle="modal" data-bs-target="#myBNModal"><i
          class="bi bi-plus-circle"></i> Thêm
        bệnh nhân</button>
    </div>
    <div class="input-group col-7">
      <input type="search search-custom" [(ngModel)]="search" (input)="searchPatient()" placeholder="Tìm kiếm theo tên">
    </div>
    <!--    <div class="export__file">-->
    <!--    </div>-->
  </section>
  <div class="table-container">
    <table>
      <thead class="sticky-thead">
        <tr>
          <th style="width: 100px;">Mã bệnh nhân</th>
          <th style="width: 300px;">Tên bệnh nhân</th>
          <th style="width: 150px;">SĐT</th>
          <th style="width: 250px;">Địa chỉ</th>
          <th style="width: 100px;">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover-patient" *ngFor="let p of searchPatientsList"
          [ngClass]="{'new-record': p.isNew,'pulse': p.isPulsing}" style="cursor: pointer;">

          <!-- <ng-container (click)="detail(p.patient_id)"> -->
            <td (click)="detail(p.patient_id)" style="width: 100px;">
              <!--HE153724-->{{p.patient_id}}
            </td>
            <td (click)="detail(p.patient_id)" style="width: 300px;">
              <a style="cursor: pointer;">{{p.patient_name}}</a>
            </td>
            <td (click)="detail(p.patient_id)" style="width: 150px;">
              {{p.phone_number}}
            </td>
            <td (click)="detail(p.patient_id)" style="width: 250px;">
              {{p.address}}
            </td>
          <!-- </ng-container> -->
          <td style="width: 100px;">
            <button class="btn btn-primary" style="padding: 2px 5px; margin-right: 3px">
              <i class="bi bi-pencil-square"></i></button>
            <button href="#" class="btn btn-danger float-right btn-rounded" style="padding: 2px 5px"
              (click)="openDeletePatient(p.patient_id, p.patient_name, $event)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="sep-pagination">
    <a (click)="currentPage > 1 ? pageChanged(currentPage - 1) : null" [class.disabled]="currentPage <= 1"
      style="color: black">&laquo;</a>
    <a>{{currentPage}}</a>
    <a [class.disabled]="!hasNextPage" (click)="hasNextPage && pageChanged(currentPage + 1)"
      style="color: black">&raquo;</a>
  </div>
</div>
<!-- End of Recent Orders -->
<app-popup-add-patient [searchPatientsList]="searchPatientsList"></app-popup-add-patient>
<app-popup-delete-patient [id]="id" [patientList]="searchPatientsList"></app-popup-delete-patient>
