<div class="recent-orders bg-white">
  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs">
          <li class="nav-item mr-2"><a class="nav-link active" style="padding: 10px; color: #7B4C50; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <ng-container
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('4') || roleId.includes('5')">
            <li class="nav-item mr-2"><a class="nav-link"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
                style="padding: 10px; color: #000; cursor: pointer;">Khám và điều trị</a></li>
            <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/mauvat/')">Mẫu vật</a>
            </li>
            <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
            </li>
          </ng-container>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>
        <!-- <div class="tab-content">
                      <router-outlet></router-outlet>
                    </div> -->
      </div>
    </div>
    <div class="tab-pane show active" id="TTCtab">
      <div class="row">
        <div class="col-md-4 mt-5">
          <div class="card mb-4 mb-xl-0">
            <div class="card-body text-center">
              <img class="img-account-profile mb-2"
                src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                alt="">
              <button class="btn btn-primary" type="button">Chọn ảnh</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <!-- Account details card-->
          <div class="card mb-4">
            <div class="card-body">
              <!-- Form Group (username)-->
              <div class="mb-3">
                <div class="form-group mb-3">
                  <label class="small mb-1" for="maHoSo">Mã hồ sơ</label>
                  <input class="form-control" disabled [(ngModel)]="patient.patient_id" id="maHoSo" type="text"
                    placeholder="Mã hồ sơ">
                </div>
              </div>
              <!-- Form Row-->
              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="small mb-1" for="hoVaTen">Họ và tên</label>
                    <input class="form-control" id="hoVaTen" [(ngModel)]="patient.patient_name" type="text"
                      [disabled]="!isEditing" placeholder="Họ và tên">
                    <div *ngIf="isSubmitted" class="alert-danger-custom">
                      <p>
                        {{validatePatient.name}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="small mb-1" for="inputLocation">Địa chỉ</label>
                    <input class="form-control" [(ngModel)]="patient.address" id="inputLocation" [disabled]="!isEditing"
                      type="text" placeholder="Địa chỉ">
                    <div *ngIf="isSubmitted" class="alert-danger-custom">
                      <p>
                        {{validatePatient.address}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="small mb-1" for="dob">Ngày sinh</label>
                    <input class="form-control" [(ngModel)]="patient.date_of_birth" [disabled]="!isEditing" id="dob"
                      type="date">
                    <div *ngIf="isSubmitted" class="alert-danger-custom">
                      <p>
                        {{validatePatient.dob}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <div>
                      <label class="small mb-1">Giới tính</label>
                    </div>
                    <div class="border form-control">
                      <input type="radio" [(ngModel)]="patient.gender" [value]="1" [disabled]="!isEditing"> Nam
                      <input type="radio" [(ngModel)]="patient.gender" [value]="0" [disabled]="!isEditing"> Nữ
                    </div>
                    <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
                      <p>
                        {{validatePatient.gender}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text custom-span" id="basic-addon1">(+84)</span>
                      </div>
                      <input type="text" class="form-control" [disabled]="!isEditing" [(ngModel)]="patient.phone_number"
                        id="inputPhone" name="inputPhone" aria-label="phoneNumber" aria-describedby="basic-addon1">
                    </div>
                    <!--                    <input class="form-control" [(ngModel)]="patient.phone_number" id="inputPhone"-->
                    <!--                      [disabled]="!isEditing" type="tel" placeholder="Số điện thoại">-->
                    <div *ngIf="isSubmitted" class="alert-danger-custom">
                      <p>
                        {{validatePatient.phone}}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Form Group (birthday)-->
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="small mb-1" for="email">Email</label>
                    <input class="form-control" [(ngModel)]="patient.email" id="email" type="text"
                      [disabled]="!isEditing" name="birthday" placeholder="Email">
                    <div *ngIf="isSubmitted" class="alert-danger-custom">
                      <p>
                        {{validatePatient.email}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="small mb-1" for="tieuSuBenh">Tiểu sử bệnh</label>
                  <input class="form-control" [(ngModel)]="patient.dental_medical_history" [disabled]="!isEditing"
                    id="tieuSuBenh" type="text">
                </div>
                <div class="mb-3">
                  <label class="small mb-1" for="note">Ghi chú</label>
                  <input class="form-control" [(ngModel)]="patient.description" [disabled]="!isEditing" id="note"
                    type="text">
                </div>
              </div>
              <!-- Save changes button-->
              <div style="text-align: center; width: 24%; margin-left: 38%;" class="d-flex justify-content-around">
                <!-- <button *ngIf="!isEditing" class="btn btn-secondary ml-2 mt-3" routerLink="/benhnhan/danhsach">Quay
                  lại</button> -->
                <button *ngIf="isEditing" class="btn btn-secondary ml-2" (click)="cancelUpdate()">Huỷ</button>
                <button class="btn btn-primary" type="button" (click)="toggleEditing()">
                  {{ isEditing ? 'Lưu' : 'Cập nhật'}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>