<div class="recent-orders bg-white" style="border-radius: 15px;">
  <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px; padding-top: 20px;">Hồ sơ bệnh nhân</h2>

  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs" style="padding: 0px 80px;">
          <li class="nav-item mr-2"><a class="nav-link active" style="padding: 10px; color: #7B4C50;"
              routerLink="/benhnhan/danhsach/tab/hosobenhnhan">Thông tin
              chung</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" (click)="setPatientId()"
              routerLink="/benhnhan/danhsach/tab/lichtrinhdieutri" style="padding: 10px; color: #000;">Khám và
              điều
              trị</a></li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000;"
              routerLink="/benhnhan/danhsach/tab/lichhen">Lịch hẹn</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000;"
              routerLink="/benhnhan/danhsach/tab/thanhtoan">Thanh toán</a>
          </li>
        </ul>
        <!-- <div class="tab-content">
                <router-outlet></router-outlet>
              </div> -->
      </div>
    </div>
    <div class="tab-pane show active" id="TTCtab">
      <div class="row mt-5" style="padding-right: 80px;">
        <div class="col text-center">
          <img
            src="https://th.bing.com/th/id/R.13156d2168f97d5e7b8880c42d0e2380?rik=I0RORQtJ1OVRLg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_320438.png&ehk=eE6Y11wS%2bflUtRgFvBllYtM8ZHabQuUa%2b6y8y3G4gQM%3d&risl=&pid=ImgRaw&r=0"
            alt="">
        </div>
        <div class="col"></div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="maHoSo">Mã hồ sơ:</label>
            <input [disabled]="!isEditing" id="maHoSo" class="form-control border-bottom-0">
          </div>
          <div class="form-group mb-3">
            <label for="dateCreated">Ngày tạo:</label>
            <input type="datetime-local" [(ngModel)]="patient.created_date" [disabled]="!isEditing"
              class="form-control border-bottom-0">
            <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
              <p>
                {{validatePatient.createDate}}
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="fullName">Họ và Tên:</label>
            <input [(ngModel)]="patient.patient_name" [disabled]="!isEditing" class="form-control border-bottom-0">
            <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
              <p>
                {{validatePatient.name}}
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="gender">Giới tính:</label>
            <input type="radio" [(ngModel)]="patient.gender" [value]="1" [disabled]="!isEditing"> Nam
            <input type="radio" [(ngModel)]="patient.gender" [value]="0" [disabled]="!isEditing"> Nữ
            <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
              <p>
                {{validatePatient.gender}}
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="phone">SĐT:</label>
            <input [(ngModel)]="patient.phone_number" [disabled]="!isEditing" class="form-control border-bottom-0">
            <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
              <p>
                {{validatePatient.phone}}
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="email">Email:</label>
            <input [(ngModel)]="patient.email" [disabled]="!isEditing" class="form-control border-bottom-0">
            <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
              <p>
                {{validatePatient.email}}
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="address">Địa chỉ:</label>
            <input [(ngModel)]="patient.address" [disabled]="!isEditing" class="form-control border-bottom-0">
            <div *ngIf="isSubmitted" class="alert-danger-custom" style="color:#FF0000FF;">
              <p>
                {{validatePatient.address}}
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="tsb">Tiền sử bệnh:</label>
            <input [(ngModel)]="patient.dental_medical_history" [disabled]="!isEditing"
              class="form-control border-bottom-0">
          </div>
          <div class="form-group mb-3">
            <label for="note">Ghi chú:</label>
            <input [(ngModel)]="patient.description" [disabled]="!isEditing" class="form-control border-bottom-0">
          </div>
        </div>
        <div class="col text-center">
          <button class="btn button-timekeeping" (click)="toggleEditing()"> {{ isEditing ? 'Lưu' : 'Cập nhật'
            }}</button>
        </div>
      </div>
    </div>
  </div>


</div>
