<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside class="">
      <div class="sep-navigation active">
        <div class="sep-menuToggle active">
          <div class="logo">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
            <p><span class="danger"><span class="nguyen">Nguyen</span><span class="tran"> Tran</span></span><span class="clinic"> Clinic</span></p>
          </div>
        </div>
        <ul>
          <li class="list" *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('3')">
            <a routerLink="/lich-hen" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-calendar-check"></i>
              </span>
              <span class="text">Lịch hẹn</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1') || roleId.includes('3')">
            <a routerLink="/phong-cho" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-house-heart"></i>
              </span>
              <span class="text">Phòng chờ</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('3')">
            <a routerLink="/benhnhan/danhsach" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-person-lines-fill"></i>
              </span>
              <span class="text">Bệnh nhân</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('3') || roleId.includes('4') || roleId.includes('5')">
            <a routerLink="/theo-doi-cham-cong" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-calendar3"></i>
              </span>
              <span class="text">Chấm công</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1')">
            <a routerLink="/thu-thuat" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-clipboard2-pulse"></i>
              </span>
              <span class="text">Thủ thuật</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1')">
            <a routerLink="/nhan-vien" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-file-person-fill"></i>
              </span>
              <span class="text">Nhân viên</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1')">
            <a routerLink="/labo" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-house-door"></i>
              </span>
              <span class="text">Labo</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('4') || roleId.includes('5')">
            <a routerLink="/mau" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-file-medical"></i>
              </span>
              <span class="text">Mẫu vật</span>
            </a>
          </li>
          <li class="list" *ngIf="roleId.includes('1') || roleId.includes('5')">
            <a routerLink="/vat-lieu" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-prescription2"></i>
              </span>
              <span class="text">Vật liệu</span>
            </a>
          </li>

          <li class="list" *ngIf="roleId.includes('1')">
            <a routerLink="/co-so" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-houses"></i>
              </span>
              <span class="text">Cơ sở</span>
            </a>
          </li>
          <li class="list">
            <a routerLink="/admin/doanh-thu" routerLinkActive="active" style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-coin"></i>
              </span>
              <span class="text">Doanh thu</span>
            </a>
          </li>
          <li>
            <a (click)="signOut()" style="--clr:#664FC3">
              <span class="material-icons-sharp icon">
                logout
              </span>
              <span class="text">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main class="sep-main">
      <!-- Analyses -->
      <div class="analyse sep-analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-calendar3"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-houses"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-person-standing"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="icon">
            <select style="border: 1px solid #000; border-radius: 20px;">
              <option value="">Cơ sở 1</option>
              <option value="">Cơ sở 2</option>
              <option value="">Cơ sở 3</option>
            </select>
          </div>
          <div class="info">
            <p>Xin chào, <b>Linh</b></p>
            <small class="text-muted">Lễ tân</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png" routerLink="/suahoso">
          </div>
        </div>
      </div>

      <div class="content sep-content">
        <router-outlet></router-outlet>
      </div>
      <app-chat></app-chat>

    </main>
    <!-- End of Main Content -->

  </div>
</div>
