<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside>
      <div class="sep-navigation active">
        <div class="sep-menuToggle">
          <div class="logo">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
            <p><span class="danger"><span class="nguyen">Nguyen</span><span class="tran"> Tran</span></span><span
                class="clinic"> Clinic</span></p>
          </div>
        </div>
        <ul>
          <li class="list" routerLinkActive="active" routerLink="/lich-hen"
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('3') || roleId.includes('4') || roleId.includes('5')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-calendar-check"></i>
              </span>
              <span class="text">Lịch hẹn</span>
            </a>
          </li>
          <li class="list" routerLinkActive="active" routerLink="/phong-cho"
            *ngIf="roleId.includes('1') || roleId.includes('3')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-house-heart"></i>
              </span>
              <span class="text">Phòng chờ</span>
            </a>
          </li>
          <li class="list" routerLinkActive="active" routerLink="/phong-cho" *ngIf="roleId.includes('2')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-house-heart"></i>
              </span>
              <span class="text">Bệnh nhân đang khám</span>
            </a>
          </li>
          <li class="list" routerLinkActive="active" routerLink="/benhnhan/danhsach"
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('3') || roleId.includes('4') || roleId.includes('5')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-person-lines-fill"></i>
              </span>
              <span class="text">Bệnh nhân</span>
            </a>
          </li>
          <li class="list" routerLinkActive="active" routerLink="/theo-doi-cham-cong"
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('3') || roleId.includes('4') || roleId.includes('5')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-calendar3"></i>
              </span>
              <span class="text">Chấm công</span>
            </a>
          </li>
          <li class="list" routerLink="/thu-thuat" *ngIf="roleId.includes('1')" routerLinkActive="active">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-clipboard2-pulse"></i>
              </span>
              <span class="text">Thủ thuật</span>
            </a>
          </li>
          <li class="list" routerLink="/nhan-vien" *ngIf="roleId.includes('1')" routerLinkActive="active">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-file-person-fill"></i>
              </span>
              <span class="text">Nhân viên</span>
            </a>
          </li>
          <li class="list" routerLink="/labo" *ngIf="roleId.includes('1')" routerLinkActive="active">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-house-door"></i>
              </span>
              <span class="text">Labo</span>
            </a>
          </li>
          <li class="list" routerLink="/mau" routerLinkActive="active"
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('5')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-file-medical"></i>
              </span>
              <span class="text">Mẫu vật</span>
            </a>
          </li>
          <li class="list" routerLink="/vat-lieu" routerLinkActive="active"
            *ngIf="roleId.includes('1') || roleId.includes('5')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-prescription2"></i>
              </span>
              <span class="text">Vật liệu</span>
            </a>
          </li>

          <li class="list" routerLink="/co-so" routerLinkActive="active" *ngIf="roleId.includes('1')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-houses"></i>
              </span>
              <span class="text">Cơ sở</span>
            </a>
          </li>
          <li class="list" routerLink="/doanh-thu" routerLinkActive="active" *ngIf="roleId.includes('1')">
            <a style="--clr:#664FC3">
              <span class="icon">
                <i class="bi bi-coin"></i>
              </span>
              <span class="text">Doanh thu</span>
            </a>
          </li>
          <li>
            <a (click)="signOut()" style="--clr:#664FC3">
              <span class="material-icons-sharp icon">
                logout
              </span>
              <span class="text">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main class="sep-main">
      <!-- Analyses -->
      <div class="analyse sep-analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-calendar3"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-houses"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-person-standing"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="icon">
            <select class="select-style">
              <option value="">Cơ sở 1</option>
              <option value="">Cơ sở 2</option>
              <option value="">Cơ sở 3</option>
            </select>
          </div>
          <div class="notification">
            <i class="bi bi-bell" (click)="toggleNotifications()"></i>
            <div class="notification-counter">{{ notifications.length }}</div>
            <div class="notification-dropdown" *ngIf="notificationCount > 0 && showNotifications">
              <!-- Notification items -->
              <div class="notification-item">
                <div class="container">
                  <header>
                    <div class="notif_box">
                      <h2 class="title">Thông báo</h2>
                      <span id="notifes">{{ notificationCount }}</span>
                    </div>
                    <p id="mark_all" (click)="markAll()">Đánh dấu là đã đọc hết</p>
                  </header>
                  <main>
                    <div class="notif_card" *ngFor="let notification of notifications"
                      [class.unread]="notification.unread">
                      <img [src]="notification.userImage" alt="avatar" />
                      <div class="description">
                        <p class="user_activity" [innerHTML]="notification.message"></p>
                        <p class="time">{{ notification.time }}</p>
                      </div>
                      <button class="delete-notification-btn" (click)="deleteNotification(notification.id)">
                        X
                      </button>
                    </div>
                  </main>
                </div>
              </div>
            </div>
          </div>
          <button (click)="addNotification()"><i class="bi bi-plus-circle"></i></button>
          <div class="info">
            <p>Xin chào, <b>{{userName}}</b></p>
            <small class="text-muted">{{roleName}}</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png" routerLink="/suahoso">
          </div>
        </div>
      </div>

      <div class="content sep-content">
        <router-outlet></router-outlet>
      </div>
      <app-chat></app-chat>

    </main>
    <!-- End of Main Content -->

  </div>
</div>
