@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.web-wrapper {
  --custom-color-primary: #507DBC;
  --custom-color-danger: #E56B6F;
  --custom-color-success: #48A9A6;
  --custom-color-warning: #ECA400;
  --custom-color-white: #ffffff;
  --custom-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --primary-color: #0056b3;
  /* Primary color for the brand */
  --accent-color: #d9534f;
  /* Accent color for emphasis */
  --text-color-dark: #333;
  /* Dark color for text */
  --text-color-light: #f8f8f8;
  /* Light color for backgrounds */
  --transition-speed: 0.3s;
  --custom-color-info-dark: #324D67;
  --custom-color-dark: #273238;
  --custom-color-light: #B8C5D3;
  --custom-color-dark-variant: #1F2A36;
  --custom-color-background: #F4F7FA;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --custom-box-shadow: 0 2rem 3rem rgba(184, 197, 211, 0.5);

  /* Button colors */
  --button-bg-color: #7B4C50;
  --button-text-color: #FFFFFF;
  --button-hover-bg-color: #3B5A8F;
  --button-active-bg-color: #2E4971;
  --button-border-color: #7B4C50;

  /* Other CSS properties */
  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem rgba(184, 197, 211, 0.5);

  --progress-appointment: #4C9AFF;
  --progress-waiting: #FFAB76;
  --progress-patient: #6DD47E;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.web-wrapper {
  font-size: 14px;
  width: 100vw;
  min-height: 100%;
  font-family: Tahoma, sans-serif;
  overflow-x: hidden;
  color: var(--custom-color-dark);
  background-color: #f6f6f9;
  /* background-image: url('https://motionarray.imgix.net/preview-2081938-s0D5NLmWFnp4m5Tm-large.jpg?w=660&q=60&fit=max&auto=format'); */
}

a {
  color: var(--custom-color-dark);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: #5d48b1
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.container-custom {
  display: grid;
  width: 95%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 15rem auto;
  /* Sidebar width and main content */
}

/* aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--custom-color-white);
  box-shadow: var(--custom-box-shadow);
  border-radius: 15px;
  min-height: 80vh;
  position: sticky;
  top: .9rem;
  transition: all var(--transition-speed) ease;
} */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Giữ logo ở trung tâm */
  flex-direction: column;
  /* Chồng ảnh và văn bản theo chiều dọc */
  padding: 1rem;
  gap: 0.5rem;
  /* Khoảng cách giữa logo và văn bản */
  /* padding-bottom: 20%; */

}

.logo p {
  display: flex;
  /* This will align the spans in a row */
  white-space: nowrap;
  /* Prevent the text from wrapping to a new line */
  justify-content: center;
  /* Center the text horizontally */
  align-items: center;
  /* Center the text vertically */
  gap: 2px;
  /* Adjust the gap between words as necessary */
  color: #9DBAD5;
  font-size: 8px;
}

/* Assuming .clinic and .danger are classes for the respective <span> elements */
.clinic,
.danger {
  display: inline;
  /* Inline display to keep text in the same line */
  font-weight: bold;
  /* Bold for both parts of the text */
  font-size: 12px;
  font-weight: 900;
}

.logo img {
  width: auto;
  /* Cho phép logo mở rộng tự nhiên theo chiều cao */
  max-width: 100%;
  /* Cho phép logo mở rộng tối đa theo chiều rộng của phần tử chứa */
  height: auto;
  /* Duy trì tỷ lệ chiều rộng/chiều cao của logo */
  min-width: 50px;
  /* Đặt chiều rộng tối thiểu cho logo */
  min-height: 50px;
  /* Đặt chiều cao tối thiểu cho logo, có thể điều chỉnh nếu cần */
  object-fit: contain;
  /* Đảm bảo logo không bị biến dạng khi mở rộng */
}


.clinic {
  color: var(--text-color-dark);
  /* Dark color for clinic name */
}

.danger {
  color: #6A5ACD;
}


main .analyse {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;
}

main .analyse>div {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  /* box-shadow: var(--custom-box-shadow); */
  cursor: pointer;
  transition: all 0.3s ease;
}

main .analyse>div:hover {
  box-shadow: none;
}

main .analyse>div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  margin-left: 0.8rem;
  font-size: .8rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
  stroke: #664FC3;
  /* Màu tím */
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .visits svg circle {
  stroke: #FFD700;
  /* Màu xanh dương */
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .examination svg circle {
  stroke: #FFB6C1;
  /* Màu xanh lá cây nhạt */
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .searches svg circle {
  stroke: #5FC792;
  /* Màu xanh lá cây nhạt */
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}


main .analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

main .new-users {
  margin-top: 1.3rem;
}

main .new-users .user-list {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .new-users .user-list:hover {
  box-shadow: none;
}

main .new-users .user-list .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .new-users .user-list .user img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}


.notification {
  position: relative;
  cursor: pointer;
}

.notification i {
  position: relative;
  font-size: 1.5rem;
}

.notification .notification-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff3d47;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-dropdown {
  display: block;
  position: absolute;
  top: 120%;
  right: 0;
  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 300px;
  z-index: 1000;
  width: 500px;
}

.notification-dropdown {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.notification-message {
  flex-grow: 1;
}

.notification-dropdown::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 14px;
  width: 16px;
  height: 16px;
  background: white;
  transform: rotate(45deg);
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.2s;
}

.delete-notification-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #888;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
}

.notification-item .text {
  font-size: 0.875rem;
  color: #333;
}

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");


.container2 {
  width: 700px;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.notif_box {
  display: flex;
  align-items: center;
}

#notifes {
  background-color: hsl(219, 85%, 26%);
  margin-left: 0.5rem;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  border-radius: 0.5rem;
}

#mark_all {
  cursor: pointer;
}

#mark_all:hover {
  color: hsl(219, 85%, 26%);
}

.notif_card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
}


.description {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

strong {
  color: hsl(224, 21%, 14%);
  cursor: pointer;
}

/* .unread {
  background-color: #5d48b1 !important;
} */

.unread p:first-of-type::after {
  content: " ";
  background-color: hsl(1, 90%, 64%);
  width: 10px;
  height: 10px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 50%;
}

.message_card {
  display: flex;
  align-items: center;

}

.message {
  padding: 1rem;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: .3rem;
  cursor: pointer;
  margin: 0 0 0 5rem;
}

.message:hover {
  background-color: hsl(211, 68%, 94%);
}

.chess_img {
  margin-left: auto;
}

@media screen and (max-width:550px) {
  .container {
    margin: 0;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;
  position: relative;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.profile:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.profile .icon .select-style {
  cursor: pointer;
}

.profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  justify-self: flex-end;
  border: 2px solid #5d48b1;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile .profile-photo:hover {
  transform: scale(1.1);
}

.profile-photo i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.profile-popup {
  display: block;
  position: absolute;
  width: 250px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fafafa;
  z-index: 1000;
  top: 100%;
  right: 0;
  animation: fadeIn 0.3s;
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile:hover .profile-popup {
  display: block;
  opacity: 1;
}

.popup-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup-menu li {
  padding: 12px 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: #333;
}

.popup-menu li:hover {
  background-color: #f5f5f5;
  transform: scale(1.05);
}

.popup-menu li:last-child {
  border-bottom: none;
}

.popup-menu li:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  /* Add specific icons here */
}

/* Styling for the dropdown arrow */
.dropdown-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: transform 0.3s;
}

.profile:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-arrow i {
  font-size: 16px;
  transition: transform 0.3s;
}

/* Styling for the link in the popup */
.popup-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.popup-menu a:hover {
  text-decoration: underline;
  color: #007bff;
}

/* Styling for the dropdown arrow */
.dropdown-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.dropdown-arrow i {
  font-size: 24px;
}

/* Styling for the link in the popup */
.popup-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.popup-menu a:hover {
  text-decoration: underline;
  color: #007bff;
}

.profile .profile-photo .dropdown-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.profile .profile-photo .dropdown-arrow i {
  font-size: 24px;
}

.select-style {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  background: linear-gradient(135deg, #664FC3 0%, #a8a8d9 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.select-style:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
}

.select-style:hover {
  background: linear-gradient(135deg, #5d48b1 0%, #9a97c8 100%);
}

.select-style:focus {
  box-shadow: 0 0 0 3px rgba(102, 79, 195, 0.5);
}

.select-style option {
  background: linear-gradient(135deg, #664FC3 0%, #a8a8d9 100%);
  color: black;
  padding: 10px;
  border: none;
}

.btn-add-custom {
  padding: 10px 20px;
  border-radius: 27px;
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  margin-right: 10px;
}

.input-custom {
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-redirect {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.button-timekeeping {
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

.open-btn {
  background-color: #7d72e4;
  color: whitesmoke;
  padding: 16px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: fixed;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
  bottom: 24px;
  right: 30px;
  width: 120px;
}

.open-btn i {
  font-size: 28px;
  margin-right: 20px;
}

.chat-popup {
  bottom: 16px;
  right: 16px;
  position: fixed;
  z-index: 9;
  width: 320px;
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 400px;
  background: white;
  border-radius: 10px 10px 6px 6px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
}

.chat-window-head {
  display: flex;
  justify-content: space-between;
  background: #7d72e4;
  padding: 16px 14px;
  border-radius: 10px 10px 0px 0px;
}

.chat-window-head i {
  font-size: 24px;
  margin-right: 10px;
}

.chat-window-head h4 {
  color: white;
  font-weight: 500;
}

.close-btn {
  color: white;
  cursor: pointer;
}

.msg-container {
  padding: 12px 10px;
  height: 300px;
  margin: 10px 0;
}

.msg {
  background-color: #e4e3ee;
  padding: 10px 17px;
  border-radius: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;

}

.msg p {
  font-size: 12px;
  line-height: 1.8;

}

.msg span {
  font-size: 10px;
  color: grey;
}

.chat-box-container {
  display: flex;
  height: 46px;
  margin-bottom: 16px;
  padding: 0px 14px;

}

.chat-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  background-color: #f5f5f5;
  border-radius: 30px;
  border: 1px solid grey;
}

.form-container input {
  width: 80%;
  padding: 4px;
  height: 46px;
  padding-left: 16px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.form-container input:focus {
  outline: none;
  background-color: #f5f5f5;
}

.send-btn .btn {
  width: 60px;
  background-color: #7d72e4;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 300ms;
}

.btn:hover,
.open-btn:hover {
  opacity: 0.9;

}
