@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #507DBC;
  --custom-color-danger: #E56B6F;
  --custom-color-success: #48A9A6;
  --custom-color-warning: #ECA400;
  --custom-color-white: #FFFFFF;
  --custom-color-info-dark: #324D67;
  --custom-color-dark: #273238;
  --custom-color-light: #B8C5D3;
  --custom-color-dark-variant: #1F2A36;
  --custom-color-background: #F4F7FA;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem rgba(184, 197, 211, 0.5);

  /* Button colors */
  --button-bg-color: #7B4C50;
  --button-text-color: #FFFFFF;
  --button-hover-bg-color: #3B5A8F;
  --button-active-bg-color: #2E4971;
  --button-border-color: #7B4C50;

  /* Other CSS properties */
  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem rgba(184, 197, 211, 0.5);

  --progress-appointment: #4C9AFF;
  --progress-waiting: #FFAB76;
  --progress-patient: #6DD47E;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.web-wrapper {
  font-size: 14px;
  width: 100vw;
  min-height: 100%;
  font-family: Tahoma, sans-serif;
  overflow-x: hidden;
  color: var(--custom-color-dark);
  background-color: #f6f6f9;
}

a {
  color: var(--custom-color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--custom-color-dark-variant);
}

b {
  color: var(--custom-color-dark);
}

.text-muted {
  color: var(--custom-color-info-dark);
}

.primary {
  color: var(--custom-color-primary);
}

.danger {
  color: var(--custom-color-danger);
}

.success {
  color: var(--custom-color-success);
}

.warning {
  color: var(--custom-color-warning);
}

.container-custom {
  display: grid;
  width: 95%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 15rem auto;
}

aside {
  height: 95vh;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--custom-color-white);
  box-shadow: var(--custom-box-shadow);
  border-radius: 15px;
  min-height: 97vh;
  position: relative;
  top: .9rem;
  transition: all 0.3s ease;
}

main .analyse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

main .analyse>div {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  /* box-shadow: var(--custom-box-shadow); */
  cursor: pointer;
  transition: all 0.3s ease;
}

main .analyse>div:hover {
  box-shadow: none;
}

main .analyse>div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  margin-left: 0.8rem;
  font-size: .8rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
  stroke: #664FC3;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .visits svg circle {
  stroke: rgb(151, 68, 68);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .searches svg circle {
  stroke: rgb(18, 18, 104);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

main .new-users {
  margin-top: 1.3rem;
}

main .new-users .user-list {
  background-color: var(--custom-color-white);
  padding: var(--custom-card-padding);
  border-radius: var(--custom-card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--custom-box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .new-users .user-list:hover {
  box-shadow: none;
}

main .new-users .user-list .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .new-users .user-list .user img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.notification {
  position: relative;
  cursor: pointer;
}

.notification i {
  position: relative;
  font-size: 1.5rem;
}

.notification .notification-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff3d47;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-dropdown {
  display: block;
  position: absolute;
  top: 120%;
  right: 0;
  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 300px;
  z-index: 1000;
  width: 500px;
}

.notification-dropdown {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.notification-message {
  flex-grow: 1;
}

.notification-dropdown::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 14px;
  width: 16px;
  height: 16px;
  background: white;
  transform: rotate(45deg);
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.2s;
}

.delete-notification-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #888;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
}

.notification-item .text {
  font-size: 0.875rem;
  color: #333;
}

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");


.container {
  width: 700px;
  background-color:  hsl(0, 0%, 100%);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.notif_box {
  display: flex;
  align-items: center;
}

#notifes {
  background-color:  hsl(219, 85%, 26%);
  margin-left: 0.5rem;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color:  hsl(0, 0%, 100%);
  font-weight: 800;
  border-radius: 0.5rem;
}

#mark_all {
  cursor: pointer;
}

#mark_all:hover {
  color:  hsl(219, 85%, 26%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notif_card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

img {
  width: 50px;
}

.description {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

strong {
  color: hsl(224, 21%, 14%);
  cursor: pointer;
}

/* .unread {
  background-color: #5d48b1 !important;
} */

.unread p:first-of-type::after {
  content: " ";
  background-color: hsl(1, 90%, 64%);
  width: 10px;
  height: 10px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 50%;
}

.message_card {
  display: flex;
  align-items: center;

}

.message {
  padding: 1rem;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: .3rem;
  cursor: pointer;
  margin: 0 0 0 5rem;
}

.message:hover {
  background-color:  hsl(211, 68%, 94%);
}

.chess_img {
  margin-left: auto;
}

@media screen and (max-width:550px) {
  .container {
    margin: 0;
  }
}


.profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  justify-items: flex-end;
}

.select-style {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  background: linear-gradient(135deg, #664FC3 0%, #a8a8d9 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.select-style:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
}

.select-style:hover {
  background: linear-gradient(135deg, #5d48b1 0%, #9a97c8 100%);
}

.select-style:focus {
  box-shadow: 0 0 0 3px rgba(102, 79, 195, 0.5);
}

.select-style option {
  background: linear-gradient(135deg, #664FC3 0%, #a8a8d9 100%);
  color: black;
  padding: 10px;
  border: none;
}

.btn-add-custom {
  padding: 10px 20px;
  border-radius: 27px;
  background-color: #FEDDCC;
  border: 1px solid #7B4C50;
  margin-right: 10px;
}

.input-custom {
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-redirect {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}

.date-input-custom {
  padding: 10px 20px;
  border: 1px solid #7B4C50;
  border-radius: 10px;
}


.custom-table thead tr {
  background-color: var(--custom-color-background);
  border-radius: 10px;
  border: 1px solid #7B4C50;
}

.custom-table thead tr th {
  color: #7B4C50;
  font-weight: 600
}

.custom-table tr {
  background-color: #7B4C50;
  border: 1px solid #7B4C50;
}

.custom-table tr td {
  border-bottom: 1px solid #7B4C50;
}

.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
  padding: 14px 8px;
  vertical-align: middle
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}


.date-input-cus {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-date-cus {
  padding: 14px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  margin-right: 30px;
}

.button-timekeeping {
  font-family: "Poppins", sans-serif;
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

.time-clockin {
  color: #1B9C85;
}

.time-clockout {
  color: red;
}

.table-container {
  position: relative;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');

.open-btn {
  background-color: #7d72e4;
  color: whitesmoke;
  padding: 16px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: fixed;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
  bottom: 24px;
  right: 30px;
  width: 120px;
}

.open-btn i {
  font-size: 28px;
  margin-right: 20px;
}

.chat-popup {
  bottom: 16px;
  right: 16px;
  position: fixed;
  z-index: 9;
  width: 320px;
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 400px;
  background: white;
  border-radius: 10px 10px 6px 6px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
}

.chat-window-head {
  display: flex;
  justify-content: space-between;
  background: #7d72e4;
  padding: 16px 14px;
  border-radius: 10px 10px 0px 0px;
}

.chat-window-head i {
  font-size: 24px;
  margin-right: 10px;
}

.chat-window-head h4 {
  color: white;
  font-weight: 500;
}

.close-btn {
  color: white;
  cursor: pointer;
}

.msg-container {
  padding: 12px 10px;
  height: 300px;
  margin: 10px 0;
}

.msg {
  background-color: #e4e3ee;
  padding: 10px 17px;
  border-radius: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;

}

.msg p {
  font-size: 12px;
  line-height: 1.8;

}

.msg span {
  font-size: 10px;
  color: grey;
}

.chat-box-container {
  display: flex;
  height: 46px;
  margin-bottom: 16px;
  padding: 0px 14px;

}

.chat-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  background-color: #f5f5f5;
  border-radius: 30px;
  border: 1px solid grey;
}

.form-container input {
  width: 80%;
  padding: 4px;
  height: 46px;
  padding-left: 16px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.form-container input:focus {
  outline: none;
  background-color: #f5f5f5;
}

.send-btn .btn {
  width: 60px;
  background-color: #7d72e4;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 300ms;
}


.btn:hover,
.open-btn:hover {
  opacity: 0.9;

}
