<div *ngIf="loading" class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div *ngIf="!loading" class="modal" id="editSpecimensModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header color-header">
        <h4 class="modal-title title text-center w-100">Cập nhật mẫu</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="name-specimens" class="col-3 name-title">Tên mẫu <span class="required">*</span></label>
                <div class="col-9 value-staff">
                  <input type="text" class="form-control" id="name-specimens" [(ngModel)]="IPutSpecimens.ms_name"
                         name="specimensName">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.name}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="quantity" class="col-3 name-title">Số lượng</label>
                <div class="col-9 value-staff">
                  <input type="number" [(ngModel)]="IPutSpecimens.ms_quantity" class="form-control date-input-custom"
                         id="quantity" name="quantity">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.quantity}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="material" class="col-3 name-title">Chất liệu</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="IPutSpecimens.ms_type" class="form-control" id="material"
                         name="material">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.type}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="unitprice" class="col-3 name-title">Đơn giá</label>
                <div class="col-9 value-staff">
                  <input type="number" [(ngModel)]="IPutSpecimens.ms_unit_price" class="form-control" id="unitprice"
                         name="unitprice">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.unitPrice}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="orderdate" class="col-3 name-title">Ngày đặt <span class="required">*</span></label>
                <div class="col-9 value-staff">

                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="orderDateNgbModal"
                           ngbDatepicker #orderDatepicker="ngbDatepicker" [placement]="'right'" placeholder="Chọn ngày đặt">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" style="height: 48px;"
                              (click)="orderDatepicker.toggle()" type="button">
                        <i class="bi bi-calendar3"></i>
                      </button>
                    </div>
                  </div>

                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.orderDate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="intomoney" class="col-3 name-title">Thành tiền</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="total" class="form-control" disabled id="intomoney" name="intomoney">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="receiverdate" class="col-3 name-title">Ngày nhận</label>
                <div class="col-9 value-staff">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="receiverDateNgbModal"
                           ngbDatepicker #receivedDatepicker="ngbDatepicker" [placement]="'right'" placeholder="Chọn ngày nhận">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" style="height: 48px;"
                              (click)="receivedDatepicker.toggle()" type="button">
                        <i class="bi bi-calendar3"></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.receivedDate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="orderby" class="col-3 name-title">Người đặt</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="IPutSpecimens.ms_orderer" class="form-control" id="orderby"
                         name="orderby">
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.order}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="installationdate" class="col-3 name-title">Ngày lắp</label>
                <div class="col-9 value-staff">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="usedDateNgbModal"
                           ngbDatepicker #usedDatepicker="ngbDatepicker" [placement]="'right'" placeholder="Chọn ngày lắp">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" style="height: 48px;"
                              (click)="usedDatepicker.toggle()" type="button">
                        <i class="bi bi-calendar3"></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.useDate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="patient" class="col-3 name-title">Bệnh nhân <span class="required">*</span></label>
                <div class="col-9 value-staff">
                  <ng-select [items]="patientList" bindLabel="patientInfor" [(ngModel)]="IPutSpecimens.p_patient_id"
                             bindValue="patientId" (keyup)="onsearch($event)" [notFoundText]="'Không tìm thấy bệnh nhân'" [disabled]="Patient_Id">

                  </ng-select>
                  <div *ngIf="isSubmitted" class="alert-danger-custom">
                    <p>
                      {{validatePutSpecimens.patient}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="patient" class="col-3 name-title">Labo <span class="required">*</span></label>
                <select class="form-select p-2" style="margin-left: 10px; width: 71%; border: 1px solid #664FC3;
              border-radius: 10px;" aria-label="Default select example" [(ngModel)]="IPutSpecimens.lb_id">
                  <option *ngFor="let labo of Labos" [value]="labo.labo_id">{{labo.name}}</option>
                  <option value="null">Không có Labo</option>
                </select>
                <div *ngIf="isSubmitted" class="alert-danger-custom">
                  <p>
                    {{validatePutSpecimens.labo}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="status" class="col-3 name-title">Trạng thái</label>
                <div class="col-9 value-staff">
                  <select class="form-select" id="status" [(ngModel)]="IPutSpecimens.ms_status"
                          aria-label="Default select example">
                    <option value="1">Chờ duyệt</option>
                    <option value="2">Chưa nhận</option>
                    <option value="3">Đã nhận</option>
                    <option value="4">Hàng lỗi</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="receiver" class="col-3 name-title">Người nhận:</label>
                <div class="col-9 value-staff">
                  <input type="text" [(ngModel)]="IPutSpecimens.ms_receiver" class="form-control" id="receiver"
                    name="receiver">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row mt-3">
                <label for="warranty" class="col-3 name-title">Ngày bảo hành</label>
                <div class="col-9 value-staff">
                  <div class="input-group">
                    <input class="form-control" placeholder="DD-MM-YYYY" name="dp" [(ngModel)]="warrantyDateNgbModal"
                      ngbDatepicker #datepickerRef="ngbDatepicker" [placement]="'right'" placeholder="Chọn ngày bảo hành">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" style="height: 48px;"
                        (click)="datepickerRef.toggle()" type="button">
                        <i class="bi bi-calendar3"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" id="cancel-edit-specimen" class="btn btn-cancel" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn button-timekeeping"
          [disabled]="isCallApi"
          (click)="EditSpecimen()" data-bs-dismiss="modal"><i
              class="bi bi-floppy2"></i> Lưu</button>
        </div>

      </div>
    </div>
  </div>
</div>
