<div class="recent-orders bg-white" style="border-radius: 15px;">

  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs" style="padding: 0px 80px;
        ">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link active"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
              style="padding: 10px; color: #7B4C50; cursor: pointer;">Khám và
              điều
              trị</a></li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>
        <!-- <div class="tab-content">
                <router-outlet></router-outlet>
              </div> -->
      </div>
    </div>
    <div class="tab-pane" id="KvDTtab">
      <div class="KvDTtab-container mt-3">
        <div class="KvDTtab-content mt-3">
          <h2>Khám tổng quát</h2>
          <div class="row content-child">
            <div class="col-md-4">
              <div class="form-group mb-3">
                <label for="">Bác sĩ khám và điều trị:</label>
                <select class="form-select" style="width: 60%;" id="doctorSelect" [(ngModel)]="staff_id">
                  <!-- Binding giá trị được chọn -->

                  <option *ngFor="let doctor of doctors" [value]="doctor.doctorid">
                    {{ doctor.doctorName }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label for="">Ngày khám</label>
              <input type="date" class="form-control" style="width: 60%;"
                [(ngModel)]="examination.created_date">
            </div>

            <div class="col-md-4">
              <label for="">Lịch trình điều trị</label>
              <select class="form-select" style="width: 60%;" aria-label="Chọn lịch trình điều trị"
                id="treatmentCourseSelect" [(ngModel)]="treatmentCourse_Id"> <!-- Binding giá trị được chọn -->
                <option *ngFor="let course of treatmentCourse" [value]="course.treatment_course_id">
                  {{ course.name }}
                </option>
              </select>
            </div>
            <!--
                  <div class="col-md-2">

                  </div> -->
          </div>

          <div class="row mt-3">
            <div class="col content-child">
              <label for="">Ghi chú chuẩn đoán</label>
            </div>
            <div class="col content-child">
              <label for="">Đơn thuốc</label>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col content-child">
              <textarea style="width: 100%;
                        text-align: justify;
                        border: 1px solid #000;
                        height: 100px;
                        " [(ngModel)]="examination.description"></textarea>
            </div>
            <div class="col content-child">
              <textarea style="width: 100%;
                        text-align: justify;
                        height: 100px;
                        border: 1px solid #000;" [(ngModel)]="examination.diagnosis"></textarea>
            </div>
          </div>

          <h2>Hình ảnh</h2>
          <div class="row mt-3 content-child">
            <div class="col-md-3">
              <!-- <img width="100%" height="100%" [src]="TreatmentCourseDetail.xRayImage" alt="ảnh nếu có"> -->
              <i class="text-center" style="font-size: 12px;">Bấm vào ô vuông này để thêm ảnh X-quang</i>
              <div class="image-container" style="border: 3px dotted #ccc;" (click)="fileInput.click()">
                <img [src]="imageURL" alt="ẢNH" class="text-center" style="cursor: pointer;">
                <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput style="display: none;">
              </div>
              <input type="text" placeholder="Hoặc nhập đường dẫn vào đây"
                style="border-bottom: 1px solid #746d6d00; width: 100%;" [(ngModel)]="this.examination.xRayImage">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-8">
              <textarea class="form-control" style="border: 1px solid #000; margin-top: 14px;
                    height: 100%;" [(ngModel)]="examination.xRayImageDes"
                placeholder="Nhận xét về ảnh x-quang(nếu có ảnh)"></textarea>
            </div>
          </div>


          <div class="row mt-4">
            <div class="col-sm-6">
              <h2>Lịch trình điều trị</h2>
            </div>
            <div class="col-sm-6">
              <button class="btn button-timekeeping float-end">Thêm mới</button>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th>Răng</th>
                      <th>Tình trạng răng</th>
                      <th>Tên thủ thuật</th>
                      <th>KH đồng ý</th>
                      <th>Đơn giá</th>
                      <th>Thành tiền</th>
                      <th>Đã trả</th>
                      <th>Còn lại</th>
                      <th>Tình trạng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>R-22</td>
                      <td>Sâu răng</td>
                      <td>Hàn R74</td>
                      <td>X</td>
                      <td>100.000</td>
                      <td>100.000</td>
                      <td>0</td>
                      <td>100.0000</td>
                      <td>Đang điều trị</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-sm-6">
              <h2>Đặt xưởng/vật tư</h2>
            </div>
            <div class="col-sm-6">
              <button class="btn button-timekeeping float-end">Thêm mới</button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th>Răng</th>
                      <th>Vật liệu</th>
                      <th>Đơn vị cung cấp</th>
                      <th>Số lượng</th>
                      <th>Đơn giá</th>
                      <th>Thành tiền</th>
                      <th>Giảm giá</th>
                      <th>Ngày đặt</th>
                      <th>Người đặt</th>
                      <th>Tình trạng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>R-27</td>
                      <td>Sứ</td>
                      <td>Kim chi Lab</td>
                      <td>1</td>
                      <td>1.500.000</td>
                      <td>1.500.000</td>
                      <td>0</td>
                      <td>14/9/2023</td>
                      <td>Admin</td>
                      <td>Đã lấy</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-sm-6">
              <h2>Vật liệu sử dụng</h2>
            </div>
            <div class="col-sm-6">
              <button class="btn button-timekeeping float-end">Thêm mới</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Tên vật liệu</th>
                      <th>Số lượng</th>
                      <th>Ngày dùng</th>
                      <th>Người thêm</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Sứ</td>
                      <td>Kim chi Lab</td>
                      <td>1</td>
                      <td>1.500.000</td>
                      <td>1.500.000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="save float-end" style="padding: 10px 0px;">
              <button class="btn button-timekeeping" (click)="postExamination()">Lưu</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
