<div class="recent-orders bg-white" style="border-radius: 15px;">

  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs" style="padding: 0px 80px;
        ">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link active"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
              style="padding: 10px; color: #7B4C50; cursor: pointer;">Khám và
              điều
              trị</a></li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>
        <!-- <div class="tab-content">
                <router-outlet></router-outlet>
              </div> -->
      </div>
    </div>

    <div class="tab-pane" id="KvDTtab">
      <div class="KvDTtab-container mt-3">
        <h2>Khám tổng quát</h2>
        <div class="row content-child">
          <div class="col-md-4">
            <div class="form-group mb-3">
              <label for="">Bác sĩ khám và điều trị:</label>
              <select class="form-select" style="width: 60%;" id="doctorSelect" [(ngModel)]="staff_id">
                <!-- Binding giá trị được chọn -->

                <option *ngFor="let doctor of doctors" [value]="doctor.doctorid">
                  {{ doctor.doctorName }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <label for="">Ngày khám</label>
            <input type="date" class="form-control" style="width: 60%;" [(ngModel)]="examination.created_date">
          </div>

          <div class="col-md-4">
            <label for="">Lịch trình điều trị</label>
            <select class="form-select" style="width: 60%;" aria-label="Chọn lịch trình điều trị"
              id="treatmentCourseSelect" [(ngModel)]="treatmentCourse_Id"> <!-- Binding giá trị được chọn -->
              <option *ngFor="let course of treatmentCourse" [value]="course.treatment_course_id">
                {{ course.name }}
              </option>
            </select>
          </div>
          <!--
                  <div class="col-md-2">

                  </div> -->
        </div>

        <div class="row mt-3">
          <div class="col content-child">
            <label for="">Ghi chú chuẩn đoán</label>
          </div>
          <div class="col content-child">
            <label for="">Đơn thuốc</label>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col content-child">
            <textarea style="width: 100%;
                        text-align: justify;
                        border: 1px solid #000;
                        height: 100px;
                        " [(ngModel)]="examination.description"></textarea>
          </div>
          <div class="col content-child">
            <textarea style="width: 100%;
                        text-align: justify;
                        height: 100px;
                        border: 1px solid #000;" [(ngModel)]="examination.diagnosis"></textarea>
          </div>
        </div>

        <h2>Hình ảnh</h2>
        <div class="row mt-3 content-child">
          <div class="col-md-3" #containerRef>
            <i class="text-center" style="font-size: 12px;">Bấm vào ô vuông này để thêm ảnh X-quang</i>
            <div class="image-container" (click)="togglePopup()" alt="">
              <div *ngFor="let url of imageUrls">
                <div class="image-wrapper">
                  <img [src]="url" style="cursor: pointer; width: 100px; height: 100px; object-fit: contain;"
                    alt="Ảnh đã chọn">
                  <button class="delete-button" (click)="removeImage(url); $event.stopPropagation()">X</button>
                </div>
              </div>
              <!-- Popup -->
              <div class="popup" [ngStyle]="{ 'display': showPopup ? 'block' : 'none' }"
                (click)="$event.stopPropagation()">
                <button (click)="fileInput.click(); showPopup=false">Chọn ảnh</button>
                <button (click)="showInput = true; showPopup = false">Nhập đường dẫn</button>
                <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput multiple
                  style="display: none;">
              </div>
            </div>
            <div *ngIf="showInput" class="fadeIn">
              <input type="text" placeholder="Hoặc nhập đường dẫn vào đây"
                style="border-bottom: 1px solid #746d6d00; width: 100%;" ngbTooltip="Nhập đường dẫn ảnh của bạn tại đây"
                [(ngModel)]="this.examination.xRayImage">
            </div>
          </div>
          <div class="col-md-1">

          </div>
          <div class="col-md-8">
            <textarea class="form-control" style="border: 1px solid #000; margin-top: 14px;
                    height: 100%;" [(ngModel)]="examination.xRayImageDes"
              placeholder="Nhận xét về ảnh x-quang(nếu có ảnh)"></textarea>
          </div>
        </div>


        <div class="row mt-4">
          <div class="col-md-12">
            <h2>Thủ thuật</h2>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <div class="table-custom">
              <div style="position: relative;">
                <i [ngStyle]="{ 'opacity': isHovering ? '1' : '0.5', 'cursor': 'pointer', 'font-size': '25px' }"
                  (mouseover)="isHovering = true" (mouseout)="isHovering = false"
                  (click)="addNewRow(1); animateIcon($event)"
                  style="position: absolute; left: 0; transform: translate(-100%, 130%);" class="bi bi-plus-circle"></i>
                <table>
                  <thead>
                    <tr>
                      <th>Tên thủ thuật</th>
                      <th>Đơn giá</th>
                      <th>Thành tiền</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of tableRows; let i = index" [ngClass]="row.animationClass" @rowAnimation>
                      <td><input [(ngModel)]="row.procedure_name" type="text" class="form-control" /></td>
                      <td><input [(ngModel)]="row.unit_price" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.total" type="number" class="form-control" /></td>
                      <td>
                        <i class="bi bi-trash" style="cursor: pointer;" (click)="removeRow(i, 1)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <h2>Đặt xưởng/vật tư</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="table-custom">
              <div style="position: relative;">
                <i [ngStyle]="{ 'opacity': isHovering ? '1' : '0.5', 'cursor': 'pointer', 'font-size': '25px' }"
                  (mouseover)="isHovering = true" (mouseout)="isHovering = false"
                  (click)="addNewRow(1); animateIcon($event)"
                  style="position: absolute; left: 0; transform: translate(-100%, 130%);" class="bi bi-plus-circle"></i>
                <table>
                  <thead>
                    <tr>
                      <th>Vật liệu</th>
                      <th>Đơn vị cung cấp</th>
                      <th>Số lượng</th>
                      <th>Đơn giá</th>
                      <th>Thành tiền</th>
                      <th>Giảm giá</th>
                      <th>Ngày đặt</th>
                      <th>Ngày lắp</th>
                      <th>Người đặt</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of supplyOrderRows; let i = index" [ngClass]="row.animationClass" @rowAnimation>
                      <td><input [(ngModel)]="row.type" type="text" class="form-control" /></td>
                      <td><input [(ngModel)]="row.supplyName" type="text" class="form-control" /></td>
                      <td><input [(ngModel)]="row.quantity" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.unit_price" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.total" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.discount" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.order_date" type="text" class="form-control" /></td>
                      <td><input [(ngModel)]="row.used_date" type="text" class="form-control" /></td>
                      <td><input [(ngModel)]="row.order" type="text" class="form-control" /></td>
                      <td>
                        <i class="bi bi-trash" style="cursor: pointer;" (click)="removeRow(i, 2)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-md-12">
            <h2>Vật liệu sử dụng</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-custom">
              <div style="position: relative;">
                <i [ngStyle]="{ 'opacity': isHovering ? '1' : '0.5', 'cursor': 'pointer', 'font-size': '25px' }"
                  (mouseover)="isHovering = true" (mouseout)="isHovering = false"
                  (click)="addNewRow(1); animateIcon($event)"
                  style="position: absolute; left: 0; transform: translate(-100%, 130%);" class="bi bi-plus-circle"></i>
                <table>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Tên vật liệu</th>
                      <th>Số lượng</th>
                      <th>Đơn giá</th>
                      <th>Thành tiền</th>
                      <th>Ngày dùng</th>
                      <th>Người thêm</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of materialUsageRows; let i = index" [ngClass]="row.animationClass"
                      @rowAnimation>
                      <td>{{i+1}}</td>
                      <td><input [(ngModel)]="row.material_name" type="text" class="form-control" /></td>
                      <td><input [(ngModel)]="row.quantity" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.unit_price" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.total" type="number" class="form-control" /></td>
                      <td><input [(ngModel)]="row.usage_date" type="text" class="form-control" /></td>
                      <td><input [(ngModel)]="row.adder" type="text" class="form-control" /></td>
                      <td>
                        <i class="bi bi-trash" style="cursor: pointer;" (click)="removeRow(i, 3)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="save float-end" style="padding: 10px 0px;">
            <button class="btn button-timekeeping" (click)="postExamination()">Lưu</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
