<div class="modal-header">
  <h4 class="modal-title">Chi tiết phiếu thu</h4>
  <button type="button" class="btn-close" (click)="dismiss()"></button>
</div>

<!-- Modal Body -->
<div #pdfContent class="modal-body">
  <div>
    Website <a href="">nguyentranclinic.com</a>
  </div>


  <h2 class="text-center header-header">Chi tiết phiếu thu</h2>

  <!-- Date and Payment Type -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Ngày tạo: <b></b></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Hình thức/Type: <b></b></p> <!-- Assuming you have a variable for Payment Type -->
    </div>
  </div>


  <!-- Patient Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Mã khách hàng/Patient Code: <b></b></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Tên khách hàng/Patient Name: <b></b></p>
    </div>
  </div>

  <!-- Address -->
  <div class="row">
    <div class="col-12">
      <p>Địa chỉ/Address: <b></b></p>
    </div>
  </div>

  <!-- Contact Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Email: <b></b></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Điện thoại/Tel: <b></b></p>
    </div>
  </div>
  <!-- Services Table -->
  <div class="row mb-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Dịch vụ (Services)</th>
            <th scope="col">Đơn giá (Unit Price)</th>
            <th scope="col">SL (Quantity)</th>
            <th scope="col">Nợ trước/Tổng cộng (Debt/Total)</th>
            <th scope="col">Thanh toán (Payment)</th>
            <th scope="col">Tổng nợ (Remain)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th colspan="4">Tổng cộng/Total: </th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

