<div class="modal-header">
  <h4 class="modal-title">Chi tiết phiếu thu</h4>
  <button type="button" class="btn-close" (click)="dismiss()"></button>
</div>

<!-- Modal Body -->
<div #pdfContent class="modal-body">
  <div>
    Website <a href="">nguyentranclinic.com</a>
  </div>


  <h2 class="text-center header-header">Chi tiết phiếu thu</h2>

  <!-- Date and Payment Type -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Ngày tạo: <b>{{ receiptDetails?.r_created_date }}</b></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Hình thức/Type: <b>{{ receiptDetails?.payment_type }}</b></p> <!-- Assuming you have a variable for Payment Type -->
    </div>
  </div>


  <!-- Patient Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Mã khách hàng/Patient Code: {{Patient.patient_id}}<b></b></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Tên khách hàng/Patient Name: {{Patient.patient_name}}<b></b></p>
    </div>
  </div>

  <!-- Address -->
  <div class="row">
    <div class="col-12">
      <p>Địa chỉ/Address: {{Patient.address}}<b></b></p>
    </div>
  </div>

  <!-- Contact Information -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Email: {{Patient.email}}<b></b></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Điện thoại/Tel: {{Patient.phone_number}}<b></b></p>
    </div>
  </div>
  <!-- Services Table -->
  <div class="row mb-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Dịch vụ (Services)</th>
            <th scope="col">Đơn giá (Unit Price)</th>
            <th scope="col">SL (Quantity)</th>
            <th scope="col">Nợ trước/Tổng cộng (Debt/Total)</th>
            <th scope="col">Thanh toán (Payment)</th>
            <th scope="col">Tổng nợ (Remain)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rc of receiptDetails">
            <td></td>
            <td>{{rc.mp_name
            }}</td>
            <td>{{rc.mu_price | currency:'VND':'symbol':'1.0-0'}}</td>
            <td>{{rc.mu_quantity}}</td>
            <td>{{rc.mu_total | currency:'VND':'symbol':'1.0-0'}}</td>
            <td>{{rc.p_total_paid | currency:'VND':'symbol':'1.0-0'}}</td>
            <td>{{rc.mu_total - rc.p_total_paid | currency:'VND':'symbol':'1.0-0'}}</td>
          </tr>
          <tr>
            <th colspan="4">Tổng cộng/Total: </th>
            <td>{{ getTotalDebtTotal() | currency:'VND':'symbol':'1.0-0' }}</td>
            <td>{{ getTotalPayment() | currency:'VND':'symbol':'1.0-0' }}</td>
            <td>{{ getTotalRemain() | currency:'VND':'symbol':'1.0-0' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

