<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

<div class="web-wrapper">
  <div class="container-custom">
    <!-- Sidebar Section -->
    <aside>

      <div class="sidebar">
        <div class="toggle">
          <div class="logo">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163864132/original/92c0b38c480b786aa8ee12c771b842986302bbed/design-unique-dental-medical-health-hospital-and-clinic-logo.png">
            <p><span class="danger">Nguyen Tran</span> Clinic</p>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">
              close
            </span>
          </div>
        </div>
        <a routerLink="/letan/lich-hen">
          <span>
            <i class="bi bi-calendar2-week"></i>
          </span>
          <h3>Lịch hẹn</h3>
        </a>
        <a routerLink="/letan/phong-cho">
          <span>
            <i class="bi bi-house-heart"></i>
          </span>
          <h3>Phòng chờ</h3>
        </a>
        <a routerLink="/admin/thu-thuat" routerLinkActive="active">
          <span>
            <i class="bi bi-clipboard2-pulse"></i>
          </span>
          <h3>Thủ thuật</h3>
        </a>
        <a routerLink="/admin/benhnhan/danhsach">
          <span class="material-icons-sharp">
            person_outline
          </span>
          <h3>Bệnh nhân</h3>
        </a>
        <a routerLink="/admin/theo-doi-cham-cong" routerLinkActive="active">
          <span class="material-icons-sharp">
             receipt_long
          </span>
          <h3> Chấm công</h3>
        </a>
        <a routerLink="/admin/nhan-vien" routerLinkActive="active">
          <span class="material-icons-sharp">
            person_outline
          </span>
          <h3>Nhân viên</h3>
        </a>
        <a routerLink="/admin/labo" routerLinkActive="active">
          <span>
            <i class="bi bi-house-door"></i>
          </span>
          <h3>Labo</h3>
        </a>
        <a routerLink="/admin/mau" routerLinkActive="active">
          <span>
            <i class="bi bi-file-medical"></i>
          </span>
          <h3>Mẫu</h3>
        </a>
        <a routerLink="/admin/vat-lieu" routerLinkActive="active">
          <span>
           <i class="bi bi-prescription2"></i>
          </span>
          <h3>Vật liệu</h3>
        </a>
        <a routerLink="/admin/thuoc" routerLinkActive="active">
          <span>
            <i class="bi bi-capsule"></i>
          </span>
          <h3>Thuốc</h3>
        </a>
        <a routerLink="/admin/co-so" routerLinkActive="active">
          <span>
            <i class="bi bi-houses"></i>
          </span>
          <h3>Cơ sở</h3>
        </a>
        <a (click)="signOut()" style="cursor:pointer;">
          <span class="material-icons-sharp">
            logout
          </span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
      <!-- Analyses -->
      <div class="analyse">
        <div class="sales">
          <div class="status">
            <div class="info">
              <h3>Lịch hẹn</h3>
              <h1 class="text-center">02</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-calendar3"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="visits">
          <div class="status">
            <div class="info">
              <h3>Phòng chờ</h3>
              <h1 class="text-center">24</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-houses"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="searches">
          <div class="status">
            <div class="info">
              <h3>Bệnh nhân</h3>
              <h1 class="text-center">23</h1>
            </div>
            <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                <i class="bi bi-person-standing"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="icon">

          </div>
          <div class="info">
            <p>Xin chào, <b>Linh</b></p>
            <small class="text-muted">Admin</small>
          </div>
          <div class="profile-photo">
            <img src="../../../../assets/img/person.png">
          </div>
        </div>
      </div>


      <router-outlet></router-outlet>
      <app-chat></app-chat>

    </main>
    <!-- End of Main Content -->

  </div>
</div>

