<div class="sep-recent-orders bg-white patient_tab" style="border-radius: 15px;">
  <!-- <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px; padding-top: 20px;">Hồ sơ bệnh nhân</h2> -->

  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <ng-container
            *ngIf="roleId.includes('1') || roleId.includes('2') || roleId.includes('4') || roleId.includes('5')">
            <li class="nav-item mr-2"><a class="nav-link active"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
                style="padding: 10px; color: #664FC3; cursor: pointer;">Khám và điều trị</a></li>
            <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/mauvat/')">Mẫu</a>
            </li>
            <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
                (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
            </li>
          </ng-container>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/phieu-thu/')">Phiếu thu</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane show active" id="TTCtab">
      <div class="title-patientName">
        <div>
          <b>Bệnh nhân: {{patientName}}</b>
        </div>
      </div>
      <!--X-Ray-->
      <div class="row" style="padding: 0px 80px 50px">
        <div class="examination-body-middle-title mb-2">
          <label> X-Quang </label>
        </div>
        <div class="button-add-img">
          <div class="btn-add-procedure">
            <button class="btn button-add" (click)="toggleAddImage()"><i
              class="bi bi-plus-circle"></i>Thêm
              mới ảnh</button>
          </div>
        </div>
        <ng-container *ngFor="let record of recordsImage; let i = index">
          <div class="col-md-3 custom-input-container">
            <div style="position: relative">
              <label for="diagnosis">Hình ảnh:</label>
              <img [src]="record.imageInsert" (click)="zoomImage()" alt="Hình ảnh mặc định" style="height: 250px; border: 1px solid black;border-radius: 10px;cursor: pointer">
              <div *ngIf="showZoomedInImage" class="modal-image"  (click)="closeZoom()">
                <img [src]="record.imageInsert" alt="Zoomed In Image" class="zoomed-in-image">
              </div>
              <div class="delete-button-container">
                <button class="delete-button" (click)="onDeleteXRayImage(record)">
                  x
                </button>
              </div>
            </div>
            <div class="image-button">
              <div>
                <button class="btn-image" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="onChangeIndex(record.id)">Chọn hình ảnh</button>
              </div>
            </div>
          </div>
          <div class="col-md-9 custom-input-container-image">
            <label for="image">Ghi chú ảnh X-Quang:</label>
            <textarea style="border-radius: 10px" id="image" rows="3" [(ngModel)]="record.description"></textarea>
          </div>
          <div class="save-img" *ngIf="isAddImage">
<!--            <div class="save">-->
<!--              <button class="btn button-add" *ngIf="isAddImage" (click)="toggleAddImage()"-->
<!--                      style="margin-right: 3px"><i class="bi bi-check-circle"> Lưu ảnh</i></button>-->
<!--            </div>-->
<!--            <div class="cancel">-->
<!--              <button type="button" class="btn btn-cancel" (click)="deleteRecordImage(i)">Hủy</button>-->
<!--            </div>-->
          </div>
        </ng-container>
        <div class="save-xray">
          <button class="btn button-add" *ngIf="isAddImage" (click)="onPostXRayImage()"><i
            class="bi bi-plus-circle"></i>Lưu ảnh</button>
        </div>
      </div>




      <div class="row" style="padding: 0px 80px 50px;">
        <div class="col-md-12" id="accordion">
          <ng-container *ngIf="ITreatmentCourse.length > 0; else noTreatmentCourse">
            <div class="card" *ngFor="let course of ITreatmentCourse; let i = index">
              <div class="card-header" (click)="toggleCollapse(course.treatment_course_id);">
                <div class="row">
                  <div class="col-10">
                    <a title="Xem thông tin lần khám của đợt khám {{ course.name }}"
                      style="color: white;cursor: pointer; text-decoration: none; font-size: 15px; text-align: start;">
                      <b style="color: white;">Ngày khám: {{convertToFormattedDate(course.created_date)}} - Chẩn đoán:
                        {{course.provisional_diagnosis}} -

                          Điều trị {{course.name}} {{ course.isCompleted?"":"(Chưa hoàn thiện lần khám)"}}


                        </b>
                    </a>
                  </div>
                  <div class="col-2">
                    <i class="bi bi-trash3 float-end"
                      style="padding-right: 20px; padding-top: 10px; font-size: 20px; cursor: pointer;"
                      (click)="deleteTreatmentCourse(course.treatment_course_id, course)" title="Xóa Liệu trình"></i>
                    <i class="bi bi-pencil-square float-end"
                      style="padding-right: 20px; padding-top: 10px; font-size: 20px; cursor: pointer;"
                      data-bs-toggle="modal" data-bs-target="#EditTreatmentModal"
                      (click)="editTreatmentCourse(course);$event.stopPropagation();" title="Sửa liệu trình"></i>
                  </div>
                </div>
              </div>
              <div *ngFor="let courseDetail of examinations; let i2 = index">
                <ng-container *ngIf="courseDetail.treatment_course_id === course.treatment_course_id">
                  <div class="card-body" *ngIf="toggleStates[course.treatment_course_id]">

                    <div class="row">
                      <div class="col">
                        <p style="cursor: pointer;" (click)="navigateEditExamination(courseDetail)"
                          title="Xem chi tiết lần khám">Lần khám {{
                          i2 + 1}}: <b>{{ courseDetail.created_date | date: 'dd/MM/yyyy'}}</b></p>
                      </div>
                      <div class="col">
                        <div class="action float-end" style="font-size: 20px; padding-right: 10px;">
                          <i class="bi bi-trash3 float-end" style="cursor: pointer;"
                            style="font-size: 20px; cursor: pointer; padding-right: 17px;" title="Xóa lần khám"
                            (click)="deleteExamination(courseDetail.examination_id)"></i>
                          <i class="bi bi-pencil-square float-end" title="Sửa lần khám"
                            style="padding-left: 25px; padding-right: 19px; font-size: 20px; cursor: pointer;color:#000"
                            (click)="navigateEditExamination(courseDetail)" data-bs-target="#EditTreatmentModal"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <ng-template #noData>
            <div class="card-body" style="padding: 10px; background-color: rgb(233, 197, 199); border-bottom: 27px;">
              <div class="row">
                <div class="col">
                  <p><b>Không có lần khám nào được tìm thấy</b></p>
                </div>
              </div>
            </div>
          </ng-template>

        </div>
      </div>
      <ng-template #noTreatmentCourse>
        <p class="no-appointment-message text-center">Bệnh nhân hiện chưa có liệu trình nào.</p>
      </ng-template>

      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-12 mt-4">
          <!--          <button class="btn button-timekeeping" data-bs-toggle="modal" data-bs-target="#AddTreatmentModal"> <i-->
          <!--              class="bi bi-plus-circle-fill"></i> Ngày khám-->
          <!--          </button>-->
          <h4 class="title text-center w-100">Thêm mới ({{currentDate}})</h4>
        </div>
      </div>

      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mã bệnh nhân</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="id" disabled
              aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Lý do khám</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="TreatmentCouseBody.lydo"
              aria-describedby="emailHelp">
          </div>
        </div>
      </div>
      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nguyên nhân</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="TreatmentCouseBody.nguyennhan"
              aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Chẩn đoán</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="TreatmentCouseBody.chuandoan"
              aria-describedby="emailHelp">
          </div>
        </div>
      </div>
      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phương án điều trị</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="TreatmentCouseBody.name"
              aria-describedby="emailHelp">
            <!--            <div *ngIf="isSubmittedTreatmentCourse" class="alert-danger-custommm" style="color:#FF0000FF;">-->
            <!--              {{validateTreatmentCouse.name}}</div>-->
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Lưu ý</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="TreatmentCouseBody.luuy"
              aria-describedby="emailHelp">
          </div>
        </div>
      </div>
      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-6">
          <div class="mb-3">
            <label for="procedureGroupSelect" class="form-label">Bảng kê chi phí</label>
            <div class="select-checkbox" (mouseleave)="showDropDown = false">
              <button class="drop-toggle btn flat" (click)="showDropDown=!showDropDown">
                <span style="color: #1e1e1e">Chọn nhóm thủ thuật</span>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="drop-show" *ngIf="showDropDown">
                <div class="group-list" *ngFor="let a of list">
                  <div class="input-name">
                    <input type="checkbox" [(ngModel)]="a.checked" (click)="getSelectedValue(a)" />
                  </div>
                  <div class="name-title">
                    <span> {{a.groupName}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-12">
          <div class="mb-3">
            <table>
              <colgroup>
                <col style="width: 5%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 20%">
              </colgroup>
              <tr class="sticky-thead">
                <th style="padding: 10px"></th>
                <th style="padding: 10px">Nhóm thủ thuật</th>
                <th style="padding: 10px">Thủ thuật</th>
                <th style="padding: 10px">Giá tiền</th>
                <th style="padding: 10px">Thành tiền</th>
                <th style="padding: 10px">Số lượng</th>
                <th style="padding: 10px">Labo</th>
              </tr>
              <ng-container *ngFor="let pro of list; let itemIndex = index">
                <ng-container *ngIf="pro.checked == true">
                  <tr class="tr-children" (click)="toggleExpand(pro)">
                    <td style="padding: 10px;float: right">
                      <i class="bi"
                        [ngClass]="{'bi-chevron-double-right': !pro.isExpand, 'bi-chevron-double-down': pro.isExpand}"></i>
                    </td>
                    <td style="padding: 10px">{{pro.groupName}}</td>
                    <td style="padding: 10px"></td>
                    <td style="padding: 10px"></td>
                    <td style="padding: 10px"></td>
                    <td style="padding: 10px"></td>
                    <td style="padding: 10px"></td>
                  </tr>
                  <tr *ngIf="pro.isExpand">
                    <td colspan="7">
                      <table>
                        <colgroup>
                          <col style="width: 5%">
                          <col style="width: 20%">
                          <col style="width: 20%">
                          <col style="width: 10%">
                          <col style="width: 10%">
                          <col style="width: 10%">
                          <col style="width: 20%">
                        </colgroup>
                        <tr class="tr-children" *ngFor="let gro of pro.procedure;let procIndex = index">
                          <td style="padding: 10px"></td>
                          <td style="padding: 10px"><i class="bi bi-arrow-return-right"></i></td>
                          <td style="padding: 10px;float: left;margin-left: 24%">
                            <input type="checkbox" style="margin-right: 3px"
                              (click)="checkProcedureUse(gro)" />{{gro.procedureName}}
                          </td>
                          <td style="padding: 10px"> {{gro.initPrice}}</td>
                          <ng-container *ngIf="gro.checked">
                            <td style="padding: 10px"><input class="form-control"
                                style="padding: 5px; border-radius: 5px;border: 1px solid #664FC3;height: 42px"
                                type="text" [(ngModel)]="gro.price" (input)="changePrice(gro, $event)"></td>
                          </ng-container>
                          <ng-container *ngIf="gro.checked">
                            <td style="padding: 10px">
                              <div class="position-relative">
                                <input class="form-control"
                                  style="padding: 5px; border-radius: 5px;border: 1px solid #664FC3;height: 42px"
                                  type="number" [(ngModel)]="gro.quantity" (input)="changeQuantity(gro, $event)">
                                <div *ngIf="valdateSpecimens['soLuong_' + itemIndex + '_' + procIndex]"
                                  [ngClass]="{'alert-danger-custom': true, 'active': valdateSpecimens['soLuong_' + itemIndex + '_' + procIndex]}">
                                  <p style="font-size: 13px">
                                    {{valdateSpecimens['soLuong_' + itemIndex + '_' + procIndex]}}
                                  </p>
                                </div>
                              </div>
                            </td>
                          </ng-container>
                          <ng-container *ngIf="gro.checked && pro.groupId == 'PG-03'">
                            <td style="padding: 10px">
                              <select class="form-select p-2" id="patient" style="margin-left: 10px; border: 1px solid #664FC3;

                                                                                            border-radius: 10px;"
                                aria-label="Default select example" [(ngModel)]="gro.laboId"
                                (ngModelChange)="changeLabo(gro)">
                                <option value="0">Chọn labo</option>
                                <option *ngFor="let a of Labos" value={{a.labo_id}}>{{a.name}}</option>
                              </select>
                            </td>
                          </ng-container>
                          <ng-container *ngIf="gro.checked && pro.groupId != 'PG-03'">
                            <td style="padding: 10px">

                            </td>
                          </ng-container>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-12">
          <div class="mb-3">
            <label for="medicine" class="form-label">Đơn thuốc:</label>
            <select class="form-select p-2" id="medicine" style="width: 233px; border: 1px solid #bebdbd;
                       border-radius: 10px;" aria-label="Default select example" (change)="onMedicineChange()"
              [(ngModel)]="selectMedicine">
              <option value="0">Chọn mẫu đơn thuốc</option>
              <option value="1">Mẫu 1</option>
              <option value="2">Mẫu 2</option>
            </select>
          </div>
          <div class="button-content" *ngIf="showPrescriptionContent">
            <div class="button-content" *ngIf="showPrescriptionContent">
              <div class="btn-add-procedure">
                <button class="btn button-add" style="margin-right: 3px" (click)="toggleAddMedicine()"><i
                    class="bi bi-plus-circle"></i>Thêm
                  mới thuốc</button>
              </div>
              <div>
                <button class="btn button-add" (click)="openGeneratePdfModal()">In đơn thuốc</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 0px 80px 30px;">
        <div class="col-12">
          <div class="mb-3" *ngIf="showPrescriptionContent">
            <table>
              <colgroup>
                <col style="width: 5%">
                <col style="width: 30%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 30%">
                <col style="width: 10%">
              </colgroup>
              <tr class="sticky-thead">
                <th style="padding: 10px">STT</th>
                <th style="padding: 10px">Tên thuốc</th>
                <th style="padding: 10px">Số lượng</th>
                <th style="padding: 10px">Đơn vị</th>
                <th style="padding: 10px">Liều dùng</th>
                <th style="padding: 10px">Thao tác</th>
              </tr>


              <ng-container *ngFor="let record of recordsMedicine; let i = index">
                <tr>
                  <td style="padding: 10px">{{ i + 1 }}</td>
                  <td style="padding: 10px">
                    <input type="text" *ngIf="isAddMedicine" [(ngModel)]="record.ten" class="form-control value-staff">
                    <p *ngIf="!isAddMedicine">{{record.ten}}</p>
                  </td>
                  <td style="padding: 10px">
                    <div class="position-relative">
                      <input type="number" *ngIf="isAddMedicine" [(ngModel)]="record.soLuong"
                        class="form-control value-staff">
                      <p *ngIf="!isAddMedicine">{{record.soLuong}}</p>
                      <div *ngIf="validateMedicine['soLuong_' + i]"
                        [ngClass]="{'alert-danger-custom': true, 'active': validateMedicine['soLuong_' + i]}">
                        <p style="font-size: 13px">
                          {{validateMedicine['soLuong_' + i]}}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td style="padding: 10px">
                    <input type="text" *ngIf="isAddMedicine" [(ngModel)]="record.donvi"
                      class="form-control value-staff">
                    <p *ngIf="!isAddMedicine">{{record.donvi}}</p>
                  </td>
                  <td style="padding: 10px">
                    <textarea type="text" *ngIf="isAddMedicine" [(ngModel)]="record.lieuDung"
                      class="form-control value-staff"></textarea>
                    <p *ngIf="!isAddMedicine">{{record.lieuDung}}</p>
                  </td>
                  <td style="padding: 10px">
                    <div class="delete-cell">
                      <button class="delete-button" (click)="deleteRecordMedicine(i)">
                        x
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
      <div class="button-action" style="padding: 0px 80px 30px; display: flex">
        <div class="button-conf">
          <button type="button" class="btn button-add" (click)="postTreatmentCourse()"><i class="bi bi-floppy2"></i>
            Lưu</button>
        </div>
        <div class="bottom-left">
          <button class=" btn btn-secondary ml-2 mt-3" routerLink="/benhnhan/danhsach">Quay lại</button>
        </div>
      </div>


<!--      <div class="bottom-left" style="padding: 0px 80px 50px">-->
<!--        <button class=" btn btn-secondary ml-2 mt-3" routerLink="/benhnhan/danhsach">Quay lại</button>-->
<!--      </div>-->
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="submissionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submissionModalLabel">Chọn ảnh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="submission-files" class="form-label">Chọn file</label>
          <input class="form-control" type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput multiple
            id="submission-files">
        </div>
        <div class="mb-3">
          <label for="link-submission" class="form-label" [(ngModel)]="imageLink">Link</label>
          <input type="text" class="form-control" id="link-submission" (change)="inputImageUrlInsert($event)" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addImageUrl()">Hoàn
          thành</button>
      </div>
    </div>
  </div>
</div>

<app-popup-add-treatmentcourse></app-popup-add-treatmentcourse>
<app-popup-edit-treatmentcourse [TreatmentCourse]="TreatmentCourse"></app-popup-edit-treatmentcourse>
