<div class="recent-orders bg-white" style="border-radius: 15px;">
  <!-- <h2 class="text-center" style="font-family: Agbalumo; font-size: 29px; padding-top: 20px;">Hồ sơ bệnh nhân</h2> -->

  <div class="content-wrapper">
    <div class="row">
      <div class="card-box">
        <ul class="nav nav-tabs" style="padding: 0px 80px;
              ">
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000; cursor: pointer;"
              (click)="navigateHref('/benhnhan/danhsach/tab/hosobenhnhan/')">Thông tin
              chung</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link active"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichtrinhdieutri/')"
              style="padding: 10px; color: #7B4C50;">Khám và
              điều
              trị</a></li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000;"
              (click)="navigateHref('/benhnhan/danhsach/tab/lichhen/')">Lịch hẹn</a>
          </li>
          <li class="nav-item mr-2"><a class="nav-link" style="padding: 10px; color: #000;"
              (click)="navigateHref('/benhnhan/danhsach/tab/thanhtoan/')">Thanh toán</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="tab-pane show active" id="TTCtab">
      <div class="row" style="padding-top: 10px; padding-right: 80px;">
        <div class="col-12">
          <button class="btn button-timekeeping float-end" data-bs-toggle="modal" data-bs-target="#AddTreatmentModal"
            (click)="addTreatmentCourse()"> <i class="bi bi-plus-circle-fill"></i> Thêm lịch trình</button>
        </div>
      </div>

      <div class="row" style="padding: 0px 80px 50px;">
        <div class="col-md-12" id="accordion">
          <div class="card" style="margin-top: 20px;" *ngFor="let course of ITreatmentCourse; let i = index">
            <div class="card-header" style="background-color: #7B4C50; color: aliceblue;">
              <div class="row">
                <div class="col">
                  <a class="collapsed btn float-start" style="color: white; padding: 2px 8px 8px; padding-left: 20px;"
                    data-bs-toggle="collapse" [attr.href]="'#collapse' + i" [attr.aria-controls]="'collapse' + i">
                    Lịch trình: {{ course.name }}
                  </a>
                </div>
                <div class="col">
                  <i class="bi bi-trash3 float-end"
                    style="padding-right: 20px; padding-top: 20px; font-size: 20px; cursor: pointer;"
                    (click)="deleteTreatmentCourse(course.treatment_course_id)" title="Xóa Liệu trình"></i>
                  <i class="bi bi-pencil-square float-end"
                    style="padding-right: 20px; padding-top: 20px; font-size: 20px; cursor: pointer;"
                    data-bs-toggle="modal" data-bs-target="#EditTreatmentModal" (click)="editTreatmentCourse(course)"
                    title="Sửa liệu trình"></i>
                  <i class="bi bi-patch-plus float-end"
                    style="padding-right: 20px; padding-top: 20px; font-size: 20px; cursor: pointer;"
                    (click)="navigateAddExamination(course.treatment_course_id)" title="Thêm lần khám">

                  </i>
                  <i class="bi bi-arrow-down-circle float-end"
                    style="padding-right: 20px; padding-top: 20px; font-size: 20px; cursor: pointer;"
                    data-bs-toggle="collapse" [attr.href]="'#collapse' + i" [attr.aria-controls]="'collapse' + i">
                  </i>
                </div>
              </div>
            </div>

            <div [id]="'collapse' + i" class="collapse" [attr.data-parent]="'#accordion'"
              *ngFor="let courseDetail of ok; let i2 = index">
              <ng-container *ngIf="courseDetail.treatment_course_id === course.treatment_course_id; else noData">
                <div class="card-body"
                  style="padding: 10px; background-color: rgb(233, 197, 199); border-bottom: 27px;">
                  <div class="row">
                    <div class="col">
                      <p style="cursor: pointer;" (click)="navigateTreatmentCourse_Detail(courseDetail)"
                        title="Xem chi tiết lần khám">Lần khám {{
                        i2 + 1}}: <b>{{ courseDetail.created_date | VNdateTimeFormat}}</b></p>
                    </div>
                    <div class="col">
                      <div class="action float-end" style="font-size: 20px; padding-right: 10px;">
                        <i class="bi bi-trash3 float-end" style="cursor: pointer;"
                          style="font-size: 20px; cursor: pointer;" title="Xóa lần khám"
                          (click)="deleteExamination(courseDetail.examination_id)"></i>
                        <i class="bi bi-pencil-square float-end" data-bs-toggle="modal" title="Sửa lần khám"
                          style="padding-left: 25px; padding-right: 20px; font-size: 20px; cursor: pointer;"
                          (click)="navigateEditExamination(courseDetail)" data-bs-target="#EditTreatmentModal"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

          </div>
          <ng-template #noData>
          </ng-template>
        </div>
      </div>
    </div>
  </div>


</div>



<app-popup-add-treatmentcourse [Patient_Id]="Patient_Id"></app-popup-add-treatmentcourse>
<app-popup-edit-treatmentcourse [TreatmentCourse]="TreatmentCourse"></app-popup-edit-treatmentcourse>
