@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.web-wrapper {
  --custom-color-primary: #6C9BCF;
  --custom-color-danger: #FF0060;
  --custom-color-success: #1B9C85;
  --custom-color-warning: #F7D060;
  --custom-color-white: #fff;
  --custom-color-info-dark: #7d8da1;
  --custom-color-dark: #363949;
  --custom-color-light: rgba(132, 139, 200, 0.18);
  --custom-color-dark-variant: #677483;
  --custom-color-background: #f6f6f9;

  --custom-card-border-radius: 2rem;
  --custom-border-radius-1: 0.4rem;
  --custom-border-radius-2: 1.2rem;

  --custom-card-padding: .8rem;
  --custom-padding-1: 1.2rem;

  --custom-box-shadow: 0 2rem 3rem var(--custom-color-light);
}

.content-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

a {
  color: var(--custom-color-dark);
}

.button-timekeeping {
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  outline: 0px;
  padding: 10px 20px;
}

.card-header {
  background-color: #664FC3;
  color: aliceblue;
  cursor: pointer;
}
.card-body{
  margin-top: 0.5%;
  padding: 10px;
  background-color: #9e92d1;
  border-bottom: 27px;
}
.title-patientName{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-patientName div b {
  font-size: 30px;
}
.examination-body-middle-title {
  height: 5%;
  font-weight: 800;
  font-size: 18px;
  color: rgb(54, 25, 192);
}
.button-add-img{
  float: right;
}
.button-add {
  background: #664FC3;
  text-align: center;
  cursor: pointer;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  float: right;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
.custom-input-container textarea {
  width: 100%;
  border-radius: 4px;
  resize: vertical;
  min-height: 100%;
}

.custom-input-container-image textarea {
  width: 100%;
  min-height: 90%;
}

.btn-image {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #664FC3;
}
.save-img{
  display: flex;
  margin-top: 1%;
  justify-content: end;
}
.btn-cancel:active,
.btn-cancel {
  font-family: "Poppins", sans-serif;
  background-color: #838282;
  text-align: center;
  border: 0px solid white;
  color: white;
  font-weight: bold;
  /*font-size: 24px;*/
  outline: 0px;
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-right: 3px;
}

.btn-cancel:hover {
  background-color: #6e6c6c;
}
.modal-image {
  position: fixed;
  z-index: 1000; /* Giá trị cao để đảm bảo nằm trên cùng */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Cho phép cuộn nếu hình ảnh lớn hơn viewport */
  display: flex; /* Sử dụng Flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  background-color: rgba(0,0,0,0.4); /* Độ mờ để tập trung vào hình ảnh */

}

.zoomed-in-image {
  display: block; /* Đảm bảo hình ảnh không có khoảng cách dưới cùng */
  max-width: 80%; /* Tối đa 80% chiều ngang của viewport */
  max-height: 80vh; /* Tối đa 80% chiều cao của viewport */
  transition: transform 0.25s ease; /* Hiệu ứng chuyển đổi mượt mà khi biến đổi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ để nổi bật hình ảnh */
}

.image-button{
  display: flex;
  justify-content: center;

}
.delete-button {
  background-color: red;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;
}
.delete-button-container {
  width: 100%;
  text-align: right;
  position: absolute;
  top: 16%;
  right: 0;
  margin-top: -20px; /* Điều chỉnh khoảng cách nút xóa so với hình ảnh */
}
.delete-button:hover {
  background-color: darkred;
}
.button-conf {
  padding: 1rem;
  text-align: right;
}
.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.required {
  color: red;
  margin-left: 3px;
}
.drop-toggle{
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  border: 1px solid #ccc;
  width: 233px;
  text-align: left;
}
.drop-toggle i{
  float:right;
}
.drop-show {
  width: 14%;
  padding: 4px;
  background-color: #FFF;
  border: 1px solid #BABABA;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
  -moz-box-shadow: 0 6px 10px rgba(0,0,0,.15);
  box-shadow: 0 6px 10px rgba(0,0,0,.15);
  margin-left: 1px;
  border-radius: 5px;
}
.drop-show label{
  display:block;
  font-size:15px;
  cursor: pointer;
}
.drop-show label input{
  vertical-align: top;
}
.drop-show label span{
  display:inline-block;
}
.fa-angle-down{
  top: 1.1rem !important;
  color: #1e1e1e;
  line-height: inherit;
}
.sticky-thead{
  background-color: #9e92d1;
}
table .tr-children:hover{
  cursor: pointer;
  background-color: #dad8d8;
}
.form-group input.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
}
.form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
}
.button-content{
  display: flex;
  justify-content: right;
}
.btn-add-procedure{
  float: right;
}
.delete-cell{
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.delete-button {
  background-color: red;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;
}
.delete-button:hover {
  background-color: darkred;
}
.title{
  padding: 15px;
  background-color: #664FC3;
  color: #FFFFFF;
  font-weight: bold;
}
.alert-danger-custom {
  background-color: #f8d7da; /* Màu nền đỏ nhạt */
  color: #721c24; /* Màu chữ đỏ đậm */
  padding: 5px 10px; /* Kích thước lề nội dung */
  border: 1px solid #f5c6cb; /* Viền đỏ nhạt */
  border-radius: 5px; /* Góc bo tròn */
  position: absolute; /* Thiết lập vị trí tuyệt đối */
  top: 100%; /* Điều chỉnh vị trí theo chiều cao của mũi tên */
  right: 0; /* Đặt vị trí ở góc bên phải */
  display: none; /* Mặc định ẩn đi */
  z-index: 1; /* Đảm bảo hiển thị trên các phần tử khác */
}

/* Hiển thị tooltip khi có lỗi */
.alert-danger-custom.active {
  display: block;
}

/* Kiểu chữ cho thông báo lỗi */
.alert-danger-custom p {
  margin: 0; /* Xóa lề ngoại dung mặc định của thẻ p */
}

/* Tạo mũi tên */
/*.alert-danger-custom::before {*/
/*  content: ''; !* Truyền nội dung rỗng *!*/
/*  position: absolute; !* Thiết lập vị trí tuyệt đối *!*/
/*  top: 100%; !* Điều chỉnh vị trí theo chiều cao của mũi tên *!*/
/*  right: 10px; !* Đặt vị trí theo chiều ngang *!*/
/*  border-width: 0 5px 10px 5px; !* Kích thước mũi tên *!*/
/*  border-style: solid;*/
/*  border-color: transparent transparent #f8d7da transparent; !* Màu sắc của mũi tên *!*/
/*}*/

/* Kiểu cho nút đóng tooltip */
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #721c24; /* Màu chữ đỏ đậm */
}
.group-list{
  display: flex;
  padding: 5px;
}
.name-title{
  margin-left: 5px;
}
.button-action{
  display: flex;
  justify-content: right;
}
.btn-secondary{
  padding: 10px 20px;
  margin-bottom: 15px;
}
