<div id="delete_employee" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3>Bạn có chắc chắn muốn xoá ?</h3>
        <div class="m-t-20">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Huỷ</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Xoá</button>
        </div>
      </div>
    </div>
  </div>
</div>
